n8n-workflow-cookie-sync.json
{
  "name": "F3 Cookie Sync",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 5 * * *"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Täglich 05:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, -120]
    },
    {
      "parameters": {},
      "id": "workflow-call-trigger",
      "name": "Von Autopost aufgerufen",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [0, -280]
    },
    {
      "parameters": {
        "updates": ["message"]
      },
      "id": "telegram-trigger",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [0, 60],
      "credentials": {
        "telegramApi": { "id": "", "name": "Telegram" }
      }
    },
    {
      "parameters": {
        "jsCode": "const text = $json.message?.text || '';\nif (!text.includes('/cookies')) {\n  return [];\n}\nreturn $input.all();"
      },
      "id": "filter-command",
      "name": "Nur /cookies Befehl",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 60]
    },
    {
      "parameters": {
        "url": "http://f3-cookie-crawler:3000/cookies",
        "options": {
          "timeout": 15000
        }
      },
      "id": "get-cookies",
      "name": "Cookies aus Chromium holen",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 0]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "check-success",
              "leftValue": "={{ $json.success }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "check-success",
      "name": "Erfolgreich?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [660, 0]
    },
    {
      "parameters": {
        "operation": "getAll",
        "projectId": "pu4jkb0uwe4ebev",
        "table": "mmvneegxgeltpav",
        "returnAll": false,
        "limit": 1,
        "where": "(Name,eq,F3-Events)"
      },
      "id": "nocodb-get-record",
      "name": "NocoDB: Record-ID holen",
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 3,
      "position": [880, -100],
      "credentials": {
        "nocoDb": { "id": "", "name": "NocoDB" }
      }
    },
    {
      "parameters": {
        "jsCode": "const cookieData = $('Cookies aus Chromium holen').first().json;\nconst record = $('NocoDB: Record-ID holen').first().json;\nconst recordId = record.Id;\n\nif (!recordId) throw new Error('NocoDB Record nicht gefunden');\n\nreturn [{\n  json: {\n    Id: recordId,\n    cookieString: cookieData.cookieString,\n    ablaufdatum: cookieData.ablaufdatum || new Date(Date.now() + 90*24*60*60*1000).toISOString().split('T')[0],\n    count: cookieData.count\n  }\n}];"
      },
      "id": "prepare-update",
      "name": "Daten aufbereiten",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, -100]
    },
    {
      "parameters": {
        "operation": "update",
        "projectId": "pu4jkb0uwe4ebev",
        "table": "mmvneegxgeltpav",
        "dataMode": "define",
        "fieldsUi": {
          "fieldValues": [
            { "fieldName": "Id", "fieldValue": "={{ $json.Id }}" },
            { "fieldName": "Cookie", "fieldValue": "={{ $json.cookieString }}" },
            { "fieldName": "Ablaufdatum", "fieldValue": "={{ $json.ablaufdatum }}" }
          ]
        }
      },
      "id": "nocodb-update",
      "name": "NocoDB: Cookies speichern",
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 3,
      "position": [1320, -100],
      "credentials": {
        "nocoDb": { "id": "", "name": "NocoDB" }
      }
    },
    {
      "parameters": {
        "chatId": "-1003592524930",
        "text": "=✅ F³ Cookies erneuert!\n\n🍪 {{ $('Daten aufbereiten').first().json.count }} JOYclub-Cookies\n📅 Gültig bis: {{ $('Daten aufbereiten').first().json.ablaufdatum }}\n🕐 {{ new Date().toLocaleTimeString('de-DE') }}\n\nAlle Workflows können laufen.",
        "additionalFields": {}
      },
      "id": "telegram-success",
      "name": "Telegram: Erfolg",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1540, -100],
      "credentials": {
        "telegramApi": { "id": "", "name": "Telegram" }
      }
    },
    {
      "parameters": {
        "chatId": "-1003592524930",
        "text": "=❌ Cookie-Extraktion fehlgeschlagen!\n\nFehler: {{ $('Cookies aus Chromium holen').first().json.error }}\n\nBitte prüfe ob Chromium läuft: browser.f3-events.de",
        "additionalFields": {}
      },
      "id": "telegram-error",
      "name": "Telegram: Fehler",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [880, 100],
      "credentials": {
        "telegramApi": { "id": "", "name": "Telegram" }
      }
    }
  ],
  "connections": {
    "Täglich 05:00": { "main": [[{ "node": "Cookies aus Chromium holen", "type": "main", "index": 0 }]] },
    "Von Autopost aufgerufen": { "main": [[{ "node": "Cookies aus Chromium holen", "type": "main", "index": 0 }]] },
    "Telegram Trigger": { "main": [[{ "node": "Nur /cookies Befehl", "type": "main", "index": 0 }]] },
    "Nur /cookies Befehl": { "main": [[{ "node": "Cookies aus Chromium holen", "type": "main", "index": 0 }]] },
    "Cookies aus Chromium holen": { "main": [[{ "node": "Erfolgreich?", "type": "main", "index": 0 }]] },
    "Erfolgreich?": {
      "main": [
        [{ "node": "NocoDB: Record-ID holen", "type": "main", "index": 0 }],
        [{ "node": "Telegram: Fehler", "type": "main", "index": 0 }]
      ]
    },
    "NocoDB: Record-ID holen": { "main": [[{ "node": "Daten aufbereiten", "type": "main", "index": 0 }]] },
    "Daten aufbereiten": { "main": [[{ "node": "NocoDB: Cookies speichern", "type": "main", "index": 0 }]] },
    "NocoDB: Cookies speichern": { "main": [[{ "node": "Telegram: Erfolg", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "meta": { "templateCredsSetupCompleted": false }
}
