f3-automation/n8n/2a-event-sync.json
{"updatedAt":"2026-04-02T10:27:09.355Z","createdAt":"2026-03-26T18:59:08.032Z","id":"VHQhES7qOfTyn4FQ","name":"F3 | 2a – Event-Sync [Sync]","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 6 * * *"}]}},"id":"3320008c-d83b-4fde-899a-a3eb662f564f","name":"Täglich 06:00","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-2288,816]},{"parameters":{"method":"GET","url":"http://f3-cookie-crawler:3000/api/cookies","options":{}},"id":"6321e3b3-ddd5-4cf2-ac93-f071ce222f39","name":"Cookies aus NocoDB","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2064,816],"credentials":{"nocoDbApiToken":{"id":"JTFuA8mXBcV97XFf","name":"NocoDB Token"}}},{"parameters":{"url":"https://www.joyclub.de/edit/event/","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Cookie","value":"={{ $json.list[0].Cookie }}"},{"name":"User-Agent","value":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36"},{"name":"Accept","value":"text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8"}]},"options":{"timeout":30000}},"id":"0002bd2c-13af-438c-94c4-ae712368a8f2","name":"Joyclub Events-Seite abrufen","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1856,816]},{"parameters":{"jsCode":"const html = $input.first().json.data || $input.first().json;\nconst htmlStr = typeof html === 'string' ? html : JSON.stringify(html);\nconst anchorRegex = /<a\\s[^>]*class=\"[^\"]*event-list-entry[^\"]*\"[^>]*>[\\s\\S]*?<\\/a>/g;\nconst hrefRegex = /href=\"(https:\\/\\/www\\.joyclub\\.de\\/event\\/(\\d+)\\/[^\"]+)\"/;\nconst nameRegex = /class=\"inner ellipsis headline-status\"[^>]*title=\"([^\"]+)\"/;\nconst dateRegex = /class=\"ela-date[^\"]*\">([^<]+)<\\/span>/;\nconst results = [];\nlet match;\nwhile ((match = anchorRegex.exec(htmlStr)) !== null) {\n  const block = match[0];\n  const hrefMatch = hrefRegex.exec(block);\n  const nameMatch = nameRegex.exec(block);\n  const dateMatch = dateRegex.exec(block);\n  if (!hrefMatch) continue;\n  if (block.includes('>Abgesagt<')) continue;\n  const link = hrefMatch[1];\n  const rawName = nameMatch ? nameMatch[1] : '';\n  const rawDate = dateMatch ? dateMatch[1].trim() : '';\n  const datum = rawDate.replace(/^\\w+\\.?,?\\s*/, '').trim();\n  let isoDatum = '';\n  const dm = datum.match(/(\\d{2})\\.(\\d{2})\\.(\\d{4})/);\n  if (dm) isoDatum = `${dm[3]}-${dm[2]}-${dm[1]}`;\n  if (rawName && datum) results.push({ json: { EventName: rawName, EventDatum: datum, isoDatum, EventLink: link } });\n}\nreturn results.length > 0 ? results : [{ json: { error: 'Keine Events gefunden', htmlLength: htmlStr.length } }];"},"id":"b81775e7-2609-4d6e-850b-5de0cc2bf780","name":"HTML parsen","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1632,816]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"no-error","leftValue":"={{ $json.error }}","rightValue":"","operator":{"type":"string","operation":"empty"}}],"combinator":"and"},"options":{}},"id":"4670919a-90db-4c60-8fe8-ed4a5b6d0ecd","name":"Events gefunden?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-1408,816]},{"parameters":{"authentication":"nocoDbApiToken","operation":"getAll","projectId":"pu4jkb0uwe4ebev","table":"mo0qnkmte1sl1mj","returnAll":true,"options":{}},"id":"4d324c1e-5147-4fe3-8806-968eb487cf54","name":"NocoDB: Aktive Events holen","type":"n8n-nodes-base.nocoDb","typeVersion":3,"position":[-1184,720],"credentials":{"nocoDbApiToken":{"id":"JTFuA8mXBcV97XFf","name":"NocoDB Token"}}},{"parameters":{"jsCode":"const scraped = $('HTML parsen').all().map(i => i.json);\nconst nocodb = $input.all().map(i => i.json);\nconst scrapedLinks = new Set(scraped.map(e => e.EventLink));\nconst nocodbMap = new Map(nocodb.map(e => [e.EventLink, e]));\nconst results = [];\nfor (const ev of scraped) { if (!nocodbMap.has(ev.EventLink)) results.push({ json: { ...ev, _action: 'create' } }); }\nfor (const ev of scraped) { const existing = nocodbMap.get(ev.EventLink); if (existing) results.push({ json: { ...ev, _action: 'update', _id: existing.Id } }); }\nfor (const ev of nocodb) { if (!scrapedLinks.has(ev.EventLink)) results.push({ json: { ...ev, _action: 'deactivate', _id: ev.Id } }); }\nreturn results;"},"id":"8336911f-7c01-4dee-b5ed-438fef1d1987","name":"Vergleichen","type":"n8n-nodes-base.code","typeVersion":2,"position":[-960,720]},{"parameters":{"chatId":"-1003592524930","text":"=✅ Joyclub Event-Sync abgeschlossen!\n\n➕ Neu: {{ $input.all().filter(i => i.json._action === 'create').length }}\n🔄 Aktualisiert: {{ $input.all().filter(i => i.json._action === 'update').length }}\n❌ Deaktiviert: {{ $input.all().filter(i => i.json._action === 'deactivate').length }}\n🕐 {{ new Date().toLocaleTimeString('de-DE') }}","additionalFields":{}},"id":"acaec1c5-ae1d-442b-b74a-9bea889b703b","name":"Telegram: Erfolg","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-960,928],"executeOnce":true,"webhookId":"5c5f5fbd-1109-4c6a-ac28-a229701016e5","credentials":{"telegramApi":{"id":"56WQCkpcuw8EcEDL","name":"Joy-Post-Bot"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json._action }}","rightValue":"create","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json._action }}","rightValue":"update","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json._action }}","rightValue":"deactivate","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}}]},"options":{}},"id":"22ea1121-c054-4ebc-a730-3fa3028fe7a1","name":"Aktion?","type":"n8n-nodes-base.switch","typeVersion":3,"position":[-736,720]},{"parameters":{"authentication":"nocoDbApiToken","operation":"create","projectId":"pu4jkb0uwe4ebev","table":"mo0qnkmte1sl1mj","fieldsUi":{"fieldValues":[{"fieldName":"EventName","fieldValue":"={{ $json.EventName }}"},{"fieldName":"EventDatum","fieldValue":"={{ $json.EventDatum }}"},{"fieldName":"EventLink","fieldValue":"={{ $json.EventLink }}"},{"fieldName":"Status","fieldValue":"aktiv"}]}},"id":"6bbf58ff-bed0-486b-9552-f7a94d55183a","name":"NocoDB: Create","type":"n8n-nodes-base.nocoDb","typeVersion":3,"position":[-528,528],"credentials":{"nocoDbApiToken":{"id":"JTFuA8mXBcV97XFf","name":"NocoDB Token"}}},{"parameters":{"method":"PATCH","url":"=https://nocodb.f3-events.de/api/v1/db/data/noco/pu4jkb0uwe4ebev/mo0qnkmte1sl1mj/{{ $json._id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"xc-token","value":"2l1BhPzXFj_Bb4pv9rKGpBMPZDkzpnKik7biab9-"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{}]},"options":{}},"id":"37d71132-2299-4111-9e63-1f5b8ea8972b","name":"NocoDB: Update","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-528,720]},{"parameters":{"method":"PATCH","url":"=https://nocodb.f3-events.de/api/v1/db/data/noco/pu4jkb0uwe4ebev/mo0qnkmte1sl1mj/{{ $json._id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"xc-token","value":"2l1BhPzXFj_Bb4pv9rKGpBMPZDkzpnKik7biab9-"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{}]},"options":{}},"id":"ccafb5d8-89fe-44c5-b902-9de6b9ed3610","name":"NocoDB: Deaktivieren","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-528,928]},{"parameters":{"chatId":"-1003592524930","text":"=❌ Joyclub Sync fehlgeschlagen!\n\nKeine Events gefunden. HTML-Länge: {{ $json.htmlLength }} Zeichen\nBitte Cookies prüfen.","additionalFields":{}},"id":"8a988e32-afa9-4f3b-9ab4-3a4e2d0b86d8","name":"Telegram: Fehler","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-1184,928],"webhookId":"856a7fa7-1cba-4a46-baf2-1db9f719c0f6","credentials":{"telegramApi":{"id":"56WQCkpcuw8EcEDL","name":"Joy-Post-Bot"}}}],"connections":{"Täglich 06:00":{"main":[[{"node":"Cookies aus NocoDB","type":"main","index":0}]]},"Cookies aus NocoDB":{"main":[[{"node":"Joyclub Events-Seite abrufen","type":"main","index":0}]]},"Joyclub Events-Seite abrufen":{"main":[[{"node":"HTML parsen","type":"main","index":0}]]},"HTML parsen":{"main":[[{"node":"Events gefunden?","type":"main","index":0}]]},"Events gefunden?":{"main":[[{"node":"NocoDB: Aktive Events holen","type":"main","index":0}],[{"node":"Telegram: Fehler","type":"main","index":0}]]},"NocoDB: Aktive Events holen":{"main":[[{"node":"Vergleichen","type":"main","index":0}]]},"Vergleichen":{"main":[[{"node":"Telegram: Erfolg","type":"main","index":0},{"node":"Aktion?","type":"main","index":0}]]},"Aktion?":{"main":[[{"node":"NocoDB: Create","type":"main","index":0}],[{"node":"NocoDB: Update","type":"main","index":0}],[{"node":"NocoDB: Deaktivieren","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false,"callerPolicy":"workflowsFromSameOwner"},"staticData":{"node:Täglich 06:00":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"7bd682fe-c3eb-4671-a73a-da9cdb13e9d4","activeVersionId":"7bd682fe-c3eb-4671-a73a-da9cdb13e9d4","versionCounter":64,"triggerCount":1,"shared":[{"updatedAt":"2026-03-26T18:59:08.032Z","createdAt":"2026-03-26T18:59:08.032Z","role":"workflow:owner","workflowId":"VHQhES7qOfTyn4FQ","projectId":"XukWgY1K98HyiBd3","project":{"updatedAt":"2026-03-23T08:24:01.303Z","createdAt":"2026-03-03T08:09:28.635Z","id":"XukWgY1K98HyiBd3","name":"Tobias Kuschel <kuschel190190@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"ccf2cf04-ab03-4a3c-be8b-c898907df6eb"}}],"tags":[],"activeVersion":{"updatedAt":"2026-04-02T10:27:09.356Z","createdAt":"2026-04-02T10:27:09.356Z","versionId":"7bd682fe-c3eb-4671-a73a-da9cdb13e9d4","workflowId":"VHQhES7qOfTyn4FQ","nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 6 * * *"}]}},"id":"3320008c-d83b-4fde-899a-a3eb662f564f","name":"Täglich 06:00","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-2288,816]},{"parameters":{"method":"GET","url":"http://f3-cookie-crawler:3000/api/cookies","options":{}},"id":"6321e3b3-ddd5-4cf2-ac93-f071ce222f39","name":"Cookies aus NocoDB","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2064,816],"credentials":{"nocoDbApiToken":{"id":"JTFuA8mXBcV97XFf","name":"NocoDB Token"}}},{"parameters":{"url":"https://www.joyclub.de/edit/event/","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Cookie","value":"={{ $json.list[0].Cookie }}"},{"name":"User-Agent","value":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36"},{"name":"Accept","value":"text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8"}]},"options":{"timeout":30000}},"id":"0002bd2c-13af-438c-94c4-ae712368a8f2","name":"Joyclub Events-Seite abrufen","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1856,816]},{"parameters":{"jsCode":"const html = $input.first().json.data || $input.first().json;\nconst htmlStr = typeof html === 'string' ? html : JSON.stringify(html);\nconst anchorRegex = /<a\\s[^>]*class=\"[^\"]*event-list-entry[^\"]*\"[^>]*>[\\s\\S]*?<\\/a>/g;\nconst hrefRegex = /href=\"(https:\\/\\/www\\.joyclub\\.de\\/event\\/(\\d+)\\/[^\"]+)\"/;\nconst nameRegex = /class=\"inner ellipsis headline-status\"[^>]*title=\"([^\"]+)\"/;\nconst dateRegex = /class=\"ela-date[^\"]*\">([^<]+)<\\/span>/;\nconst results = [];\nlet match;\nwhile ((match = anchorRegex.exec(htmlStr)) !== null) {\n  const block = match[0];\n  const hrefMatch = hrefRegex.exec(block);\n  const nameMatch = nameRegex.exec(block);\n  const dateMatch = dateRegex.exec(block);\n  if (!hrefMatch) continue;\n  if (block.includes('>Abgesagt<')) continue;\n  const link = hrefMatch[1];\n  const rawName = nameMatch ? nameMatch[1] : '';\n  const rawDate = dateMatch ? dateMatch[1].trim() : '';\n  const datum = rawDate.replace(/^\\w+\\.?,?\\s*/, '').trim();\n  let isoDatum = '';\n  const dm = datum.match(/(\\d{2})\\.(\\d{2})\\.(\\d{4})/);\n  if (dm) isoDatum = `${dm[3]}-${dm[2]}-${dm[1]}`;\n  if (rawName && datum) results.push({ json: { EventName: rawName, EventDatum: datum, isoDatum, EventLink: link } });\n}\nreturn results.length > 0 ? results : [{ json: { error: 'Keine Events gefunden', htmlLength: htmlStr.length } }];"},"id":"b81775e7-2609-4d6e-850b-5de0cc2bf780","name":"HTML parsen","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1632,816]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"no-error","leftValue":"={{ $json.error }}","rightValue":"","operator":{"type":"string","operation":"empty"}}],"combinator":"and"},"options":{}},"id":"4670919a-90db-4c60-8fe8-ed4a5b6d0ecd","name":"Events gefunden?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-1408,816]},{"parameters":{"authentication":"nocoDbApiToken","operation":"getAll","projectId":"pu4jkb0uwe4ebev","table":"mo0qnkmte1sl1mj","returnAll":true,"options":{}},"id":"4d324c1e-5147-4fe3-8806-968eb487cf54","name":"NocoDB: Aktive Events holen","type":"n8n-nodes-base.nocoDb","typeVersion":3,"position":[-1184,720],"credentials":{"nocoDbApiToken":{"id":"JTFuA8mXBcV97XFf","name":"NocoDB Token"}}},{"parameters":{"jsCode":"const scraped = $('HTML parsen').all().map(i => i.json);\nconst nocodb = $input.all().map(i => i.json);\nconst scrapedLinks = new Set(scraped.map(e => e.EventLink));\nconst nocodbMap = new Map(nocodb.map(e => [e.EventLink, e]));\nconst results = [];\nfor (const ev of scraped) { if (!nocodbMap.has(ev.EventLink)) results.push({ json: { ...ev, _action: 'create' } }); }\nfor (const ev of scraped) { const existing = nocodbMap.get(ev.EventLink); if (existing) results.push({ json: { ...ev, _action: 'update', _id: existing.Id } }); }\nfor (const ev of nocodb) { if (!scrapedLinks.has(ev.EventLink)) results.push({ json: { ...ev, _action: 'deactivate', _id: ev.Id } }); }\nreturn results;"},"id":"8336911f-7c01-4dee-b5ed-438fef1d1987","name":"Vergleichen","type":"n8n-nodes-base.code","typeVersion":2,"position":[-960,720]},{"parameters":{"chatId":"-1003592524930","text":"=✅ Joyclub Event-Sync abgeschlossen!\n\n➕ Neu: {{ $input.all().filter(i => i.json._action === 'create').length }}\n🔄 Aktualisiert: {{ $input.all().filter(i => i.json._action === 'update').length }}\n❌ Deaktiviert: {{ $input.all().filter(i => i.json._action === 'deactivate').length }}\n🕐 {{ new Date().toLocaleTimeString('de-DE') }}","additionalFields":{}},"id":"acaec1c5-ae1d-442b-b74a-9bea889b703b","name":"Telegram: Erfolg","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-960,928],"executeOnce":true,"webhookId":"5c5f5fbd-1109-4c6a-ac28-a229701016e5","credentials":{"telegramApi":{"id":"56WQCkpcuw8EcEDL","name":"Joy-Post-Bot"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json._action }}","rightValue":"create","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json._action }}","rightValue":"update","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json._action }}","rightValue":"deactivate","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}}]},"options":{}},"id":"22ea1121-c054-4ebc-a730-3fa3028fe7a1","name":"Aktion?","type":"n8n-nodes-base.switch","typeVersion":3,"position":[-736,720]},{"parameters":{"authentication":"nocoDbApiToken","operation":"create","projectId":"pu4jkb0uwe4ebev","table":"mo0qnkmte1sl1mj","fieldsUi":{"fieldValues":[{"fieldName":"EventName","fieldValue":"={{ $json.EventName }}"},{"fieldName":"EventDatum","fieldValue":"={{ $json.EventDatum }}"},{"fieldName":"EventLink","fieldValue":"={{ $json.EventLink }}"},{"fieldName":"Status","fieldValue":"aktiv"}]}},"id":"6bbf58ff-bed0-486b-9552-f7a94d55183a","name":"NocoDB: Create","type":"n8n-nodes-base.nocoDb","typeVersion":3,"position":[-528,528],"credentials":{"nocoDbApiToken":{"id":"JTFuA8mXBcV97XFf","name":"NocoDB Token"}}},{"parameters":{"method":"PATCH","url":"=https://nocodb.f3-events.de/api/v1/db/data/noco/pu4jkb0uwe4ebev/mo0qnkmte1sl1mj/{{ $json._id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"xc-token","value":"2l1BhPzXFj_Bb4pv9rKGpBMPZDkzpnKik7biab9-"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{}]},"options":{}},"id":"37d71132-2299-4111-9e63-1f5b8ea8972b","name":"NocoDB: Update","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-528,720]},{"parameters":{"method":"PATCH","url":"=https://nocodb.f3-events.de/api/v1/db/data/noco/pu4jkb0uwe4ebev/mo0qnkmte1sl1mj/{{ $json._id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"xc-token","value":"2l1BhPzXFj_Bb4pv9rKGpBMPZDkzpnKik7biab9-"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{}]},"options":{}},"id":"ccafb5d8-89fe-44c5-b902-9de6b9ed3610","name":"NocoDB: Deaktivieren","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-528,928]},{"parameters":{"chatId":"-1003592524930","text":"=❌ Joyclub Sync fehlgeschlagen!\n\nKeine Events gefunden. HTML-Länge: {{ $json.htmlLength }} Zeichen\nBitte Cookies prüfen.","additionalFields":{}},"id":"8a988e32-afa9-4f3b-9ab4-3a4e2d0b86d8","name":"Telegram: Fehler","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-1184,928],"webhookId":"856a7fa7-1cba-4a46-baf2-1db9f719c0f6","credentials":{"telegramApi":{"id":"56WQCkpcuw8EcEDL","name":"Joy-Post-Bot"}}}],"connections":{"Täglich 06:00":{"main":[[{"node":"Cookies aus NocoDB","type":"main","index":0}]]},"Cookies aus NocoDB":{"main":[[{"node":"Joyclub Events-Seite abrufen","type":"main","index":0}]]},"Joyclub Events-Seite abrufen":{"main":[[{"node":"HTML parsen","type":"main","index":0}]]},"HTML parsen":{"main":[[{"node":"Events gefunden?","type":"main","index":0}]]},"Events gefunden?":{"main":[[{"node":"NocoDB: Aktive Events holen","type":"main","index":0}],[{"node":"Telegram: Fehler","type":"main","index":0}]]},"NocoDB: Aktive Events holen":{"main":[[{"node":"Vergleichen","type":"main","index":0}]]},"Vergleichen":{"main":[[{"node":"Telegram: Erfolg","type":"main","index":0},{"node":"Aktion?","type":"main","index":0}]]},"Aktion?":{"main":[[{"node":"NocoDB: Create","type":"main","index":0}],[{"node":"NocoDB: Update","type":"main","index":0}],[{"node":"NocoDB: Deaktivieren","type":"main","index":0}]]}},"authors":"Tobias Kuschel","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-04-02T10:27:09.419Z","id":177,"workflowId":"VHQhES7qOfTyn4FQ","versionId":"7bd682fe-c3eb-4671-a73a-da9cdb13e9d4","event":"deactivated","userId":"ccf2cf04-ab03-4a3c-be8b-c898907df6eb"},{"createdAt":"2026-04-02T10:27:09.441Z","id":178,"workflowId":"VHQhES7qOfTyn4FQ","versionId":"7bd682fe-c3eb-4671-a73a-da9cdb13e9d4","event":"activated","userId":"ccf2cf04-ab03-4a3c-be8b-c898907df6eb"}]}}