f3-automation/n8n/3-autopost.json
{"updatedAt":"2026-04-03T08:06:03.722Z","createdAt":"2026-03-18T08:08:19.801Z","id":"yqrgx2LvK6gHSyUx","name":"F3 | 3 – Auto-Post [Haupt]","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"workflowId":{"__rl":true,"value":"fgHKrok4oZYaYBry","mode":"list","cachedResultUrl":"/workflow/fgHKrok4oZYaYBry","cachedResultName":"F3 Cookie Sync"},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.1,"position":[34112,20512],"id":"5e9e2800-79f8-4122-b442-6fd26523bed0","name":"🔄 Cookie Sync starten"},{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 9 * * *"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[31760,20528],"id":"c379c680-00e4-47cb-a04a-7236e609797f","name":"⏰ Täglich 09:"},{"parameters":{"url":"http://f3-cookie-crawler:3000/api/cookies","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[32304,20528],"id":"31705a3a-4c50-4fb9-8e47-8a429595a0e7","name":"🍪 Alle Cookies holen1"},{"parameters":{"jsCode":"const items = ($input.first().json.list || []).map(r => ({ json: r }));\nconst morgen = new Date();\nmorgen.setDate(morgen.getDate() + 1);\nmorgen.setHours(0,0,0,0);\n\nconst ablaufend = [];\n\nfor (const item of items) {\n  const ablauf = item.json.Ablaufdatum;\n  if (!ablauf) continue;\n  \n  const ablaufDatum = new Date(ablauf);\n  ablaufDatum.setHours(0,0,0,0);\n  \n  // Läuft in 1 Tag oder weniger ab?\n  const diffTage = Math.ceil((ablaufDatum - new Date()) / (1000 * 60 * 60 * 24));\n  \n  if (diffTage <= 1) {\n    ablaufend.push({\n      name: item.json.Name,\n      ablaufdatum: ablauf,\n      diffTage\n    });\n  }\n}\n\nif (ablaufend.length === 0) {\n  console.log('✅ Alle Cookies gültig');\n  return [{ json: { alert: false, message: 'Alle Cookies gültig' } }];\n}\n\nconst nachricht = ablaufend.map(c => \n  `⚠️ Cookie \"${c.name}\" läuft ${c.diffTage <= 0 ? 'HEUTE' : 'MORGEN'} ab! (${c.ablaufdatum})`\n).join('\\n');\n\nreturn [{ json: { alert: true, nachricht } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[32768,20528],"id":"90bebbd0-0dbb-4541-8af2-f7edcacc9b39","name":"⏱ Ablauf prüfen1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"alert-check","leftValue":"={{ $json.alert }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2,"position":[33312,20528],"id":"8b734c86-6b3b-4d57-8689-783e2767a768","name":"🔔 Alert nötig?1"},{"parameters":{"chatId":"-1003592524930","text":"=🚨 F³ Cookie läuft ab!\n\n{{ $('⏱ Ablauf prüfen1').item.json.nachricht }}\n\n👉 Bitte erneuern:\n1. browser.f3-events.de öffnen\n2. F12 → Application → Cookies\n3. Werte kopieren\n4. NocoDB → Tabelle Cookies → F3-Events aktualisieren","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[33824,20512],"id":"7fb24d44-9d98-4d9f-9941-2d3d19e5c633","name":"⚠️ Telegram: Cookie läuft ab1","webhookId":"acd4875e-994e-451e-9b31-696dece4e5d7","credentials":{"telegramApi":{"id":"K91Kw4YS9fiyGIEL","name":"Chat-Bot"}}},{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 6 * * *"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[31616,21472],"id":"0c51f5bd-6a16-40fc-8ae8-e802cc04e93c","name":"⏰ Mo-Fr 06:00 Uhr1"},{"parameters":{"jsCode":"const days = ['So', 'Mo', 'Di', 'Mi', 'Do', 'Fr', 'Sa'];\nconst today = new Date();\nconst dayName = days[today.getDay()];\nconst dateStr = today.toLocaleDateString('de-DE');\nconst isMontag = dayName === 'Mo';\nconsole.log('📅 Heute:', dayName);\nreturn [{ json: { wochentag: dayName, datum: dateStr, isMontag } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[31824,21456],"id":"a78c7451-4e38-4d05-b71b-54e627138061","name":"📅 Wochentag ermitteln1","onError":"continueErrorOutput"},{"parameters":{"url":"http://f3-cookie-crawler:3000/cookies","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[32000,21456],"id":"f254a399-8be9-49a2-8943-21734c2625b5","name":"🍪 Cookie aus NocoDB1"},{"parameters":{"jsCode":"const cookie = $input.item.json.cookieString || $input.item.json.list?.[0]?.Cookie || $input.item.json.Cookie || '';\nif (!cookie) throw new Error('Kein Cookie in NocoDB! Tabelle Cookies → Eintrag F3-Events prüfen.');\nconsole.log('✅ Cookie geladen');\n\n// Wochentag: von Scheduler-Node, oder leer wenn manuell via Webhook getriggert\nlet wochentag = '';\nlet isMontag = false;\ntry {\n  wochentag = $('📅 Wochentag ermitteln1').item.json.wochentag;\n  isMontag  = $('📅 Wochentag ermitteln1').item.json.isMontag;\n} catch(e) {\n  // Webhook-Trigger: kein Wochentag nötig\n  console.log('ℹ️  Manueller Trigger – kein Wochentag');\n}\n\nreturn [{ json: { cookie, wochentag, isMontag }}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[32144,21472],"id":"650cb39a-fd85-4852-9dec-daf25c89e8e8","name":"✅ Cookie prüfen1"},{"parameters":{"jsCode":"const resp = await this.helpers.httpRequest({\n  method: 'GET',\n  url: 'http://f3-cookie-crawler:3000/api/events?status=aktiv',\n  headers: {}\n});\nconst events = resp.list || [];\nif (!events.length) throw new Error('Keine aktiven Events in der DB');\nreturn events.map(e => ({ json: e }));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[32304,21472],"id":"4c8f65d5-bfd6-48ee-b819-31179630a773","name":"📋 Event holen1"},{"parameters":{"jsCode":"const isMontag = $('✅ Cookie prüfen1').item.json.isMontag;\nconst event = $input.item.json;\n\nif (!event || !event.EventName) {\n  throw new Error('Kein aktives Event für heute! NocoDB prüfen: Wochentag + Status=aktiv');\n}\n\nconsole.log('✅ Event:', event.EventName);\n\nlet bildUrl = '';\ntry {\n  const att = event['Event-Bild'];\n  const parsed = typeof att === 'string' ? JSON.parse(att) : att;\n  if (Array.isArray(parsed) && parsed.length > 0) {\n    const path = parsed[0].signedPath || parsed[0].path || parsed[0].url || '';\n    bildUrl = path.startsWith('http') ? path : 'https://nocodb.f3-events.de/' + path;\n  }\n} catch(e) {\n  console.log('⚠ Bild-Fehler:', e.message);\n}\n\nif (!bildUrl) throw new Error('Kein Bild! Event-Bild in NocoDB hochladen.');\n\nconsole.log('🖼 Bild URL:', bildUrl);\nreturn [{ json: { ...event, bildUrl, isMontag } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[32816,21456],"id":"65a9714b-b2b5-44a2-a883-51bc5863893d","name":"✅ Event & Bild prüfen1"},{"parameters":{"agent":"conversationalAgent","promptType":"define","text":"=Erstelle einen JOYclub Post für folgendes Event.\n\nEvent Name: {{ $('✅ Event & Bild prüfen1').item.json.EventName }}\nEvent Link: {{ $('✅ Event & Bild prüfen1').item.json.EventLink }}\nEvent Datum: {{ $('✅ Event & Bild prüfen1').item.json.EventDatum }}\nEvent Beschreibung: {{ $('✅ Event & Bild prüfen1').item.json['Event-Beschreibung'] }}\nAnmeldestand: {{ $('✅ Event & Bild prüfen1').item.json.Anmeldestand }}\nZusatzinfos: {{ $('✅ Event & Bild prüfen1').item.json.Zusatzinfos }}\nIst Montag: {{ $('✅ Event & Bild prüfen1').item.json.isMontag }}\n\nGib NUR den fertigen Post-Text aus.","options":{"systemMessage":"Du bist der Text und Kommunikationsassistent für\n🖤 F³ – Friends • Fun • Freedom · The Next Vibe\n\nDu schreibst in der Ich oder Wir Perspektive aus Sicht von Tobi als Host und Veranstalter von F³.\nF³ steht für: Selected Souls. Wild Nights. One Energy.\n\nTONALITÄT: locker, persönlich, per Du, wertschätzend, sexy aber nicht vulgär, humorvoll, immer positiv.\nSPRACHSTIL: Deutsch, kurze Absätze, gut lesbar auf Handy, keine Gedankenstriche, Emojis gezielt.\nFokus auf: Vibe, Atmosphäre, Respekt, Gästemix, Safe Space.\nImmer betonen: handverlesener Gästemix, Respekt, Nein ist Nein, Ladies Voting, Safe Space.\n\nWICHTIG: Orientiere dich an der Event-Beschreibung, formuliere aber IMMER neu und anders.\n\nSTRUKTUR:\n1. ERSTE ZEILE: Nur der Event-Link\n2. Kurzer Hook (1 Satz)\n3. 2-5 kurze Absätze\n4. WENN MONTAG: Hinweis auf Ladies Voting jeden Donnerstag\n5. Call to Action\n6. Signatur:\n🖤 F³ – Friends • Fun • Freedom\nSelected Souls. Wild Nights. One Energy.\n7. LETZTE ZEILE: https://www.joyclub.de/groups/f3_events/\n\nNur Post-Text ausgeben."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[33024,21456],"id":"7117c36d-e46f-469a-b1a5-bb108cc5a445","name":"🤖 F³ KI Agent1"},{"parameters":{"model":"gpt-4.1-mini","options":{"temperature":0.85}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[33024,21664],"id":"94ea436d-d3b1-41a5-982b-43a8bae3426a","name":"OpenAI GPT-4o1","credentials":{"openAiApi":{"id":"pq9OempR8pfDox7p","name":"OpenAi account"}}},{"parameters":{"jsCode":"const output = $input.item.json.output || $input.item.json.text || '';\nif (!output) throw new Error('Kein Text vom KI Agent!');\n\n// Nur überflüssige Whitespace am Anfang/Ende entfernen\n// Kein manuelles Escaping nötig — JSON.stringify im Post-Node erledigt das\nconst clean = output.trim();\n\nreturn [{ json: { post_text: clean } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[33296,21456],"id":"d985a1ea-6d3c-46fe-8c59-124185466956","name":"📝 Post-Text extrahieren1"},{"parameters":{"amount":3},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[33536,21456],"id":"cfd18d5b-f4af-4ded-9f82-08b1d6a7e391","name":"⏳ Pause 3 Sek1","webhookId":"b48e1888-97f7-477c-96af-ad34b570594e"},{"parameters":{"url":"={{ $('✅ Event & Bild prüfen1').item.json.bildUrl }}","options":{"response":{"response":{"responseFormat":"file"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[33776,21456],"id":"03958341-45f8-47fd-b825-cc9e855f8ffe","name":"🖼 Bild herunterladen1"},{"parameters":{"url":"https://www.joyclub.de/webauth/access_token","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"*/*"},{"name":"x-requested-with","value":"XMLHttpRequest"},{"name":"referer","value":"https://www.joyclub.de/my_joy/feed/friends/"},{"name":"user-agent","value":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/146.0.0.0 Safari/537.36"},{"name":"cookie","value":"={{ $('✅ Cookie prüfen1').item.json.cookie }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[34016,21456],"id":"905d1d30-0b0a-4359-879f-739609e16504","name":"🔑 Token holen1","onError":"continueErrorOutput"},{"parameters":{"jsCode":"const data = $input.item.json;\nconst token = data?.content?.access_token || data?.access_token || '';\nif (!token) throw new Error('❌ Kein Token! Cookie abgelaufen → NocoDB Cookies Tabelle aktualisieren → Eintrag F3-Events');\nreturn [{ json: { access_token: token } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[34256,21456],"id":"f8468b5e-dd80-4044-a83b-9bd0c3f96fe5","name":"✅ Token prüfen1","onError":"continueErrorOutput"},{"parameters":{"content":"## Trigger","height":800,"width":496},"type":"n8n-nodes-base.stickyNote","position":[31296,21216],"typeVersion":1,"id":"f4f2926a-13f8-45e7-9cd5-74d71a8b389b","name":"Sticky Note13"},{"parameters":{"content":"## Input","height":800,"width":1200,"color":2},"type":"n8n-nodes-base.stickyNote","position":[31792,21216],"typeVersion":1,"id":"d5fa5842-6788-4ab0-a3fd-1a333ceb88af","name":"Sticky Note17"},{"parameters":{"content":"## Agent / Automation","height":800,"width":688,"color":3},"type":"n8n-nodes-base.stickyNote","position":[32976,21216],"typeVersion":1,"id":"e4ddf7ee-103c-447a-91cf-4cb14e4f2ae6","name":"Sticky Note18"},{"parameters":{"content":"## Output","height":800,"width":1200,"color":4},"type":"n8n-nodes-base.stickyNote","position":[34576,21216],"typeVersion":1,"id":"1a05418e-0592-415c-b5bf-e66f087c076d","name":"Sticky Note19"},{"parameters":{"content":"## Trigger","height":384,"width":496},"type":"n8n-nodes-base.stickyNote","position":[31696,20336],"typeVersion":1,"id":"c5c483a5-4154-4999-9fe9-605ac89cae2d","name":"Sticky Note2"},{"parameters":{"content":"## Input","height":384,"width":496,"color":2},"type":"n8n-nodes-base.stickyNote","position":[32208,20336],"typeVersion":1,"id":"c2c6c67a-0e63-4c88-a59a-7522045acee3","name":"Sticky Note20"},{"parameters":{"content":"## Agent / Automation","height":384,"width":496,"color":3},"type":"n8n-nodes-base.stickyNote","position":[32720,20336],"typeVersion":1,"id":"f1bf19f7-be35-4a3a-8717-2ee7f5a46144","name":"Sticky Note21"},{"parameters":{"content":"## Output","height":384,"width":496,"color":4},"type":"n8n-nodes-base.stickyNote","position":[33232,20336],"typeVersion":1,"id":"ddb2dc64-2780-4ba7-b6d9-5bf76cee78a4","name":"Sticky Note22"},{"parameters":{"content":"## Notification","height":384,"width":496,"color":5},"type":"n8n-nodes-base.stickyNote","position":[33744,20336],"typeVersion":1,"id":"53ea95b5-480b-4ba1-a5f0-3301b52242da","name":"Sticky Note23"},{"parameters":{"content":"## 🍪Cookie holen und in Noco-DB abspeichern","height":672,"width":3024,"color":6},"type":"n8n-nodes-base.stickyNote","position":[31296,20192],"typeVersion":1,"id":"931b56fa-a257-43c6-bd9f-7014f3e45fd9","name":"Sticky Note24"},{"parameters":{"content":"## Input","height":800,"width":912,"color":2},"type":"n8n-nodes-base.stickyNote","position":[33664,21216],"typeVersion":1,"id":"8dd3849d-acf1-415c-a3ff-9c701c161cea","name":"Sticky Note25"},{"parameters":{"content":"🔀 MERGE FIX\nHier werden Binary (Bild)\nund Slot-Daten zusammengeführt.\n→ Output enthält Binary + imageId\n→ Bild hochladen kann beides nutzen","height":120,"width":280,"color":5},"type":"n8n-nodes-base.stickyNote","position":[34928,21664],"typeVersion":1,"id":"43d22eea-90af-433b-b798-b90d1265bbd3","name":"Merge Hinweis1"},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[34624,21456],"id":"22e81477-b78a-4b3b-9ec4-13867fcf4382","name":"⏳ Pause 2 Sek1","webhookId":"81150eee-5c2d-46b5-bf91-aa23202374fa"},{"parameters":{"method":"POST","url":"https://apiv2.joyclub.com/graph/","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"},{"name":"authorization","value":"=Bearer {{ $json.access_token }}"},{"name":"content-type","value":"application/json"},{"name":"origin","value":"https://www.joyclub.de"},{"name":"referer","value":"https://www.joyclub.de/my_joy/feed/friends/"},{"name":"x-requested-from","value":"https://www.joyclub.de/my_joy/feed/friends/"},{"name":"x-requested-with","value":"APIV2-Client"},{"name":"user-agent","value":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/146.0.0.0 Safari/537.36"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"query\": \"mutation createImageUploadSlotList($input: [String!]!) {\\n  imageRegistry {\\n    initialUploadSlot {\\n      createForList(originalFileNameList: $input) {\\n        __typename\\n        ... on ImageRegistryInitialUploadSlotCreateForListSuccessResponse {\\n          imageUploadSlotList {\\n            imageId\\n            fileName\\n            presignedUploadUrl\\n          }\\n        }\\n      }\\n    }\\n  }\\n}\",\n  \"variables\": { \"input\": [\"event-bild.jpg\"] },\n  \"operationName\": \"createImageUploadSlotList\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[34832,21456],"id":"190a9f5c-b6e1-4d80-9f06-b0bd8184f107","name":"📤 Upload Slot anfordern1","onError":"continueErrorOutput"},{"parameters":{"jsCode":"const data = $input.item.json;\nconst slot = data?.data?.imageRegistry?.initialUploadSlot?.createForList?.imageUploadSlotList?.[0];\n\nif (!slot) throw new Error('Kein Upload-Slot: ' + JSON.stringify(data));\n\nconsole.log('✅ Slot:', slot.imageId);\n\nreturn [{\n  json: {\n    imageId: slot.imageId,\n    presignedUploadUrl: slot.presignedUploadUrl\n  },\n  binary: $('🖼 Bild herunterladen1').item.binary\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[35040,21456],"id":"f1dc40fd-72cb-4649-a3bc-d6e439f7f2bf","name":"📦 Slot extrahieren1","onError":"continueErrorOutput"},{"parameters":{"method":"PUT","url":"={{ $json.presignedUploadUrl }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"content-type","value":"image/jpeg"}]},"sendBody":true,"contentType":"binaryData","inputDataFieldName":"data","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[35248,21456],"id":"c1947a7d-db9e-4474-bce7-360c97d5471b","name":"☁️ Bild hochladen1","onError":"continueErrorOutput"},{"parameters":{"method":"POST","url":"https://apiv2.joyclub.com/graph/","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"},{"name":"authorization","value":"=Bearer {{ $('✅ Token prüfen1').item.json.access_token }}"},{"name":"content-type","value":"application/json"},{"name":"origin","value":"https://www.joyclub.de"},{"name":"referer","value":"https://www.joyclub.de/my_joy/feed/friends/"},{"name":"x-requested-from","value":"https://www.joyclub.de/my_joy/feed/friends/"},{"name":"x-requested-with","value":"APIV2-Client"},{"name":"user-agent","value":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/146.0.0.0 Safari/537.36"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"operationName\": \"createStatusMessage\",\n  \"variables\": {\n    \"input\": {\n      \"visibility\": \"ALL\",\n      \"content\": {{ JSON.stringify($('📝 Post-Text extrahieren1').item.json.post_text) }},\n      \"upload\": null,\n      \"directUpload\": {\n        \"uploadedImageId\": {{ JSON.stringify($('📦 Slot extrahieren1').item.json.imageId) }},\n        \"isFsk18\": false\n      }\n    }\n  },\n  \"query\": \"mutation createStatusMessage($input: StatusMessageCreateInput!) { statusMessage { create(input: $input) { __typename ... on StatusMessageCreateResult { id } } } }\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[35456,21456],"id":"b56a8f3b-01e0-40f4-bad0-a1cfdb2d7968","name":"📢 Post veröffentlichen1"},{"parameters":{"chatId":"-1003592524930","text":"=✅ F³ Auto-Post erfolgreich!\n\n📌 Event: {{ $('✅ Event & Bild prüfen1').item.json.EventName }}\n📅 Datum: {{ $('✅ Event & Bild prüfen1').item.json.EventDatum }}\n🕐 Uhrzeit: {{ new Date().toLocaleTimeString('de-DE') }}\n\n🖤 Der Post ist live auf JOYclub!","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[35872,21456],"id":"62700243-ab08-4ff3-bae7-cf269a8cb344","name":"✅ Telegram: Erfolg1","webhookId":"b8785eb3-30d5-4b47-9589-4924122a8f5f","notesInFlow":false,"credentials":{"telegramApi":{"id":"56WQCkpcuw8EcEDL","name":"Joy-Post-Bot"}}},{"parameters":{"chatId":"-1003592524930","text":"=❌ F³ Auto-Post FEHLER!\n\n🚨 Fehler: {{ $json.message || 'Unbekannter Fehler' }}\n📍 Node: {{ $json.execution?.lastNodeExecuted || 'Unbekannt' }}\n🕐 Uhrzeit: {{ new Date().toLocaleTimeString('de-DE') }}\n📋 Details: {{ ($json.description || '').substring(0, 200) }}\n\n👉 Workflow prüfen:\nhttps://n8n.f3-events.de","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[35872,21904],"id":"a731809f-eac4-4b4d-8a42-925564a10d89","name":"❌ Telegram: Fehler1","webhookId":"3730b309-d44b-4a97-9ae5-9bccdcb67ab0","credentials":{"telegramApi":{"id":"SnB3bT6F4HvHGmGW","name":"Error-Bot"}}},{"parameters":{"content":"## Notification","height":800,"width":496,"color":5},"type":"n8n-nodes-base.stickyNote","position":[35776,21216],"typeVersion":1,"id":"085c3d05-15d8-4297-aa17-39d8f22f4f05","name":"Sticky Note26"},{"parameters":{"content":"## 🛠 Setup-Dokumentation – Was wurde eingerichtet?\n☁️ Hetzner\n\nVPS gemietet (Ubuntu, 8GB RAM)\nFirewall-Regel: Port 3010 für eigene IP freigegeben\nDNS-Eintrag: browser.f3-events.de → 157.90.21.222\nDNS-Eintrag: joyclub-puppeteer.f3-events.de → 157.90.21.222\n\n🐳 Coolify (auf dem VPS)\n\nCoolify installiert & konfiguriert\nGitHub App verbunden (Repo: joyclub-puppeteer)\nChromium Browser deployed (Docker, läuft 24/7)\n→ Erreichbar: https://browser.f3-events.de\n→ Zweck: JOYclub-Session dauerhaft offen halten\nPuppeteer Service deployed (wurde später nicht genutzt)\n\n🍪 JOYclub Session\n\nEinmalig manuell auf browser.f3-events.de eingeloggt\nCookies aus dem Cloud-Browser kopiert\nCookies in N8N Token-Node eingetragen\n\n🗄 NocoDB\n\nTabelle F3_Events angelegt\nFelder: EventName, EventLink, EventDatum, Event-Beschreibung, Event-Bild, Wochentag, Anmeldestand, Zusatzinfos, Status\n\n🤖 N8N Credentials\n\nNocoDB Account\nOpenAI API Key\nTelegram Bot (JoyPost_Bot)\n\n⚠️ Wiederkehrend\n\nCookies erneuern wenn 403-Fehler → browser.f3-events.de","height":1216},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[30832,20928],"id":"0256d746-0e65-4f83-b7af-4de38e82fcf9","name":"Sticky Note3"},{"parameters":{"content":"🍪 HIER COOKIES EINTRAGEN!\n\nWenn 403-Fehler:\n→ browser.f3-events.de öffnen\n→ F12 → Application → Cookies\n→ Alle 5 Werte kopieren\n\nFormat:\nFUP_sso_autologin=WERT;\nFUP_vid=WERT;\nFUP_sid=WERT;\nFUPlid=WERT;\n__zlcmid=WERT","height":428,"width":300,"color":6},"type":"n8n-nodes-base.stickyNote","position":[31312,20320],"typeVersion":1,"id":"9ff8727b-5532-4d43-86b4-544199e43f79","name":"Cookie Node Hinweis1"},{"parameters":{"content":"## Post generieren","height":672,"width":4976,"color":"#C51B1B"},"type":"n8n-nodes-base.stickyNote","position":[31296,20928],"typeVersion":1,"id":"e4c271ae-2429-4b50-9cf1-409a89280b05","name":"Sticky Note27"},{"parameters":{"chatId":"-1003592524930","text":"=⚠️ F³ Auto-Post – Fehler bei: Token holen / prüfen\n\n🚨 {{ $json.error?.message || $json.message || 'Unbekannter Fehler' }}\n🕐 {{ new Date().toLocaleTimeString('de-DE') }}\n\n👉 https://n8n.f3-events.de","additionalFields":{}},"id":"3d07eea0-fd02-4570-b571-a60a71c3cc18","name":"⚠️ Telegram: Token-Fehler1","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[34384,21824],"webhookId":"004a919d-66be-4f99-9b9a-3bb854dde8c6","credentials":{"telegramApi":{"id":"56WQCkpcuw8EcEDL","name":"Joy-Post-Bot"}}},{"parameters":{"chatId":"-1003592524930","text":"=⚠️ F³ Auto-Post – Fehler bei: Upload-Slot anfordern\n\n🚨 {{ $json.error?.message || $json.message || 'Unbekannter Fehler' }}\n🕐 {{ new Date().toLocaleTimeString('de-DE') }}\n\n👉 https://n8n.f3-events.de","additionalFields":{}},"id":"981e1817-ad1c-483d-892b-ed7272958f68","name":"⚠️ Telegram: Upload-Slot-Fehler1","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[35104,21840],"webhookId":"6dffa96f-7511-47cf-8231-5e8be3247d63","credentials":{"telegramApi":{"id":"SnB3bT6F4HvHGmGW","name":"Error-Bot"}}},{"parameters":{"chatId":"-1003592524930","text":"=⚠️ F³ Auto-Post – Fehler bei: Bild hochladen\n\n🚨 {{ $json.error?.message || $json.message || 'Unbekannter Fehler' }}\n🕐 {{ new Date().toLocaleTimeString('de-DE') }}\n\n👉 https://n8n.f3-events.de","additionalFields":{}},"id":"95b3ee37-f4a3-4d40-a649-da16d1ae8083","name":"⚠️ Telegram: Bild-Upload-Fehler1","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[35472,21696],"webhookId":"27c02d4d-59e1-4f7f-9088-e0a39691f7a6","credentials":{"telegramApi":{"id":"SnB3bT6F4HvHGmGW","name":"Error-Bot"}}},{"parameters":{"jsCode":"// Prüft ob Event holen überhaupt Items geliefert hat\n// Bei 0 Items: wirft Fehler → wird per Telegram gemeldet\nconst items = $input.all();\n\nif (!items || items.length === 0) {\n  throw new Error(\n    'Kein aktives Event für heute gefunden! '\n    + 'NocoDB prüfen: Wochentag=' + $(\"📅 Wochentag ermitteln1\").item.json.wochentag\n    + ' Status=aktiv'\n  );\n}\n\nconst event = items[0].json;\nif (!event || !event.EventName) {\n  throw new Error('Event gefunden, aber kein EventName! NocoDB-Daten prüfen.');\n}\n\nconsole.log('✅ Event gefunden:', event.EventName);\nreturn items;"},"id":"ba05fc99-0bc9-4e8f-b17c-482aec9daf15","name":"🔍 Event vorhanden?1","type":"n8n-nodes-base.code","typeVersion":2,"position":[32624,21472],"onError":"continueErrorOutput"},{"parameters":{"chatId":"-1003592524930","text":"=⚠️ F³ Auto-Post – Kein Event gefunden!\n\n📅 Wochentag: {{ $(\"✅ Cookie prüfen1\").all()[0].json.wochentag || \"(manueller Push)\" }}\n🕐 {{ new Date().toLocaleTimeString(\"de-DE\") }}\n\nBitte in NocoDB prüfen:\n→ Event mit passendem Wochentag vorhanden?\n→ Status auf \"aktiv\" gesetzt?\n→ Event-Bild hochgeladen?","additionalFields":{}},"id":"24470a81-fe24-4471-92de-e949e763bd42","name":"⚠️ Telegram: Kein Event1","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[33024,22048],"webhookId":"08191ae2-18cc-408b-9d46-1152c49e6d8a","credentials":{"telegramApi":{"id":"56WQCkpcuw8EcEDL","name":"Joy-Post-Bot"}}},{"parameters":{"jsCode":"// Filtert Events: entweder nach Wochentag (Scheduler) oder nach Event-ID (manuell)\nconst items = $input.all();\n\n// Prüfen ob ein manueller Webhook-Trigger mit eventId vorliegt\nlet eventId = null;\ntry {\n  const body = $('🚀 Webhook: Jetzt Pushen').item.json.body || $('🚀 Webhook: Jetzt Pushen').item.json;\n  if (body && body.eventId) {\n    eventId = String(body.eventId);\n    console.log(`🚀 Manueller Trigger für Event-ID: ${eventId}`);\n  }\n} catch(e) {\n  // Kein Webhook-Trigger\n}\n\nif (eventId) {\n  // Manueller Push: Event nach ID suchen\n  const matching = items.filter(item => String(item.json.Id) === eventId);\n  console.log(`📊 Events gesamt: ${items.length}, gefunden: ${matching.length}`);\n  if (matching.length === 0) {\n    throw new Error(`Event-ID ${eventId} nicht in NocoDB post-f3 View gefunden!`);\n  }\n  return [matching[0]];\n}\n\n// Scheduler-Trigger: nach Wochentag filtern (bisherige Logik)\nconst wochentag = $('✅ Cookie prüfen1').item.json.wochentag;\nconsole.log(`📅 Suche Event für Wochentag: ${wochentag}`);\nconsole.log(`📊 Alle Events in NocoDB: ${items.length}`);\n\nconst matching = items.filter(item => {\n  const w = (item.json.Wochentag || '').replace(/\\s/g, '');\n  const tags = w.split(',');\n  return tags.includes(wochentag);\n});\n\nconsole.log(`✅ Passende Events: ${matching.length}`);\n\nif (matching.length === 0) {\n  const alleWochentage = items.map(i => i.json.Wochentag).join(', ');\n  throw new Error(\n    `Kein aktives Event für ${wochentag}! `\n    + `Verfügbare Wochentage: ${alleWochentage}`\n  );\n}\n\nreturn [matching[0]];"},"id":"572fd4ea-2aca-4208-8790-ab915cdadd6c","name":"📅 Event nach Tag filtern1","type":"n8n-nodes-base.code","typeVersion":2,"position":[32464,21472],"onError":"continueErrorOutput"},{"parameters":{"httpMethod":"POST","path":"f3-autopush-manual","responseMode":"responseNode","options":{}},"name":"🚀 Webhook: Jetzt Pushen","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[31616,21760],"id":"a1b2c3d4-e5f6-7890-abcd-ef1234567890","webhookId":"f3-autopush-manual"},{"parameters":{"respondWith":"json","responseBody":"={ \"ok\": true, \"message\": \"Post wird vorbereitet...\" }","options":{}},"name":"✉️ Webhook Antwort","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[32000,21760],"id":"b2c3d4e5-f6a7-8901-bcde-f12345678901"}],"connections":{"⏰ Täglich 09:":{"main":[[{"node":"🍪 Alle Cookies holen1","type":"main","index":0}]]},"🍪 Alle Cookies holen1":{"main":[[{"node":"⏱ Ablauf prüfen1","type":"main","index":0}]]},"⏱ Ablauf prüfen1":{"main":[[{"node":"🔔 Alert nötig?1","type":"main","index":0}]]},"🔔 Alert nötig?1":{"main":[[{"node":"⚠️ Telegram: Cookie läuft ab1","type":"main","index":0}]]},"⚠️ Telegram: Cookie läuft ab1":{"main":[[{"node":"🔄 Cookie Sync starten","type":"main","index":0}]]},"⏰ Mo-Fr 06:00 Uhr1":{"main":[[{"node":"📅 Wochentag ermitteln1","type":"main","index":0}]]},"📅 Wochentag ermitteln1":{"main":[[{"node":"🍪 Cookie aus NocoDB1","type":"main","index":0}],[{"node":"⚠️ Telegram: Kein Event1","type":"main","index":0}]]},"🍪 Cookie aus NocoDB1":{"main":[[{"node":"✅ Cookie prüfen1","type":"main","index":0}]]},"✅ Cookie prüfen1":{"main":[[{"node":"📋 Event holen1","type":"main","index":0}]]},"📋 Event holen1":{"main":[[{"node":"📅 Event nach Tag filtern1","type":"main","index":0}]]},"✅ Event & Bild prüfen1":{"main":[[{"node":"🤖 F³ KI Agent1","type":"main","index":0}]]},"🤖 F³ KI Agent1":{"main":[[{"node":"📝 Post-Text extrahieren1","type":"main","index":0}]]},"OpenAI GPT-4o1":{"ai_languageModel":[[{"node":"🤖 F³ KI Agent1","type":"ai_languageModel","index":0}]]},"📝 Post-Text extrahieren1":{"main":[[{"node":"⏳ Pause 3 Sek1","type":"main","index":0}]]},"⏳ Pause 3 Sek1":{"main":[[{"node":"🖼 Bild herunterladen1","type":"main","index":0}]]},"🖼 Bild herunterladen1":{"main":[[{"node":"🔑 Token holen1","type":"main","index":0}]]},"🔑 Token holen1":{"main":[[{"node":"✅ Token prüfen1","type":"main","index":0}],[{"node":"⚠️ Telegram: Token-Fehler1","type":"main","index":0}]]},"✅ Token prüfen1":{"main":[[{"node":"⏳ Pause 2 Sek1","type":"main","index":0}],[{"node":"⚠️ Telegram: Token-Fehler1","type":"main","index":0}]]},"⏳ Pause 2 Sek1":{"main":[[{"node":"📤 Upload Slot anfordern1","type":"main","index":0}]]},"📤 Upload Slot anfordern1":{"main":[[{"node":"📦 Slot extrahieren1","type":"main","index":0}],[{"node":"⚠️ Telegram: Upload-Slot-Fehler1","type":"main","index":0}]]},"📦 Slot extrahieren1":{"main":[[{"node":"☁️ Bild hochladen1","type":"main","index":0}],[{"node":"⚠️ Telegram: Upload-Slot-Fehler1","type":"main","index":0}]]},"☁️ Bild hochladen1":{"main":[[{"node":"📢 Post veröffentlichen1","type":"main","index":0}],[{"node":"⚠️ Telegram: Bild-Upload-Fehler1","type":"main","index":0}]]},"📢 Post veröffentlichen1":{"main":[[{"node":"✅ Telegram: Erfolg1","type":"main","index":0}]]},"🔍 Event vorhanden?1":{"main":[[{"node":"✅ Event & Bild prüfen1","type":"main","index":0}],[{"node":"⚠️ Telegram: Kein Event1","type":"main","index":0}]]},"📅 Event nach Tag filtern1":{"main":[[{"node":"🔍 Event vorhanden?1","type":"main","index":0}],[{"node":"⚠️ Telegram: Kein Event1","type":"main","index":0}]]},"🚀 Webhook: Jetzt Pushen":{"main":[[{"node":"🍪 Cookie aus NocoDB1","type":"main","index":0},{"node":"✉️ Webhook Antwort","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false,"timeSavedMode":"fixed","errorWorkflow":"RSFIo9kzWL38fS8g","callerPolicy":"workflowsFromSameOwner"},"staticData":{"node:⏰ Täglich 09:00":{"recurrenceRules":[]},"node:⏰ Mo-Fr 06:00 Uhr":{"recurrenceRules":[]},"node:⏰ Täglich 09:":{"recurrenceRules":[]},"node:⏰ Mo-Fr 06:00 Uhr1":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"b98dbc73-a13f-4a1c-b479-e62f1a98411f","activeVersionId":"0529beb2-1769-4dd5-a6aa-2947a9a2ba8e","versionCounter":268,"triggerCount":3,"shared":[{"updatedAt":"2026-03-18T08:08:19.801Z","createdAt":"2026-03-18T08:08:19.801Z","role":"workflow:owner","workflowId":"yqrgx2LvK6gHSyUx","projectId":"XukWgY1K98HyiBd3","project":{"updatedAt":"2026-03-23T08:24:01.303Z","createdAt":"2026-03-03T08:09:28.635Z","id":"XukWgY1K98HyiBd3","name":"Tobias Kuschel <kuschel190190@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"ccf2cf04-ab03-4a3c-be8b-c898907df6eb"}}],"tags":[],"activeVersion":{"updatedAt":"2026-04-03T07:17:00.352Z","createdAt":"2026-04-03T07:17:00.352Z","versionId":"0529beb2-1769-4dd5-a6aa-2947a9a2ba8e","workflowId":"yqrgx2LvK6gHSyUx","nodes":[{"parameters":{"workflowId":{"__rl":true,"value":"fgHKrok4oZYaYBry","mode":"list","cachedResultUrl":"/workflow/fgHKrok4oZYaYBry","cachedResultName":"F3 Cookie Sync"},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.1,"position":[34112,20512],"id":"5e9e2800-79f8-4122-b442-6fd26523bed0","name":"🔄 Cookie Sync starten"},{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 9 * * *"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[31760,20528],"id":"c379c680-00e4-47cb-a04a-7236e609797f","name":"⏰ Täglich 09:"},{"parameters":{"method":"GET","url":"http://f3-cookie-crawler:3000/api/cookies","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[32304,20528],"id":"31705a3a-4c50-4fb9-8e47-8a429595a0e7","name":"🍪 Alle Cookies holen1","credentials":{"nocoDbApiToken":{"id":"JTFuA8mXBcV97XFf","name":"NocoDB Token"}}},{"parameters":{"jsCode":"const items = ($input.first().json.list || []).map(r => ({ json: r }));\nconst morgen = new Date();\nmorgen.setDate(morgen.getDate() + 1);\nmorgen.setHours(0,0,0,0);\n\nconst ablaufend = [];\n\nfor (const item of items) {\n  const ablauf = item.json.Ablaufdatum;\n  if (!ablauf) continue;\n  \n  const ablaufDatum = new Date(ablauf);\n  ablaufDatum.setHours(0,0,0,0);\n  \n  // Läuft in 1 Tag oder weniger ab?\n  const diffTage = Math.ceil((ablaufDatum - new Date()) / (1000 * 60 * 60 * 24));\n  \n  if (diffTage <= 1) {\n    ablaufend.push({\n      name: item.json.Name,\n      ablaufdatum: ablauf,\n      diffTage\n    });\n  }\n}\n\nif (ablaufend.length === 0) {\n  console.log('✅ Alle Cookies gültig');\n  return [{ json: { alert: false, message: 'Alle Cookies gültig' } }];\n}\n\nconst nachricht = ablaufend.map(c => \n  `⚠️ Cookie \"${c.name}\" läuft ${c.diffTage <= 0 ? 'HEUTE' : 'MORGEN'} ab! (${c.ablaufdatum})`\n).join('\\n');\n\nreturn [{ json: { alert: true, nachricht } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[32768,20528],"id":"90bebbd0-0dbb-4541-8af2-f7edcacc9b39","name":"⏱ Ablauf prüfen1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"alert-check","leftValue":"={{ $json.alert }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2,"position":[33312,20528],"id":"8b734c86-6b3b-4d57-8689-783e2767a768","name":"🔔 Alert nötig?1"},{"parameters":{"chatId":"-1003592524930","text":"=🚨 F³ Cookie läuft ab!\n\n{{ $('⏱ Ablauf prüfen1').item.json.nachricht }}\n\n👉 Bitte erneuern:\n1. browser.f3-events.de öffnen\n2. F12 → Application → Cookies\n3. Werte kopieren\n4. NocoDB → Tabelle Cookies → F3-Events aktualisieren","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[33824,20512],"id":"7fb24d44-9d98-4d9f-9941-2d3d19e5c633","name":"⚠️ Telegram: Cookie läuft ab1","webhookId":"acd4875e-994e-451e-9b31-696dece4e5d7","credentials":{"telegramApi":{"id":"K91Kw4YS9fiyGIEL","name":"Chat-Bot"}}},{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 6 * * *"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[31616,21472],"id":"0c51f5bd-6a16-40fc-8ae8-e802cc04e93c","name":"⏰ Mo-Fr 06:00 Uhr1"},{"parameters":{"jsCode":"const days = ['So', 'Mo', 'Di', 'Mi', 'Do', 'Fr', 'Sa'];\nconst today = new Date();\nconst dayName = days[today.getDay()];\nconst dateStr = today.toLocaleDateString('de-DE');\nconst isMontag = dayName === 'Mo';\nconsole.log('📅 Heute:', dayName);\nreturn [{ json: { wochentag: dayName, datum: dateStr, isMontag } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[31856,21472],"id":"a78c7451-4e38-4d05-b71b-54e627138061","name":"📅 Wochentag ermitteln1","onError":"continueErrorOutput"},{"parameters":{"method":"GET","url":"http://f3-cookie-crawler:3000/cookies","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[32000,21472],"id":"f254a399-8be9-49a2-8943-21734c2625b5","name":"🍪 Cookie aus NocoDB1","credentials":{"nocoDbApiToken":{"id":"JTFuA8mXBcV97XFf","name":"NocoDB Token"}}},{"parameters":{"jsCode":"const cookie = $input.item.json.cookieString || $input.item.json.list?.[0]?.Cookie || $input.item.json.Cookie || '';\nif (!cookie) throw new Error('Kein Cookie in NocoDB! Tabelle Cookies → Eintrag F3-Events prüfen.');\nconsole.log('✅ Cookie geladen');\n\n// Wochentag: von Scheduler-Node, oder leer wenn manuell via Webhook getriggert\nlet wochentag = '';\nlet isMontag = false;\ntry {\n  wochentag = $('📅 Wochentag ermitteln1').item.json.wochentag;\n  isMontag  = $('📅 Wochentag ermitteln1').item.json.isMontag;\n} catch(e) {\n  // Webhook-Trigger: kein Wochentag nötig\n  console.log('ℹ️  Manueller Trigger – kein Wochentag');\n}\n\nreturn [{ json: { cookie, wochentag, isMontag }}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[32144,21472],"id":"650cb39a-fd85-4852-9dec-daf25c89e8e8","name":"✅ Cookie prüfen1"},{"parameters":{"jsCode":"const resp = await this.helpers.httpRequest({\n  method: 'GET',\n  url: 'http://f3-cookie-crawler:3000/api/events?status=aktiv',\n  headers: {}\n});\nconst events = resp.list || [];\nif (!events.length) throw new Error('Keine aktiven Events in der DB');\nreturn events.map(e => ({ json: e }));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[32304,21472],"id":"4c8f65d5-bfd6-48ee-b819-31179630a773","name":"📋 Event holen1"},{"parameters":{"jsCode":"const isMontag = $('✅ Cookie prüfen1').item.json.isMontag;\nconst event = $input.item.json;\n\nif (!event || !event.EventName) {\n  throw new Error('Kein aktives Event für heute! NocoDB prüfen: Wochentag + Status=aktiv');\n}\n\nconsole.log('✅ Event:', event.EventName);\n\nlet bildUrl = '';\ntry {\n  const att = event['Event-Bild'];\n  const parsed = typeof att === 'string' ? JSON.parse(att) : att;\n  if (Array.isArray(parsed) && parsed.length > 0) {\n    const path = parsed[0].signedPath || parsed[0].path || parsed[0].url || '';\n    bildUrl = path.startsWith('http') ? path : 'https://nocodb.f3-events.de/' + path;\n  }\n} catch(e) {\n  console.log('⚠ Bild-Fehler:', e.message);\n}\n\nif (!bildUrl) throw new Error('Kein Bild! Event-Bild in NocoDB hochladen.');\n\nconsole.log('🖼 Bild URL:', bildUrl);\nreturn [{ json: { ...event, bildUrl, isMontag } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[32816,21456],"id":"65a9714b-b2b5-44a2-a883-51bc5863893d","name":"✅ Event & Bild prüfen1"},{"parameters":{"agent":"conversationalAgent","promptType":"define","text":"=Erstelle einen JOYclub Post für folgendes Event.\n\nEvent Name: {{ $('✅ Event & Bild prüfen1').item.json.EventName }}\nEvent Link: {{ $('✅ Event & Bild prüfen1').item.json.EventLink }}\nEvent Datum: {{ $('✅ Event & Bild prüfen1').item.json.EventDatum }}\nEvent Beschreibung: {{ $('✅ Event & Bild prüfen1').item.json['Event-Beschreibung'] }}\nAnmeldestand: {{ $('✅ Event & Bild prüfen1').item.json.Anmeldestand }}\nZusatzinfos: {{ $('✅ Event & Bild prüfen1').item.json.Zusatzinfos }}\nIst Montag: {{ $('✅ Event & Bild prüfen1').item.json.isMontag }}\n\nGib NUR den fertigen Post-Text aus.","options":{"systemMessage":"Du bist der Text und Kommunikationsassistent für\n🖤 F³ – Friends • Fun • Freedom · The Next Vibe\n\nDu schreibst in der Ich oder Wir Perspektive aus Sicht von Tobi als Host und Veranstalter von F³.\nF³ steht für: Selected Souls. Wild Nights. One Energy.\n\nTONALITÄT: locker, persönlich, per Du, wertschätzend, sexy aber nicht vulgär, humorvoll, immer positiv.\nSPRACHSTIL: Deutsch, kurze Absätze, gut lesbar auf Handy, keine Gedankenstriche, Emojis gezielt.\nFokus auf: Vibe, Atmosphäre, Respekt, Gästemix, Safe Space.\nImmer betonen: handverlesener Gästemix, Respekt, Nein ist Nein, Ladies Voting, Safe Space.\n\nWICHTIG: Orientiere dich an der Event-Beschreibung, formuliere aber IMMER neu und anders.\n\nSTRUKTUR:\n1. ERSTE ZEILE: Nur der Event-Link\n2. Kurzer Hook (1 Satz)\n3. 2-5 kurze Absätze\n4. WENN MONTAG: Hinweis auf Ladies Voting jeden Donnerstag\n5. Call to Action\n6. Signatur:\n🖤 F³ – Friends • Fun • Freedom\nSelected Souls. Wild Nights. One Energy.\n7. LETZTE ZEILE: https://www.joyclub.de/groups/f3_events/\n\nNur Post-Text ausgeben."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[33024,21456],"id":"7117c36d-e46f-469a-b1a5-bb108cc5a445","name":"🤖 F³ KI Agent1"},{"parameters":{"model":"gpt-4.1-mini","options":{"temperature":0.85}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[33024,21664],"id":"94ea436d-d3b1-41a5-982b-43a8bae3426a","name":"OpenAI GPT-4o1","credentials":{"openAiApi":{"id":"pq9OempR8pfDox7p","name":"OpenAi account"}}},{"parameters":{"jsCode":"const output = $input.item.json.output || $input.item.json.text || '';\nif (!output) throw new Error('Kein Text vom KI Agent!');\n\n// Nur überflüssige Whitespace am Anfang/Ende entfernen\n// Kein manuelles Escaping nötig — JSON.stringify im Post-Node erledigt das\nconst clean = output.trim();\n\nreturn [{ json: { post_text: clean } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[33296,21456],"id":"d985a1ea-6d3c-46fe-8c59-124185466956","name":"📝 Post-Text extrahieren1"},{"parameters":{"amount":3},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[33536,21456],"id":"cfd18d5b-f4af-4ded-9f82-08b1d6a7e391","name":"⏳ Pause 3 Sek1","webhookId":"b48e1888-97f7-477c-96af-ad34b570594e"},{"parameters":{"url":"={{ $('✅ Event & Bild prüfen1').item.json.bildUrl }}","options":{"response":{"response":{"responseFormat":"file"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[33776,21456],"id":"03958341-45f8-47fd-b825-cc9e855f8ffe","name":"🖼 Bild herunterladen1"},{"parameters":{"url":"https://www.joyclub.de/webauth/access_token","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"*/*"},{"name":"x-requested-with","value":"XMLHttpRequest"},{"name":"referer","value":"https://www.joyclub.de/my_joy/feed/friends/"},{"name":"user-agent","value":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/146.0.0.0 Safari/537.36"},{"name":"cookie","value":"={{ $('✅ Cookie prüfen1').item.json.cookie }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[34016,21456],"id":"905d1d30-0b0a-4359-879f-739609e16504","name":"🔑 Token holen1","onError":"continueErrorOutput"},{"parameters":{"jsCode":"const data = $input.item.json;\nconst token = data?.content?.access_token || data?.access_token || '';\nif (!token) throw new Error('❌ Kein Token! Cookie abgelaufen → NocoDB Cookies Tabelle aktualisieren → Eintrag F3-Events');\nreturn [{ json: { access_token: token } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[34256,21456],"id":"f8468b5e-dd80-4044-a83b-9bd0c3f96fe5","name":"✅ Token prüfen1","onError":"continueErrorOutput"},{"parameters":{"content":"## Trigger","height":800,"width":496},"type":"n8n-nodes-base.stickyNote","position":[31296,21216],"typeVersion":1,"id":"f4f2926a-13f8-45e7-9cd5-74d71a8b389b","name":"Sticky Note13"},{"parameters":{"content":"## Input","height":800,"width":1200,"color":2},"type":"n8n-nodes-base.stickyNote","position":[31792,21216],"typeVersion":1,"id":"d5fa5842-6788-4ab0-a3fd-1a333ceb88af","name":"Sticky Note17"},{"parameters":{"content":"## Agent / Automation","height":800,"width":688,"color":3},"type":"n8n-nodes-base.stickyNote","position":[32976,21216],"typeVersion":1,"id":"e4ddf7ee-103c-447a-91cf-4cb14e4f2ae6","name":"Sticky Note18"},{"parameters":{"content":"## Output","height":800,"width":1200,"color":4},"type":"n8n-nodes-base.stickyNote","position":[34576,21216],"typeVersion":1,"id":"1a05418e-0592-415c-b5bf-e66f087c076d","name":"Sticky Note19"},{"parameters":{"content":"## Trigger","height":384,"width":496},"type":"n8n-nodes-base.stickyNote","position":[31696,20336],"typeVersion":1,"id":"c5c483a5-4154-4999-9fe9-605ac89cae2d","name":"Sticky Note2"},{"parameters":{"content":"## Input","height":384,"width":496,"color":2},"type":"n8n-nodes-base.stickyNote","position":[32208,20336],"typeVersion":1,"id":"c2c6c67a-0e63-4c88-a59a-7522045acee3","name":"Sticky Note20"},{"parameters":{"content":"## Agent / Automation","height":384,"width":496,"color":3},"type":"n8n-nodes-base.stickyNote","position":[32720,20336],"typeVersion":1,"id":"f1bf19f7-be35-4a3a-8717-2ee7f5a46144","name":"Sticky Note21"},{"parameters":{"content":"## Output","height":384,"width":496,"color":4},"type":"n8n-nodes-base.stickyNote","position":[33232,20336],"typeVersion":1,"id":"ddb2dc64-2780-4ba7-b6d9-5bf76cee78a4","name":"Sticky Note22"},{"parameters":{"content":"## Notification","height":384,"width":496,"color":5},"type":"n8n-nodes-base.stickyNote","position":[33744,20336],"typeVersion":1,"id":"53ea95b5-480b-4ba1-a5f0-3301b52242da","name":"Sticky Note23"},{"parameters":{"content":"## 🍪Cookie holen und in Noco-DB abspeichern","height":672,"width":3024,"color":6},"type":"n8n-nodes-base.stickyNote","position":[31296,20192],"typeVersion":1,"id":"931b56fa-a257-43c6-bd9f-7014f3e45fd9","name":"Sticky Note24"},{"parameters":{"content":"## Input","height":800,"width":912,"color":2},"type":"n8n-nodes-base.stickyNote","position":[33664,21216],"typeVersion":1,"id":"8dd3849d-acf1-415c-a3ff-9c701c161cea","name":"Sticky Note25"},{"parameters":{"content":"🔀 MERGE FIX\nHier werden Binary (Bild)\nund Slot-Daten zusammengeführt.\n→ Output enthält Binary + imageId\n→ Bild hochladen kann beides nutzen","height":120,"width":280,"color":5},"type":"n8n-nodes-base.stickyNote","position":[34928,21664],"typeVersion":1,"id":"43d22eea-90af-433b-b798-b90d1265bbd3","name":"Merge Hinweis1"},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[34624,21456],"id":"22e81477-b78a-4b3b-9ec4-13867fcf4382","name":"⏳ Pause 2 Sek1","webhookId":"81150eee-5c2d-46b5-bf91-aa23202374fa"},{"parameters":{"method":"POST","url":"https://apiv2.joyclub.com/graph/","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"},{"name":"authorization","value":"=Bearer {{ $json.access_token }}"},{"name":"content-type","value":"application/json"},{"name":"origin","value":"https://www.joyclub.de"},{"name":"referer","value":"https://www.joyclub.de/my_joy/feed/friends/"},{"name":"x-requested-from","value":"https://www.joyclub.de/my_joy/feed/friends/"},{"name":"x-requested-with","value":"APIV2-Client"},{"name":"user-agent","value":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/146.0.0.0 Safari/537.36"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"query\": \"mutation createImageUploadSlotList($input: [String!]!) {\\n  imageRegistry {\\n    initialUploadSlot {\\n      createForList(originalFileNameList: $input) {\\n        __typename\\n        ... on ImageRegistryInitialUploadSlotCreateForListSuccessResponse {\\n          imageUploadSlotList {\\n            imageId\\n            fileName\\n            presignedUploadUrl\\n          }\\n        }\\n      }\\n    }\\n  }\\n}\",\n  \"variables\": { \"input\": [\"event-bild.jpg\"] },\n  \"operationName\": \"createImageUploadSlotList\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[34832,21456],"id":"190a9f5c-b6e1-4d80-9f06-b0bd8184f107","name":"📤 Upload Slot anfordern1","onError":"continueErrorOutput"},{"parameters":{"jsCode":"const data = $input.item.json;\nconst slot = data?.data?.imageRegistry?.initialUploadSlot?.createForList?.imageUploadSlotList?.[0];\n\nif (!slot) throw new Error('Kein Upload-Slot: ' + JSON.stringify(data));\n\nconsole.log('✅ Slot:', slot.imageId);\n\nreturn [{\n  json: {\n    imageId: slot.imageId,\n    presignedUploadUrl: slot.presignedUploadUrl\n  },\n  binary: $('🖼 Bild herunterladen1').item.binary\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[35040,21456],"id":"f1dc40fd-72cb-4649-a3bc-d6e439f7f2bf","name":"📦 Slot extrahieren1","onError":"continueErrorOutput"},{"parameters":{"method":"PUT","url":"={{ $json.presignedUploadUrl }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"content-type","value":"image/jpeg"}]},"sendBody":true,"contentType":"binaryData","inputDataFieldName":"data","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[35248,21456],"id":"c1947a7d-db9e-4474-bce7-360c97d5471b","name":"☁️ Bild hochladen1","onError":"continueErrorOutput"},{"parameters":{"method":"POST","url":"https://apiv2.joyclub.com/graph/","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"},{"name":"authorization","value":"=Bearer {{ $('✅ Token prüfen1').item.json.access_token }}"},{"name":"content-type","value":"application/json"},{"name":"origin","value":"https://www.joyclub.de"},{"name":"referer","value":"https://www.joyclub.de/my_joy/feed/friends/"},{"name":"x-requested-from","value":"https://www.joyclub.de/my_joy/feed/friends/"},{"name":"x-requested-with","value":"APIV2-Client"},{"name":"user-agent","value":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/146.0.0.0 Safari/537.36"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"operationName\": \"createStatusMessage\",\n  \"variables\": {\n    \"input\": {\n      \"visibility\": \"ALL\",\n      \"content\": {{ JSON.stringify($('📝 Post-Text extrahieren1').item.json.post_text) }},\n      \"upload\": null,\n      \"directUpload\": {\n        \"uploadedImageId\": {{ JSON.stringify($('📦 Slot extrahieren1').item.json.imageId) }},\n        \"isFsk18\": false\n      }\n    }\n  },\n  \"query\": \"mutation createStatusMessage($input: StatusMessageCreateInput!) { statusMessage { create(input: $input) { __typename ... on StatusMessageCreateResult { id } } } }\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[35456,21456],"id":"b56a8f3b-01e0-40f4-bad0-a1cfdb2d7968","name":"📢 Post veröffentlichen1"},{"parameters":{"chatId":"-1003592524930","text":"=✅ F³ Auto-Post erfolgreich!\n\n📌 Event: {{ $('✅ Event & Bild prüfen1').item.json.EventName }}\n📅 Datum: {{ $('✅ Event & Bild prüfen1').item.json.EventDatum }}\n🕐 Uhrzeit: {{ new Date().toLocaleTimeString('de-DE') }}\n\n🖤 Der Post ist live auf JOYclub!","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[35872,21456],"id":"62700243-ab08-4ff3-bae7-cf269a8cb344","name":"✅ Telegram: Erfolg1","webhookId":"b8785eb3-30d5-4b47-9589-4924122a8f5f","notesInFlow":false,"credentials":{"telegramApi":{"id":"56WQCkpcuw8EcEDL","name":"Joy-Post-Bot"}}},{"parameters":{"chatId":"-1003592524930","text":"=❌ F³ Auto-Post FEHLER!\n\n🚨 Fehler: {{ $json.message || 'Unbekannter Fehler' }}\n📍 Node: {{ $json.execution?.lastNodeExecuted || 'Unbekannt' }}\n🕐 Uhrzeit: {{ new Date().toLocaleTimeString('de-DE') }}\n📋 Details: {{ ($json.description || '').substring(0, 200) }}\n\n👉 Workflow prüfen:\nhttps://n8n.f3-events.de","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[35872,21904],"id":"a731809f-eac4-4b4d-8a42-925564a10d89","name":"❌ Telegram: Fehler1","webhookId":"3730b309-d44b-4a97-9ae5-9bccdcb67ab0","credentials":{"telegramApi":{"id":"SnB3bT6F4HvHGmGW","name":"Error-Bot"}}},{"parameters":{"content":"## Notification","height":800,"width":496,"color":5},"type":"n8n-nodes-base.stickyNote","position":[35776,21216],"typeVersion":1,"id":"085c3d05-15d8-4297-aa17-39d8f22f4f05","name":"Sticky Note26"},{"parameters":{"content":"## 🛠 Setup-Dokumentation – Was wurde eingerichtet?\n☁️ Hetzner\n\nVPS gemietet (Ubuntu, 8GB RAM)\nFirewall-Regel: Port 3010 für eigene IP freigegeben\nDNS-Eintrag: browser.f3-events.de → 157.90.21.222\nDNS-Eintrag: joyclub-puppeteer.f3-events.de → 157.90.21.222\n\n🐳 Coolify (auf dem VPS)\n\nCoolify installiert & konfiguriert\nGitHub App verbunden (Repo: joyclub-puppeteer)\nChromium Browser deployed (Docker, läuft 24/7)\n→ Erreichbar: https://browser.f3-events.de\n→ Zweck: JOYclub-Session dauerhaft offen halten\nPuppeteer Service deployed (wurde später nicht genutzt)\n\n🍪 JOYclub Session\n\nEinmalig manuell auf browser.f3-events.de eingeloggt\nCookies aus dem Cloud-Browser kopiert\nCookies in N8N Token-Node eingetragen\n\n🗄 NocoDB\n\nTabelle F3_Events angelegt\nFelder: EventName, EventLink, EventDatum, Event-Beschreibung, Event-Bild, Wochentag, Anmeldestand, Zusatzinfos, Status\n\n🤖 N8N Credentials\n\nNocoDB Account\nOpenAI API Key\nTelegram Bot (JoyPost_Bot)\n\n⚠️ Wiederkehrend\n\nCookies erneuern wenn 403-Fehler → browser.f3-events.de","height":1216},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[30832,20928],"id":"0256d746-0e65-4f83-b7af-4de38e82fcf9","name":"Sticky Note3"},{"parameters":{"content":"🍪 HIER COOKIES EINTRAGEN!\n\nWenn 403-Fehler:\n→ browser.f3-events.de öffnen\n→ F12 → Application → Cookies\n→ Alle 5 Werte kopieren\n\nFormat:\nFUP_sso_autologin=WERT;\nFUP_vid=WERT;\nFUP_sid=WERT;\nFUPlid=WERT;\n__zlcmid=WERT","height":428,"width":300,"color":6},"type":"n8n-nodes-base.stickyNote","position":[31312,20320],"typeVersion":1,"id":"9ff8727b-5532-4d43-86b4-544199e43f79","name":"Cookie Node Hinweis1"},{"parameters":{"content":"## Post generieren","height":672,"width":4976,"color":"#C51B1B"},"type":"n8n-nodes-base.stickyNote","position":[31296,20928],"typeVersion":1,"id":"e4c271ae-2429-4b50-9cf1-409a89280b05","name":"Sticky Note27"},{"parameters":{"chatId":"-1003592524930","text":"=⚠️ F³ Auto-Post – Fehler bei: Token holen / prüfen\n\n🚨 {{ $json.error?.message || $json.message || 'Unbekannter Fehler' }}\n🕐 {{ new Date().toLocaleTimeString('de-DE') }}\n\n👉 https://n8n.f3-events.de","additionalFields":{}},"id":"3d07eea0-fd02-4570-b571-a60a71c3cc18","name":"⚠️ Telegram: Token-Fehler1","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[34384,21824],"webhookId":"004a919d-66be-4f99-9b9a-3bb854dde8c6","credentials":{"telegramApi":{"id":"56WQCkpcuw8EcEDL","name":"Joy-Post-Bot"}}},{"parameters":{"chatId":"-1003592524930","text":"=⚠️ F³ Auto-Post – Fehler bei: Upload-Slot anfordern\n\n🚨 {{ $json.error?.message || $json.message || 'Unbekannter Fehler' }}\n🕐 {{ new Date().toLocaleTimeString('de-DE') }}\n\n👉 https://n8n.f3-events.de","additionalFields":{}},"id":"981e1817-ad1c-483d-892b-ed7272958f68","name":"⚠️ Telegram: Upload-Slot-Fehler1","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[35104,21840],"webhookId":"6dffa96f-7511-47cf-8231-5e8be3247d63","credentials":{"telegramApi":{"id":"SnB3bT6F4HvHGmGW","name":"Error-Bot"}}},{"parameters":{"chatId":"-1003592524930","text":"=⚠️ F³ Auto-Post – Fehler bei: Bild hochladen\n\n🚨 {{ $json.error?.message || $json.message || 'Unbekannter Fehler' }}\n🕐 {{ new Date().toLocaleTimeString('de-DE') }}\n\n👉 https://n8n.f3-events.de","additionalFields":{}},"id":"95b3ee37-f4a3-4d40-a649-da16d1ae8083","name":"⚠️ Telegram: Bild-Upload-Fehler1","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[35472,21696],"webhookId":"27c02d4d-59e1-4f7f-9088-e0a39691f7a6","credentials":{"telegramApi":{"id":"SnB3bT6F4HvHGmGW","name":"Error-Bot"}}},{"parameters":{"jsCode":"// Prüft ob Event holen überhaupt Items geliefert hat\n// Bei 0 Items: wirft Fehler → wird per Telegram gemeldet\nconst items = $input.all();\n\nif (!items || items.length === 0) {\n  throw new Error(\n    'Kein aktives Event für heute gefunden! '\n    + 'NocoDB prüfen: Wochentag=' + $(\"📅 Wochentag ermitteln1\").item.json.wochentag\n    + ' Status=aktiv'\n  );\n}\n\nconst event = items[0].json;\nif (!event || !event.EventName) {\n  throw new Error('Event gefunden, aber kein EventName! NocoDB-Daten prüfen.');\n}\n\nconsole.log('✅ Event gefunden:', event.EventName);\nreturn items;"},"id":"ba05fc99-0bc9-4e8f-b17c-482aec9daf15","name":"🔍 Event vorhanden?1","type":"n8n-nodes-base.code","typeVersion":2,"position":[32624,21472],"onError":"continueErrorOutput"},{"parameters":{"chatId":"-1003592524930","text":"=⚠️ F³ Auto-Post – Kein Event gefunden!\n\n📅 Wochentag: {{ $(\"✅ Cookie prüfen1\").all()[0].json.wochentag || \"(manueller Push)\" }}\n🕐 {{ new Date().toLocaleTimeString(\"de-DE\") }}\n\nBitte in NocoDB prüfen:\n→ Event mit passendem Wochentag vorhanden?\n→ Status auf \"aktiv\" gesetzt?\n→ Event-Bild hochgeladen?","additionalFields":{}},"id":"24470a81-fe24-4471-92de-e949e763bd42","name":"⚠️ Telegram: Kein Event1","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[32512,21808],"webhookId":"08191ae2-18cc-408b-9d46-1152c49e6d8a","credentials":{"telegramApi":{"id":"SnB3bT6F4HvHGmGW","name":"Error-Bot"}}},{"parameters":{"jsCode":"// Filtert Events: entweder nach Wochentag (Scheduler) oder nach Event-ID (manuell)\nconst items = $input.all();\n\n// Prüfen ob ein manueller Webhook-Trigger mit eventId vorliegt\nlet eventId = null;\ntry {\n  const body = $('🚀 Webhook: Jetzt Pushen').item.json.body || $('🚀 Webhook: Jetzt Pushen').item.json;\n  if (body && body.eventId) {\n    eventId = String(body.eventId);\n    console.log(`🚀 Manueller Trigger für Event-ID: ${eventId}`);\n  }\n} catch(e) {\n  // Kein Webhook-Trigger\n}\n\nif (eventId) {\n  // Manueller Push: Event nach ID suchen\n  const matching = items.filter(item => String(item.json.Id) === eventId);\n  console.log(`📊 Events gesamt: ${items.length}, gefunden: ${matching.length}`);\n  if (matching.length === 0) {\n    throw new Error(`Event-ID ${eventId} nicht in NocoDB post-f3 View gefunden!`);\n  }\n  return [matching[0]];\n}\n\n// Scheduler-Trigger: nach Wochentag filtern (bisherige Logik)\nconst wochentag = $('✅ Cookie prüfen1').item.json.wochentag;\nconsole.log(`📅 Suche Event für Wochentag: ${wochentag}`);\nconsole.log(`📊 Alle Events in NocoDB: ${items.length}`);\n\nconst matching = items.filter(item => {\n  const w = (item.json.Wochentag || '').replace(/\\s/g, '');\n  const tags = w.split(',');\n  return tags.includes(wochentag);\n});\n\nconsole.log(`✅ Passende Events: ${matching.length}`);\n\nif (matching.length === 0) {\n  const alleWochentage = items.map(i => i.json.Wochentag).join(', ');\n  throw new Error(\n    `Kein aktives Event für ${wochentag}! `\n    + `Verfügbare Wochentage: ${alleWochentage}`\n  );\n}\n\nreturn [matching[0]];"},"id":"572fd4ea-2aca-4208-8790-ab915cdadd6c","name":"📅 Event nach Tag filtern1","type":"n8n-nodes-base.code","typeVersion":2,"position":[32464,21472],"onError":"continueErrorOutput"},{"parameters":{"httpMethod":"POST","path":"f3-autopush-manual","responseMode":"responseNode","options":{}},"name":"🚀 Webhook: Jetzt Pushen","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[31616,21760],"id":"a1b2c3d4-e5f6-7890-abcd-ef1234567890","webhookId":"f3-autopush-manual"},{"parameters":{"respondWith":"json","responseBody":"={ \"ok\": true, \"message\": \"Post wird vorbereitet...\" }","options":{}},"name":"✉️ Webhook Antwort","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[32000,21760],"id":"b2c3d4e5-f6a7-8901-bcde-f12345678901"}],"connections":{"⏰ Täglich 09:":{"main":[[{"node":"🍪 Alle Cookies holen1","type":"main","index":0}]]},"🍪 Alle Cookies holen1":{"main":[[{"node":"⏱ Ablauf prüfen1","type":"main","index":0}]]},"⏱ Ablauf prüfen1":{"main":[[{"node":"🔔 Alert nötig?1","type":"main","index":0}]]},"🔔 Alert nötig?1":{"main":[[{"node":"⚠️ Telegram: Cookie läuft ab1","type":"main","index":0}]]},"⚠️ Telegram: Cookie läuft ab1":{"main":[[{"node":"🔄 Cookie Sync starten","type":"main","index":0}]]},"⏰ Mo-Fr 06:00 Uhr1":{"main":[[{"node":"📅 Wochentag ermitteln1","type":"main","index":0}]]},"📅 Wochentag ermitteln1":{"main":[[{"node":"🍪 Cookie aus NocoDB1","type":"main","index":0}],[{"node":"⚠️ Telegram: Kein Event1","type":"main","index":0}]]},"🍪 Cookie aus NocoDB1":{"main":[[{"node":"✅ Cookie prüfen1","type":"main","index":0}]]},"✅ Cookie prüfen1":{"main":[[{"node":"📋 Event holen1","type":"main","index":0}]]},"📋 Event holen1":{"main":[[{"node":"📅 Event nach Tag filtern1","type":"main","index":0}]]},"✅ Event & Bild prüfen1":{"main":[[{"node":"🤖 F³ KI Agent1","type":"main","index":0}]]},"🤖 F³ KI Agent1":{"main":[[{"node":"📝 Post-Text extrahieren1","type":"main","index":0}]]},"OpenAI GPT-4o1":{"ai_languageModel":[[{"node":"🤖 F³ KI Agent1","type":"ai_languageModel","index":0}]]},"📝 Post-Text extrahieren1":{"main":[[{"node":"⏳ Pause 3 Sek1","type":"main","index":0}]]},"⏳ Pause 3 Sek1":{"main":[[{"node":"🖼 Bild herunterladen1","type":"main","index":0}]]},"🖼 Bild herunterladen1":{"main":[[{"node":"🔑 Token holen1","type":"main","index":0}]]},"🔑 Token holen1":{"main":[[{"node":"✅ Token prüfen1","type":"main","index":0}],[{"node":"⚠️ Telegram: Token-Fehler1","type":"main","index":0}]]},"✅ Token prüfen1":{"main":[[{"node":"⏳ Pause 2 Sek1","type":"main","index":0}],[{"node":"⚠️ Telegram: Token-Fehler1","type":"main","index":0}]]},"⏳ Pause 2 Sek1":{"main":[[{"node":"📤 Upload Slot anfordern1","type":"main","index":0}]]},"📤 Upload Slot anfordern1":{"main":[[{"node":"📦 Slot extrahieren1","type":"main","index":0}],[{"node":"⚠️ Telegram: Upload-Slot-Fehler1","type":"main","index":0}]]},"📦 Slot extrahieren1":{"main":[[{"node":"☁️ Bild hochladen1","type":"main","index":0}],[{"node":"⚠️ Telegram: Upload-Slot-Fehler1","type":"main","index":0}]]},"☁️ Bild hochladen1":{"main":[[{"node":"📢 Post veröffentlichen1","type":"main","index":0}],[{"node":"⚠️ Telegram: Bild-Upload-Fehler1","type":"main","index":0}]]},"📢 Post veröffentlichen1":{"main":[[{"node":"✅ Telegram: Erfolg1","type":"main","index":0}]]},"🔍 Event vorhanden?1":{"main":[[{"node":"✅ Event & Bild prüfen1","type":"main","index":0}],[{"node":"⚠️ Telegram: Kein Event1","type":"main","index":0}]]},"📅 Event nach Tag filtern1":{"main":[[{"node":"🔍 Event vorhanden?1","type":"main","index":0}],[{"node":"⚠️ Telegram: Kein Event1","type":"main","index":0}]]},"🚀 Webhook: Jetzt Pushen":{"main":[[{"node":"🍪 Cookie aus NocoDB1","type":"main","index":0},{"node":"✉️ Webhook Antwort","type":"main","index":0}]]}},"authors":"Tobias Kuschel","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-04-03T07:17:00.461Z","id":211,"workflowId":"yqrgx2LvK6gHSyUx","versionId":"0529beb2-1769-4dd5-a6aa-2947a9a2ba8e","event":"deactivated","userId":"ccf2cf04-ab03-4a3c-be8b-c898907df6eb"},{"createdAt":"2026-04-03T07:17:00.515Z","id":212,"workflowId":"yqrgx2LvK6gHSyUx","versionId":"0529beb2-1769-4dd5-a6aa-2947a9a2ba8e","event":"activated","userId":"ccf2cf04-ab03-4a3c-be8b-c898907df6eb"}]}}