f3-automation/n8n/3a-stats-api.json
{"updatedAt":"2026-04-02T10:27:48.126Z","createdAt":"2026-03-27T10:48:40.261Z","id":"JylqgPtHmfBmHWGq","name":"F3 | 3a – Stats API [Status]","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"path":"f3-stats-api","responseMode":"responseNode","options":{}},"id":"0fdc0944-ed19-46ba-b993-2594945f37d3","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-128,32],"webhookId":"1dc3b665-ccc0-4d45-aadc-b973ab9d650c"},{"parameters":{"url":"https://www.joyclub.de/party/13140845.f3.html","sendHeaders":true,"headerParameters":{"parameters":[{"name":"User-Agent","value":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36"},{"name":"Accept","value":"text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8"},{"name":"Accept-Language","value":"de-DE,de;q=0.9"}]},"options":{"timeout":15000}},"id":"02b4ea75-fccb-4723-b6ea-219d1664a455","name":"JoyClub Profil abrufen","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[96,32]},{"parameters":{"jsCode":"const html = $input.first().json.data || $input.first().json;\nconst htmlStr = typeof html === 'string' ? html : JSON.stringify(html);\nconst parseDE = str => parseInt(str.replace(/\\./g, '').replace(/,/g, '.'), 10);\nconst fansMatch = htmlStr.match(/(\\d[\\d.]*?)\\s*Fans/);\nconst fans = fansMatch ? parseDE(fansMatch[1]) : null;\nconst besucherMatch = htmlStr.match(/(\\d[\\d.]*?)\\s*Besucher/);\nconst besucher = besucherMatch ? parseDE(besucherMatch[1]) : null;\nconst bewMatch = htmlStr.match(/(\\d+)\\s*Bewertungen/);\nconst bewertungen = bewMatch ? parseInt(bewMatch[1], 10) : null;\nconst ratingMatch = htmlStr.match(/(\\d+[.,]\\d+)\\s*von\\s*5/);\nconst rating = ratingMatch ? parseFloat(ratingMatch[1].replace(',', '.')) : null;\nreturn [{ json: { fans, besucher, bewertungen, rating, updatedAt: new Date().toISOString() } }];"},"id":"d8e95fa1-980f-43de-b8e9-6a741e2124bb","name":"Stats parsen","type":"n8n-nodes-base.code","typeVersion":2,"position":[320,32]},{"parameters":{"respondWith":"json","responseBody":"={{ $json }}","options":{"responseHeaders":{"entries":[{"name":"Access-Control-Allow-Origin","value":"*"},{"name":"Cache-Control","value":"public, max-age=3600"}]}}},"id":"effb9a5b-f143-4860-8c06-9e6c15312244","name":"Antwort senden","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[544,32]}],"connections":{"Webhook":{"main":[[{"node":"JoyClub Profil abrufen","type":"main","index":0}]]},"JoyClub Profil abrufen":{"main":[[{"node":"Stats parsen","type":"main","index":0}]]},"Stats parsen":{"main":[[{"node":"Antwort senden","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false,"callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":null,"pinData":{},"versionId":"ffb8bc5e-5f04-43be-b38d-f3b7783e0789","activeVersionId":"ffb8bc5e-5f04-43be-b38d-f3b7783e0789","versionCounter":20,"triggerCount":1,"shared":[{"updatedAt":"2026-03-27T10:48:40.261Z","createdAt":"2026-03-27T10:48:40.261Z","role":"workflow:owner","workflowId":"JylqgPtHmfBmHWGq","projectId":"XukWgY1K98HyiBd3","project":{"updatedAt":"2026-03-23T08:24:01.303Z","createdAt":"2026-03-03T08:09:28.635Z","id":"XukWgY1K98HyiBd3","name":"Tobias Kuschel <kuschel190190@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"ccf2cf04-ab03-4a3c-be8b-c898907df6eb"}}],"tags":[],"activeVersion":{"updatedAt":"2026-03-27T11:10:38.452Z","createdAt":"2026-03-27T11:10:36.157Z","versionId":"ffb8bc5e-5f04-43be-b38d-f3b7783e0789","workflowId":"JylqgPtHmfBmHWGq","nodes":[{"parameters":{"path":"f3-stats-api","responseMode":"responseNode","options":{}},"id":"0fdc0944-ed19-46ba-b993-2594945f37d3","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-128,32],"webhookId":"1dc3b665-ccc0-4d45-aadc-b973ab9d650c"},{"parameters":{"url":"https://www.joyclub.de/party/13140845.f3.html","sendHeaders":true,"headerParameters":{"parameters":[{"name":"User-Agent","value":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36"},{"name":"Accept","value":"text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8"},{"name":"Accept-Language","value":"de-DE,de;q=0.9"}]},"options":{"timeout":15000}},"id":"02b4ea75-fccb-4723-b6ea-219d1664a455","name":"JoyClub Profil abrufen","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[96,32]},{"parameters":{"jsCode":"const html = $input.first().json.data || $input.first().json;\nconst htmlStr = typeof html === 'string' ? html : JSON.stringify(html);\nconst parseDE = str => parseInt(str.replace(/\\./g, '').replace(/,/g, '.'), 10);\nconst fansMatch = htmlStr.match(/(\\d[\\d.]*?)\\s*Fans/);\nconst fans = fansMatch ? parseDE(fansMatch[1]) : null;\nconst besucherMatch = htmlStr.match(/(\\d[\\d.]*?)\\s*Besucher/);\nconst besucher = besucherMatch ? parseDE(besucherMatch[1]) : null;\nconst bewMatch = htmlStr.match(/(\\d+)\\s*Bewertungen/);\nconst bewertungen = bewMatch ? parseInt(bewMatch[1], 10) : null;\nconst ratingMatch = htmlStr.match(/(\\d+[.,]\\d+)\\s*von\\s*5/);\nconst rating = ratingMatch ? parseFloat(ratingMatch[1].replace(',', '.')) : null;\nreturn [{ json: { fans, besucher, bewertungen, rating, updatedAt: new Date().toISOString() } }];"},"id":"d8e95fa1-980f-43de-b8e9-6a741e2124bb","name":"Stats parsen","type":"n8n-nodes-base.code","typeVersion":2,"position":[320,32]},{"parameters":{"respondWith":"json","responseBody":"={{ $json }}","options":{"responseHeaders":{"entries":[{"name":"Access-Control-Allow-Origin","value":"*"},{"name":"Cache-Control","value":"public, max-age=3600"}]}}},"id":"effb9a5b-f143-4860-8c06-9e6c15312244","name":"Antwort senden","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[544,32]}],"connections":{"Webhook":{"main":[[{"node":"JoyClub Profil abrufen","type":"main","index":0}]]},"JoyClub Profil abrufen":{"main":[[{"node":"Stats parsen","type":"main","index":0}]]},"Stats parsen":{"main":[[{"node":"Antwort senden","type":"main","index":0}]]}},"authors":"Tobias Kuschel","name":"Version ffb8bc5e","description":"","autosaved":true,"workflowPublishHistory":[{"createdAt":"2026-04-02T10:27:48.183Z","id":187,"workflowId":"JylqgPtHmfBmHWGq","versionId":"ffb8bc5e-5f04-43be-b38d-f3b7783e0789","event":"deactivated","userId":"ccf2cf04-ab03-4a3c-be8b-c898907df6eb"},{"createdAt":"2026-04-02T10:27:48.207Z","id":188,"workflowId":"JylqgPtHmfBmHWGq","versionId":"ffb8bc5e-5f04-43be-b38d-f3b7783e0789","event":"activated","userId":"ccf2cf04-ab03-4a3c-be8b-c898907df6eb"},{"createdAt":"2026-03-27T11:10:38.449Z","id":52,"workflowId":"JylqgPtHmfBmHWGq","versionId":"ffb8bc5e-5f04-43be-b38d-f3b7783e0789","event":"activated","userId":"ccf2cf04-ab03-4a3c-be8b-c898907df6eb"}]}}