f3-automation/n8n/3b-events-api.json
{"updatedAt":"2026-04-02T10:27:48.304Z","createdAt":"2026-03-26T19:36:03.563Z","id":"9NmBa2Jq6KUsODOb","name":"F3 | 3b – Events API [Daten]","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"path":"f3-events-api","responseMode":"responseNode","options":{}},"id":"57c36e87-30ac-46b1-bbdb-c3b46144ab19","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-752,-128],"webhookId":"8bce317e-6361-4f10-bec8-74852a7f0a61"},{"parameters":{"authentication":"nocoDbApiToken","operation":"getAll","projectId":"pu4jkb0uwe4ebev","table":"mo0qnkmte1sl1mj","returnAll":true,"options":{}},"id":"9a52eebc-4dd1-41b6-8a8e-8e97c249c515","name":"📋 NocoDB Fallback","type":"n8n-nodes-base.nocoDb","typeVersion":3,"position":[-512,64],"credentials":{"nocoDbApiToken":{"id":"JTFuA8mXBcV97XFf","name":"NocoDB Token"}}},{"parameters":{"respondWith":"text","responseBody":"={{ $json._response }}","options":{}},"id":"aa41de0f-e0c6-4fd3-996e-210a71328173","name":"Antwort senden","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[-80,-128]},{"parameters":{"url":"http://f3-cookie-crawler:3000/status/joyclub-events","options":{}},"id":"n-store-read","name":"📦 Status-Store lesen","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[-512,-128]},{"parameters":{"jsCode":"// Status-Store Primärquelle\nconst storeData = $('📦 Status-Store lesen').first().json;\nconst events = (storeData && storeData.events && storeData.events.length > 0)\n  ? storeData.events\n  : [];\nconsole.log('[EventsAPI] Status-Store:', events.length, 'Events');\nreturn [{ json: { _response: JSON.stringify(events) } }];"},"id":"n-store-logic","name":"⚙️ Status-Store first","type":"n8n-nodes-base.code","typeVersion":2,"position":[-288,-128]}],"connections":{"Webhook":{"main":[[{"node":"📦 Status-Store lesen","index":0}]]},"📦 Status-Store lesen":{"main":[[{"node":"⚙️ Status-Store first","index":0}]]},"⚙️ Status-Store first":{"main":[[{"node":"Antwort senden","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false,"callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"3a63f4fb-04e5-4578-ad0b-999389bcf9af","activeVersionId":"3a63f4fb-04e5-4578-ad0b-999389bcf9af","versionCounter":67,"triggerCount":1,"shared":[{"updatedAt":"2026-03-26T19:36:03.563Z","createdAt":"2026-03-26T19:36:03.563Z","role":"workflow:owner","workflowId":"9NmBa2Jq6KUsODOb","projectId":"XukWgY1K98HyiBd3","project":{"updatedAt":"2026-03-23T08:24:01.303Z","createdAt":"2026-03-03T08:09:28.635Z","id":"XukWgY1K98HyiBd3","name":"Tobias Kuschel <kuschel190190@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"ccf2cf04-ab03-4a3c-be8b-c898907df6eb"}}],"tags":[],"activeVersion":{"updatedAt":"2026-03-30T10:18:57.241Z","createdAt":"2026-03-30T10:18:57.241Z","versionId":"3a63f4fb-04e5-4578-ad0b-999389bcf9af","workflowId":"9NmBa2Jq6KUsODOb","nodes":[{"parameters":{"path":"f3-events-api","responseMode":"responseNode","options":{}},"id":"57c36e87-30ac-46b1-bbdb-c3b46144ab19","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-752,-128],"webhookId":"8bce317e-6361-4f10-bec8-74852a7f0a61"},{"parameters":{"authentication":"nocoDbApiToken","operation":"getAll","projectId":"pu4jkb0uwe4ebev","table":"mo0qnkmte1sl1mj","returnAll":true,"options":{}},"id":"9a52eebc-4dd1-41b6-8a8e-8e97c249c515","name":"📋 NocoDB Fallback","type":"n8n-nodes-base.nocoDb","typeVersion":3,"position":[-512,64],"credentials":{"nocoDbApiToken":{"id":"JTFuA8mXBcV97XFf","name":"NocoDB Token"}}},{"parameters":{"respondWith":"text","responseBody":"={{ $json._response }}","options":{}},"id":"aa41de0f-e0c6-4fd3-996e-210a71328173","name":"Antwort senden","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[-80,-128]},{"parameters":{"url":"http://f3-cookie-crawler:3000/status/joyclub-events","options":{}},"id":"n-store-read","name":"📦 Status-Store lesen","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[-512,-128]},{"parameters":{"jsCode":"// Status-Store Primärquelle\nconst storeData = $('📦 Status-Store lesen').first().json;\nconst events = (storeData && storeData.events && storeData.events.length > 0)\n  ? storeData.events\n  : [];\nconsole.log('[EventsAPI] Status-Store:', events.length, 'Events');\nreturn [{ json: { _response: JSON.stringify(events) } }];"},"id":"n-store-logic","name":"⚙️ Status-Store first","type":"n8n-nodes-base.code","typeVersion":2,"position":[-288,-128]}],"connections":{"Webhook":{"main":[[{"node":"📦 Status-Store lesen","index":0}]]},"📦 Status-Store lesen":{"main":[[{"node":"⚙️ Status-Store first","index":0}]]},"⚙️ Status-Store first":{"main":[[{"node":"Antwort senden","index":0}]]}},"authors":"Tobias Kuschel","name":null,"description":null,"autosaved":true,"workflowPublishHistory":[{"createdAt":"2026-04-02T10:27:48.339Z","id":189,"workflowId":"9NmBa2Jq6KUsODOb","versionId":"3a63f4fb-04e5-4578-ad0b-999389bcf9af","event":"deactivated","userId":"ccf2cf04-ab03-4a3c-be8b-c898907df6eb"},{"createdAt":"2026-04-02T10:27:48.353Z","id":190,"workflowId":"9NmBa2Jq6KUsODOb","versionId":"3a63f4fb-04e5-4578-ad0b-999389bcf9af","event":"activated","userId":"ccf2cf04-ab03-4a3c-be8b-c898907df6eb"}]}}