f3-automation/n8n/3c-events-scraper.json
{"updatedAt":"2026-04-02T10:27:48.478Z","createdAt":"2026-03-30T05:11:21.724Z","id":"1IRCgHhZKSH9Lfpu","name":"F3 | 3c – Events Scraper [Sync]","description":null,"active":true,"isArchived":false,"nodes":[{"id":"n-webhook","name":"🚀 Webhook: Events scrapen","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,200],"parameters":{"httpMethod":"GET","path":"f3-events-scraper","responseMode":"responseNode","options":{}}},{"id":"n-schedule","name":"⏰ Schedule: Täglich 05:00","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1,"position":[0,400],"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 5 * * *"}]}}},{"id":"n-cookie","name":"🍪 Cookie aus NocoDB","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[220,300],"parameters":{"method":"GET","url":"https://nocodb.f3-events.de/api/v1/db/data/noco/pu4jkb0uwe4ebev/mmvneegxgeltpav?limit=1","sendHeaders":true,"headerParameters":{"parameters":[{"name":"xc-token","value":"2l1BhPzXFj_Bb4pv9rKGpBMPZDkzpnKik7biab9-"}]},"options":{}}},{"id":"n-current","name":"🌐 Aktuelle Events","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[440,200],"parameters":{"method":"GET","url":"https://www.joyclub.de/party/veranstaltungen/13140845.f3.html","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Cookie","value":"={{ $('🍪 Cookie aus NocoDB').first().json.list[0].Cookie }}"},{"name":"User-Agent","value":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 Chrome/122.0.0.0 Safari/537.36"},{"name":"Accept","value":"text/html,application/xhtml+xml"},{"name":"Accept-Language","value":"de-DE,de;q=0.9"}]},"options":{"response":{"response":{"responseFormat":"text"}}}}},{"id":"n-archive","name":"🌐 Archiv Events","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[440,400],"parameters":{"method":"GET","url":"https://www.joyclub.de/party/veranstaltungen/13140845-archive.f3.html","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Cookie","value":"={{ $('🍪 Cookie aus NocoDB').first().json.list[0].Cookie }}"},{"name":"User-Agent","value":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 Chrome/122.0.0.0 Safari/537.36"},{"name":"Accept","value":"text/html,application/xhtml+xml"},{"name":"Accept-Language","value":"de-DE,de;q=0.9"}]},"options":{"response":{"response":{"responseFormat":"text"}}}}},{"id":"n-merge","name":"🔀 Merge: Beide Seiten","type":"n8n-nodes-base.merge","typeVersion":3,"position":[660,300],"parameters":{"mode":"append","options":{}}},{"id":"n-parse","name":"⚙️ Code: Events parsen","type":"n8n-nodes-base.code","typeVersion":2,"position":[880,300],"parameters":{"jsCode":"function parseJoyclubHtml(html) {\n  const events = [];\n  if (!html || html.length < 1000) return events;\n\n  // Struktur: <span class=\"navigation_link_title\">NAME</span><span class=\"navigation_info_txt\">DATE</span>\n  const pat = /<span[^>]*navigation_link_title[^>]*>([^<]+)<\\/span><span[^>]*navigation_info_txt[^>]*>([^<]+)<\\/span>/g;\n  let m;\n  while ((m = pat.exec(html)) !== null) {\n    const name  = m[1].trim();\n    const datum = m[2].trim();\n    if (!name || name.length < 3) continue;\n    const dp = datum.match(/(\\d{2})\\.(\\d{2})\\.(\\d{4})/);\n    if (!dp) continue;\n    const isoDatum = dp[3] + '-' + dp[2] + '-' + dp[1];\n\n    const before = html.substring(Math.max(0, m.index - 2000), m.index);\n    const allImgs = [...before.matchAll(/data-src=\"(https:\\/\\/cfnup[^\"]+)\"/g)];\n    const bild = allImgs.length ? allImgs[allImgs.length - 1][1] : '';\n    const allLinks = [...before.matchAll(/href=\"(https?:\\/\\/www\\.joyclub\\.de\\/(?:event|party)\\/[^\"]+)\"/g)];\n    const link = allLinks.length ? allLinks[allLinks.length - 1][1] : '';\n\n    events.push({ name, datum, isoDatum, bild, link });\n  }\n  return events;\n}\n\nconst today = new Date(); today.setHours(0,0,0,0);\nconst items = $input.all();\nconst htmlCurrent = items[0]?.json?.data || '';\nconst htmlArchive = items[1]?.json?.data || '';\n\nconst current = parseJoyclubHtml(htmlCurrent);\nconst archive = parseJoyclubHtml(htmlArchive);\n\n// Merge + deduplizieren nach Name\nconst byName = {};\n[...current, ...archive].forEach(ev => {\n  const key = ev.name.toLowerCase().trim();\n  if (!byName[key]) byName[key] = ev;\n});\n\n// NocoDB-kompatible Feldnamen + Status\nconst all = Object.values(byName).map(ev => {\n  const evDate = ev.isoDatum ? new Date(ev.isoDatum) : null;\n  const Status = (evDate && evDate < today) ? 'inaktiv' : 'aktiv';\n  return {\n    EventName:       ev.name,\n    EventDatum:      ev.datum,\n    EventLink:       ev.link,\n    Bild:            ev.bild,\n    Status,\n    isoDatum:        ev.isoDatum,\n    Angemeldet:      0,\n    NichtBestaetigt: 0,\n    Maenner:         0,\n    Frauen:          0,\n    Paare:           0,\n    Vorgemerkt:      0,\n    Aufrufe:         0,\n  };\n}).sort((a, b) => (b.isoDatum || '').localeCompare(a.isoDatum || ''));\n\nconsole.log('Events gefunden:', all.length);\nreturn [{ json: { events: all, count: all.length, scrapedAt: new Date().toISOString() } }];"}},{"id":"n-save","name":"💾 Status-Store: Events speichern","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[1100,300],"parameters":{"method":"POST","url":"http://f3-cookie-crawler:3000/status","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ key: \"joyclub-events\", data: $json }) }}","options":{},"contentType":"json","body":"={{ { \"key\": \"events\", \"data\": $json } }}"}},{"id":"n-respond","name":"✅ Respond: Fertig","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[1320,300],"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ ok: true, count: $(\"⚙️ Code: Events parsen\").first().json.count, scrapedAt: $(\"⚙️ Code: Events parsen\").first().json.scrapedAt }) }}","options":{}}}],"connections":{"🚀 Webhook: Events scrapen":{"main":[[{"node":"🍪 Cookie aus NocoDB","index":0}]]},"⏰ Schedule: Täglich 05:00":{"main":[[{"node":"🍪 Cookie aus NocoDB","index":0}]]},"🍪 Cookie aus NocoDB":{"main":[[{"node":"🌐 Aktuelle Events","index":0},{"node":"🌐 Archiv Events","index":0}]]},"🌐 Aktuelle Events":{"main":[[{"node":"🔀 Merge: Beide Seiten","index":0}]]},"🌐 Archiv Events":{"main":[[{"node":"🔀 Merge: Beide Seiten","index":1}]]},"🔀 Merge: Beide Seiten":{"main":[[{"node":"⚙️ Code: Events parsen","index":0}]]},"⚙️ Code: Events parsen":{"main":[[{"node":"💾 Status-Store: Events speichern","index":0}]]},"💾 Status-Store: Events speichern":{"main":[[{"node":"✅ Respond: Fertig","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":{"node:⏰ Schedule: Täglich 05:00":{"recurrenceRules":[]}},"meta":null,"pinData":null,"versionId":"d5c30688-0b5b-41d0-9c71-78956d1ae06d","activeVersionId":"d5c30688-0b5b-41d0-9c71-78956d1ae06d","versionCounter":17,"triggerCount":2,"shared":[{"updatedAt":"2026-03-30T05:11:21.724Z","createdAt":"2026-03-30T05:11:21.724Z","role":"workflow:owner","workflowId":"1IRCgHhZKSH9Lfpu","projectId":"XukWgY1K98HyiBd3","project":{"updatedAt":"2026-03-23T08:24:01.303Z","createdAt":"2026-03-03T08:09:28.635Z","id":"XukWgY1K98HyiBd3","name":"Tobias Kuschel <kuschel190190@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"ccf2cf04-ab03-4a3c-be8b-c898907df6eb"}}],"tags":[],"activeVersion":{"updatedAt":"2026-03-31T11:27:48.631Z","createdAt":"2026-03-31T11:27:48.631Z","versionId":"d5c30688-0b5b-41d0-9c71-78956d1ae06d","workflowId":"1IRCgHhZKSH9Lfpu","nodes":[{"id":"n-webhook","name":"🚀 Webhook: Events scrapen","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,200],"parameters":{"httpMethod":"GET","path":"f3-events-scraper","responseMode":"responseNode","options":{}}},{"id":"n-schedule","name":"⏰ Schedule: Täglich 05:00","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1,"position":[0,400],"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 5 * * *"}]}}},{"id":"n-cookie","name":"🍪 Cookie aus NocoDB","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[220,300],"parameters":{"method":"GET","url":"https://nocodb.f3-events.de/api/v1/db/data/noco/pu4jkb0uwe4ebev/mmvneegxgeltpav?limit=1","sendHeaders":true,"headerParameters":{"parameters":[{"name":"xc-token","value":"2l1BhPzXFj_Bb4pv9rKGpBMPZDkzpnKik7biab9-"}]},"options":{}}},{"id":"n-current","name":"🌐 Aktuelle Events","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[440,200],"parameters":{"method":"GET","url":"https://www.joyclub.de/party/veranstaltungen/13140845.f3.html","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Cookie","value":"={{ $('🍪 Cookie aus NocoDB').first().json.list[0].Cookie }}"},{"name":"User-Agent","value":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 Chrome/122.0.0.0 Safari/537.36"},{"name":"Accept","value":"text/html,application/xhtml+xml"},{"name":"Accept-Language","value":"de-DE,de;q=0.9"}]},"options":{"response":{"response":{"responseFormat":"text"}}}}},{"id":"n-archive","name":"🌐 Archiv Events","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[440,400],"parameters":{"method":"GET","url":"https://www.joyclub.de/party/veranstaltungen/13140845-archive.f3.html","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Cookie","value":"={{ $('🍪 Cookie aus NocoDB').first().json.list[0].Cookie }}"},{"name":"User-Agent","value":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 Chrome/122.0.0.0 Safari/537.36"},{"name":"Accept","value":"text/html,application/xhtml+xml"},{"name":"Accept-Language","value":"de-DE,de;q=0.9"}]},"options":{"response":{"response":{"responseFormat":"text"}}}}},{"id":"n-merge","name":"🔀 Merge: Beide Seiten","type":"n8n-nodes-base.merge","typeVersion":3,"position":[660,300],"parameters":{"mode":"append","options":{}}},{"id":"n-parse","name":"⚙️ Code: Events parsen","type":"n8n-nodes-base.code","typeVersion":2,"position":[880,300],"parameters":{"jsCode":"function parseJoyclubHtml(html) {\n  const events = [];\n  if (!html || html.length < 1000) return events;\n\n  // Struktur: <span class=\"navigation_link_title\">NAME</span><span class=\"navigation_info_txt\">DATE</span>\n  const pat = /<span[^>]*navigation_link_title[^>]*>([^<]+)<\\/span><span[^>]*navigation_info_txt[^>]*>([^<]+)<\\/span>/g;\n  let m;\n  while ((m = pat.exec(html)) !== null) {\n    const name  = m[1].trim();\n    const datum = m[2].trim();\n    if (!name || name.length < 3) continue;\n    const dp = datum.match(/(\\d{2})\\.(\\d{2})\\.(\\d{4})/);\n    if (!dp) continue;\n    const isoDatum = dp[3] + '-' + dp[2] + '-' + dp[1];\n\n    const before = html.substring(Math.max(0, m.index - 2000), m.index);\n    const allImgs = [...before.matchAll(/data-src=\"(https:\\/\\/cfnup[^\"]+)\"/g)];\n    const bild = allImgs.length ? allImgs[allImgs.length - 1][1] : '';\n    const allLinks = [...before.matchAll(/href=\"(https?:\\/\\/www\\.joyclub\\.de\\/(?:event|party)\\/[^\"]+)\"/g)];\n    const link = allLinks.length ? allLinks[allLinks.length - 1][1] : '';\n\n    events.push({ name, datum, isoDatum, bild, link });\n  }\n  return events;\n}\n\nconst today = new Date(); today.setHours(0,0,0,0);\nconst items = $input.all();\nconst htmlCurrent = items[0]?.json?.data || '';\nconst htmlArchive = items[1]?.json?.data || '';\n\nconst current = parseJoyclubHtml(htmlCurrent);\nconst archive = parseJoyclubHtml(htmlArchive);\n\n// Merge + deduplizieren nach Name\nconst byName = {};\n[...current, ...archive].forEach(ev => {\n  const key = ev.name.toLowerCase().trim();\n  if (!byName[key]) byName[key] = ev;\n});\n\n// NocoDB-kompatible Feldnamen + Status\nconst all = Object.values(byName).map(ev => {\n  const evDate = ev.isoDatum ? new Date(ev.isoDatum) : null;\n  const Status = (evDate && evDate < today) ? 'inaktiv' : 'aktiv';\n  return {\n    EventName:       ev.name,\n    EventDatum:      ev.datum,\n    EventLink:       ev.link,\n    Bild:            ev.bild,\n    Status,\n    isoDatum:        ev.isoDatum,\n    Angemeldet:      0,\n    NichtBestaetigt: 0,\n    Maenner:         0,\n    Frauen:          0,\n    Paare:           0,\n    Vorgemerkt:      0,\n    Aufrufe:         0,\n  };\n}).sort((a, b) => (b.isoDatum || '').localeCompare(a.isoDatum || ''));\n\nconsole.log('Events gefunden:', all.length);\nreturn [{ json: { events: all, count: all.length, scrapedAt: new Date().toISOString() } }];"}},{"id":"n-save","name":"💾 Status-Store: Events speichern","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[1100,300],"parameters":{"method":"POST","url":"http://f3-cookie-crawler:3000/status","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ key: \"joyclub-events\", data: $json }) }}","options":{},"contentType":"json","body":"={{ { \"key\": \"events\", \"data\": $json } }}"}},{"id":"n-respond","name":"✅ Respond: Fertig","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[1320,300],"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ ok: true, count: $(\"⚙️ Code: Events parsen\").first().json.count, scrapedAt: $(\"⚙️ Code: Events parsen\").first().json.scrapedAt }) }}","options":{}}}],"connections":{"🚀 Webhook: Events scrapen":{"main":[[{"node":"🍪 Cookie aus NocoDB","index":0}]]},"⏰ Schedule: Täglich 05:00":{"main":[[{"node":"🍪 Cookie aus NocoDB","index":0}]]},"🍪 Cookie aus NocoDB":{"main":[[{"node":"🌐 Aktuelle Events","index":0},{"node":"🌐 Archiv Events","index":0}]]},"🌐 Aktuelle Events":{"main":[[{"node":"🔀 Merge: Beide Seiten","index":0}]]},"🌐 Archiv Events":{"main":[[{"node":"🔀 Merge: Beide Seiten","index":1}]]},"🔀 Merge: Beide Seiten":{"main":[[{"node":"⚙️ Code: Events parsen","index":0}]]},"⚙️ Code: Events parsen":{"main":[[{"node":"💾 Status-Store: Events speichern","index":0}]]},"💾 Status-Store: Events speichern":{"main":[[{"node":"✅ Respond: Fertig","index":0}]]}},"authors":"Tobias Kuschel","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-03-31T11:27:48.722Z","id":163,"workflowId":"1IRCgHhZKSH9Lfpu","versionId":"d5c30688-0b5b-41d0-9c71-78956d1ae06d","event":"deactivated","userId":"ccf2cf04-ab03-4a3c-be8b-c898907df6eb"},{"createdAt":"2026-03-31T11:27:48.751Z","id":164,"workflowId":"1IRCgHhZKSH9Lfpu","versionId":"d5c30688-0b5b-41d0-9c71-78956d1ae06d","event":"activated","userId":"ccf2cf04-ab03-4a3c-be8b-c898907df6eb"},{"createdAt":"2026-04-02T10:27:48.549Z","id":191,"workflowId":"1IRCgHhZKSH9Lfpu","versionId":"d5c30688-0b5b-41d0-9c71-78956d1ae06d","event":"deactivated","userId":"ccf2cf04-ab03-4a3c-be8b-c898907df6eb"},{"createdAt":"2026-04-02T10:27:48.569Z","id":192,"workflowId":"1IRCgHhZKSH9Lfpu","versionId":"d5c30688-0b5b-41d0-9c71-78956d1ae06d","event":"activated","userId":"ccf2cf04-ab03-4a3c-be8b-c898907df6eb"},{"createdAt":"2026-03-31T11:27:48.826Z","id":165,"workflowId":"1IRCgHhZKSH9Lfpu","versionId":"d5c30688-0b5b-41d0-9c71-78956d1ae06d","event":"deactivated","userId":"ccf2cf04-ab03-4a3c-be8b-c898907df6eb"},{"createdAt":"2026-03-31T11:27:48.853Z","id":166,"workflowId":"1IRCgHhZKSH9Lfpu","versionId":"d5c30688-0b5b-41d0-9c71-78956d1ae06d","event":"activated","userId":"ccf2cf04-ab03-4a3c-be8b-c898907df6eb"}]}}