f3-automation/n8n/4-lv-kandidaten.json
{"updatedAt":"2026-04-02T10:27:48.756Z","createdAt":"2026-03-27T15:13:43.875Z","id":"v2podBSp75cdxZeH","name":"F3 | 4 – LV Kandidaten erkennen [Daten]","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"content":"## Schritt 1 von 4: Neue Anmeldungen erkennen\n\n**Was passiert hier:**\n1. JOYclub `/benachrichtigung/` abrufen\n2. Profil-URLs aus Eventanmeldungs-Benachrichtigungen extrahieren\n3. Gegen bestehende NocoDB-Einträge prüfen (Duplikat-Schutz)\n4. Neue Kandidaten in NocoDB anlegen (Status = `neu`)\n5. Workflow 2 automatisch triggern\n\n**⚠️ Einmalig eintragen:**\n- `LADIES_VOTING_TABLE_ID` → NocoDB Tabellen-ID nach Anlage der Tabelle","height":200,"width":560},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-192,0],"id":"cca01fe6-30b8-4d41-bcf6-5666ceee8fa2","name":"Info"},{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 8 * * *"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-512,384],"id":"a8d1cc82-fcbe-4266-b0a5-160f463c9a2a","name":"⏰ Täglich 08:00"},{"parameters":{"authentication":"nocoDbApiToken","operation":"getAll","projectId":"pu4jkb0uwe4ebev","table":"mmvneegxgeltpav","limit":1,"options":{}},"type":"n8n-nodes-base.nocoDb","typeVersion":3,"position":[-304,384],"id":"5c1aa88d-cc2a-47cc-b260-8f0e2397a4b6","name":"🍪 Cookies aus NocoDB","credentials":{"nocoDbApiToken":{"id":"JTFuA8mXBcV97XFf","name":"NocoDB Token"}}},{"parameters":{"url":"https://www.joyclub.de/benachrichtigung/","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Cookie","value":"={{ $json.Cookie }}"},{"name":"User-Agent","value":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36"},{"name":"Accept","value":"text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8"},{"name":"Accept-Language","value":"de-DE,de;q=0.9"}]},"options":{"timeout":20000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-112,384],"id":"f43b9568-1089-4aa3-87e6-d238ebb07429","name":"🌐 /benachrichtigung/ abrufen"},{"parameters":{"url":"https://nocodb.f3-events.de/api/v1/db/data/noco/pu4jkb0uwe4ebev/m9qmqh26mhpnlld?limit=500","sendHeaders":true,"headerParameters":{"parameters":[{"name":"xc-token","value":"2l1BhPzXFj_Bb4pv9rKGpBMPZDkzpnKik7biab9-"}]},"options":{"timeout":10000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[96,384],"id":"a1dc47b2-4cf1-4517-ae0a-0189e8e3dfe8","name":"📋 Bestehende Kandidaten laden"},{"parameters":{"jsCode":"// HTML der Benachrichtigungsseite\nconst html = $('🌐 /benachrichtigung/ abrufen').first().json.data || '';\n\n// Event-IDs: Suche /ticket_management, dann Event-ID rückwärts extrahieren\nconst eventIds = [];\nconst blocks = html.split('notification-object-type=');\nfor (const block of blocks) {\n  if (!block.startsWith('\"event_registration\"')) continue;\n  const chunk = block.substring(0, 2000);\n  // Suche '/ticket_management' und gehe rückwärts zur Event-ID\n  const tmIdx = chunk.indexOf('/ticket_management');\n  if (tmIdx < 0) continue;\n  // Vor '/ticket_management' steht: /event/1829501\n  const before = chunk.substring(0, tmIdx);\n  const lastSlash = before.lastIndexOf('/');\n  if (lastSlash < 0) continue;\n  const eventId = before.substring(lastSlash + 1);\n  if (eventId && !isNaN(Number(eventId)) && eventId.length > 3) eventIds.push(eventId);\n}\nconst uniqueIds = [...new Set(eventIds)];\n\nif (uniqueIds.length === 0) {\n  console.log('Keine event_registration Benachrichtigungen gefunden.');\n  return [];\n}\n\nconsole.log('Event-IDs:', uniqueIds.join(', '));\nreturn uniqueIds.map(id => ({ json: { eventId: id } }));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[288,384],"id":"47c8aa2b-b0e9-4a63-b356-1380be25dc6e","name":"🔍 Neue Profile filtern"},{"parameters":{"method":"POST","url":"https://nocodb.f3-events.de/api/v1/db/data/noco/pu4jkb0uwe4ebev/m9qmqh26mhpnlld","sendHeaders":true,"headerParameters":{"parameters":[{"name":"xc-token","value":"2l1BhPzXFj_Bb4pv9rKGpBMPZDkzpnKik7biab9-"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"options":{"timeout":10000},"contentType":"json","body":"={{ JSON.stringify({ ProfilUrl: $json.ProfilUrl, Status: 'neu', EventName: $json.EventName || '' }) }}"},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[496,384],"id":"9b668ef8-0a08-4fd9-afa6-e29b8ab3d2e6","name":"💾 Kandidat in NocoDB anlegen"},{"parameters":{"method":"POST","url":"https://n8n.f3-events.de/webhook/lv-profil-scraper","sendBody":true,"bodyParameters":{"parameters":[{}]},"options":{"timeout":10000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[736,384],"id":"b3e233ef-c901-4678-9e38-682394ab8fef","name":"▶️ Workflow 2 triggern","executeOnce":true},{"parameters":{"url":"=http://f3-cookie-crawler:3000/participants?event_id={{ $json.eventId }}","options":{"timeout":35000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[480,384],"id":"a9b4c123-1111-2222-3333-444455556666","name":"🖥️ CDP Teilnehmer laden"},{"parameters":{"jsCode":"// Alle gefundenen Profile aus CDP + bereits bekannte aus NocoDB\nconst profiles = $input.item.json.profiles || [];\nconst existingRaw = $('📋 Bestehende Kandidaten laden').first().json.list || [];\nconst existingUrls = new Set(existingRaw.map(r => r.ProfilUrl).filter(Boolean));\nconst eventName = $input.item.json.pageInfo?.title || '';\n\nconst newUrls = profiles.filter(url => !existingUrls.has(url));\n\nif (newUrls.length === 0) {\n  console.log('Keine neuen Profile für Event', $input.item.json.event_id);\n  return [];\n}\n\nconsole.log(`${newUrls.length} neue Profile: ${newUrls.join(', ')}`);\nreturn newUrls.map(url => ({ json: { ProfilUrl: url, Status: 'neu', EventName: eventName } }));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[680,384],"id":"b8c5d234-5555-6666-7777-888899990000","name":"🔍 Neue Profile filtern (CDP)"}],"connections":{"⏰ Täglich 08:00":{"main":[[{"node":"🍪 Cookies aus NocoDB","type":"main","index":0}]]},"🍪 Cookies aus NocoDB":{"main":[[{"node":"🌐 /benachrichtigung/ abrufen","type":"main","index":0}]]},"🌐 /benachrichtigung/ abrufen":{"main":[[{"node":"📋 Bestehende Kandidaten laden","type":"main","index":0}]]},"📋 Bestehende Kandidaten laden":{"main":[[{"node":"🔍 Neue Profile filtern","type":"main","index":0}]]},"🔍 Neue Profile filtern":{"main":[[{"node":"🖥️ CDP Teilnehmer laden","type":"main","index":0}]]},"💾 Kandidat in NocoDB anlegen":{"main":[[{"node":"▶️ Workflow 2 triggern","type":"main","index":0}]]},"🖥️ CDP Teilnehmer laden":{"main":[[{"node":"🔍 Neue Profile filtern (CDP)","type":"main","index":0}]]},"🔍 Neue Profile filtern (CDP)":{"main":[[{"node":"💾 Kandidat in NocoDB anlegen","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false,"callerPolicy":"workflowsFromSameOwner","saveManualExecutions":true},"staticData":{"node:⏰ Täglich 08:00":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"14272f26-3597-4e0f-b898-4f4497f5b4e2","activeVersionId":"14272f26-3597-4e0f-b898-4f4497f5b4e2","versionCounter":52,"triggerCount":1,"shared":[{"updatedAt":"2026-03-27T15:13:43.875Z","createdAt":"2026-03-27T15:13:43.875Z","role":"workflow:owner","workflowId":"v2podBSp75cdxZeH","projectId":"XukWgY1K98HyiBd3","project":{"updatedAt":"2026-03-23T08:24:01.303Z","createdAt":"2026-03-03T08:09:28.635Z","id":"XukWgY1K98HyiBd3","name":"Tobias Kuschel <kuschel190190@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"ccf2cf04-ab03-4a3c-be8b-c898907df6eb"}}],"tags":[],"activeVersion":{"updatedAt":"2026-04-01T15:19:43.085Z","createdAt":"2026-04-01T15:19:43.085Z","versionId":"14272f26-3597-4e0f-b898-4f4497f5b4e2","workflowId":"v2podBSp75cdxZeH","nodes":[{"parameters":{"content":"## Schritt 1 von 4: Neue Anmeldungen erkennen\n\n**Was passiert hier:**\n1. JOYclub `/benachrichtigung/` abrufen\n2. Profil-URLs aus Eventanmeldungs-Benachrichtigungen extrahieren\n3. Gegen bestehende NocoDB-Einträge prüfen (Duplikat-Schutz)\n4. Neue Kandidaten in NocoDB anlegen (Status = `neu`)\n5. Workflow 2 automatisch triggern\n\n**⚠️ Einmalig eintragen:**\n- `LADIES_VOTING_TABLE_ID` → NocoDB Tabellen-ID nach Anlage der Tabelle","height":200,"width":560},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-192,0],"id":"cca01fe6-30b8-4d41-bcf6-5666ceee8fa2","name":"Info"},{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 8 * * *"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-512,384],"id":"a8d1cc82-fcbe-4266-b0a5-160f463c9a2a","name":"⏰ Täglich 08:00"},{"parameters":{"authentication":"nocoDbApiToken","operation":"getAll","projectId":"pu4jkb0uwe4ebev","table":"mmvneegxgeltpav","limit":1,"options":{}},"type":"n8n-nodes-base.nocoDb","typeVersion":3,"position":[-304,384],"id":"5c1aa88d-cc2a-47cc-b260-8f0e2397a4b6","name":"🍪 Cookies aus NocoDB","credentials":{"nocoDbApiToken":{"id":"JTFuA8mXBcV97XFf","name":"NocoDB Token"}}},{"parameters":{"url":"https://www.joyclub.de/benachrichtigung/","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Cookie","value":"={{ $json.Cookie }}"},{"name":"User-Agent","value":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36"},{"name":"Accept","value":"text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8"},{"name":"Accept-Language","value":"de-DE,de;q=0.9"}]},"options":{"timeout":20000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-112,384],"id":"f43b9568-1089-4aa3-87e6-d238ebb07429","name":"🌐 /benachrichtigung/ abrufen"},{"parameters":{"url":"https://nocodb.f3-events.de/api/v1/db/data/noco/pu4jkb0uwe4ebev/m9qmqh26mhpnlld?limit=500","sendHeaders":true,"headerParameters":{"parameters":[{"name":"xc-token","value":"2l1BhPzXFj_Bb4pv9rKGpBMPZDkzpnKik7biab9-"}]},"options":{"timeout":10000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[96,384],"id":"a1dc47b2-4cf1-4517-ae0a-0189e8e3dfe8","name":"📋 Bestehende Kandidaten laden"},{"parameters":{"jsCode":"// HTML der Benachrichtigungsseite\nconst html = $('🌐 /benachrichtigung/ abrufen').first().json.data || '';\n\n// Event-IDs: Suche /ticket_management, dann Event-ID rückwärts extrahieren\nconst eventIds = [];\nconst blocks = html.split('notification-object-type=');\nfor (const block of blocks) {\n  if (!block.startsWith('\"event_registration\"')) continue;\n  const chunk = block.substring(0, 2000);\n  // Suche '/ticket_management' und gehe rückwärts zur Event-ID\n  const tmIdx = chunk.indexOf('/ticket_management');\n  if (tmIdx < 0) continue;\n  // Vor '/ticket_management' steht: /event/1829501\n  const before = chunk.substring(0, tmIdx);\n  const lastSlash = before.lastIndexOf('/');\n  if (lastSlash < 0) continue;\n  const eventId = before.substring(lastSlash + 1);\n  if (eventId && !isNaN(Number(eventId)) && eventId.length > 3) eventIds.push(eventId);\n}\nconst uniqueIds = [...new Set(eventIds)];\n\nif (uniqueIds.length === 0) {\n  console.log('Keine event_registration Benachrichtigungen gefunden.');\n  return [];\n}\n\nconsole.log('Event-IDs:', uniqueIds.join(', '));\nreturn uniqueIds.map(id => ({ json: { eventId: id } }));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[288,384],"id":"47c8aa2b-b0e9-4a63-b356-1380be25dc6e","name":"🔍 Neue Profile filtern"},{"parameters":{"method":"POST","url":"https://nocodb.f3-events.de/api/v1/db/data/noco/pu4jkb0uwe4ebev/m9qmqh26mhpnlld","sendHeaders":true,"headerParameters":{"parameters":[{"name":"xc-token","value":"2l1BhPzXFj_Bb4pv9rKGpBMPZDkzpnKik7biab9-"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"options":{"timeout":10000},"contentType":"json","body":"={{ JSON.stringify({ ProfilUrl: $json.ProfilUrl, Status: 'neu', EventName: $json.EventName || '' }) }}"},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[496,384],"id":"9b668ef8-0a08-4fd9-afa6-e29b8ab3d2e6","name":"💾 Kandidat in NocoDB anlegen"},{"parameters":{"method":"POST","url":"https://n8n.f3-events.de/webhook/lv-profil-scraper","sendBody":true,"bodyParameters":{"parameters":[{}]},"options":{"timeout":10000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[736,384],"id":"b3e233ef-c901-4678-9e38-682394ab8fef","name":"▶️ Workflow 2 triggern","executeOnce":true},{"parameters":{"url":"=http://f3-cookie-crawler:3000/participants?event_id={{ $json.eventId }}","options":{"timeout":35000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[480,384],"id":"a9b4c123-1111-2222-3333-444455556666","name":"🖥️ CDP Teilnehmer laden"},{"parameters":{"jsCode":"// Alle gefundenen Profile aus CDP + bereits bekannte aus NocoDB\nconst profiles = $input.item.json.profiles || [];\nconst existingRaw = $('📋 Bestehende Kandidaten laden').first().json.list || [];\nconst existingUrls = new Set(existingRaw.map(r => r.ProfilUrl).filter(Boolean));\nconst eventName = $input.item.json.pageInfo?.title || '';\n\nconst newUrls = profiles.filter(url => !existingUrls.has(url));\n\nif (newUrls.length === 0) {\n  console.log('Keine neuen Profile für Event', $input.item.json.event_id);\n  return [];\n}\n\nconsole.log(`${newUrls.length} neue Profile: ${newUrls.join(', ')}`);\nreturn newUrls.map(url => ({ json: { ProfilUrl: url, Status: 'neu', EventName: eventName } }));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[680,384],"id":"b8c5d234-5555-6666-7777-888899990000","name":"🔍 Neue Profile filtern (CDP)"}],"connections":{"⏰ Täglich 08:00":{"main":[[{"node":"🍪 Cookies aus NocoDB","type":"main","index":0}]]},"🍪 Cookies aus NocoDB":{"main":[[{"node":"🌐 /benachrichtigung/ abrufen","type":"main","index":0}]]},"🌐 /benachrichtigung/ abrufen":{"main":[[{"node":"📋 Bestehende Kandidaten laden","type":"main","index":0}]]},"📋 Bestehende Kandidaten laden":{"main":[[{"node":"🔍 Neue Profile filtern","type":"main","index":0}]]},"🔍 Neue Profile filtern":{"main":[[{"node":"🖥️ CDP Teilnehmer laden","type":"main","index":0}]]},"💾 Kandidat in NocoDB anlegen":{"main":[[{"node":"▶️ Workflow 2 triggern","type":"main","index":0}]]},"🖥️ CDP Teilnehmer laden":{"main":[[{"node":"🔍 Neue Profile filtern (CDP)","type":"main","index":0}]]},"🔍 Neue Profile filtern (CDP)":{"main":[[{"node":"💾 Kandidat in NocoDB anlegen","type":"main","index":0}]]}},"authors":"Tobias Kuschel","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-04-01T15:19:43.172Z","id":171,"workflowId":"v2podBSp75cdxZeH","versionId":"14272f26-3597-4e0f-b898-4f4497f5b4e2","event":"deactivated","userId":"ccf2cf04-ab03-4a3c-be8b-c898907df6eb"},{"createdAt":"2026-04-01T15:19:43.207Z","id":172,"workflowId":"v2podBSp75cdxZeH","versionId":"14272f26-3597-4e0f-b898-4f4497f5b4e2","event":"activated","userId":"ccf2cf04-ab03-4a3c-be8b-c898907df6eb"},{"createdAt":"2026-04-02T10:27:48.816Z","id":193,"workflowId":"v2podBSp75cdxZeH","versionId":"14272f26-3597-4e0f-b898-4f4497f5b4e2","event":"deactivated","userId":"ccf2cf04-ab03-4a3c-be8b-c898907df6eb"},{"createdAt":"2026-04-02T10:27:48.843Z","id":194,"workflowId":"v2podBSp75cdxZeH","versionId":"14272f26-3597-4e0f-b898-4f4497f5b4e2","event":"activated","userId":"ccf2cf04-ab03-4a3c-be8b-c898907df6eb"}]}}