f3-automation/n8n/autopost-v4.json
{
  "name": "F3 autopost v4",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        34608,
        18512
      ],
      "id": "e9a7c449-e31d-493b-8d59-c32f6d7be8f1",
      "name": "⏰ Täglich 09:00"
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "getAll",
        "projectId": "pu4jkb0uwe4ebev",
        "table": "mmvneegxgeltpav",
        "returnAll": true,
        "options": {}
      },
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 3,
      "position": [
        35152,
        18512
      ],
      "id": "9446ae5c-b7c3-46ec-9bca-2d5b240e0547",
      "name": "🍪 Alle Cookies holen",
      "credentials": {
        "nocoDbApiToken": {
          "id": "JTFuA8mXBcV97XFf",
          "name": "NocoDB Token"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst morgen = new Date();\nmorgen.setDate(morgen.getDate() + 1);\nmorgen.setHours(0,0,0,0);\n\nconst ablaufend = [];\n\nfor (const item of items) {\n  const ablauf = item.json.Ablaufdatum;\n  if (!ablauf) continue;\n  \n  const ablaufDatum = new Date(ablauf);\n  ablaufDatum.setHours(0,0,0,0);\n  \n  // Läuft in 1 Tag oder weniger ab?\n  const diffTage = Math.ceil((ablaufDatum - new Date()) / (1000 * 60 * 60 * 24));\n  \n  if (diffTage <= 1) {\n    ablaufend.push({\n      name: item.json.Name,\n      ablaufdatum: ablauf,\n      diffTage\n    });\n  }\n}\n\nif (ablaufend.length === 0) {\n  console.log('✅ Alle Cookies gültig');\n  return [{ json: { alert: false, message: 'Alle Cookies gültig' } }];\n}\n\nconst nachricht = ablaufend.map(c => \n  `⚠️ Cookie \"${c.name}\" läuft ${c.diffTage <= 0 ? 'HEUTE' : 'MORGEN'} ab! (${c.ablaufdatum})`\n).join('\\n');\n\nreturn [{ json: { alert: true, nachricht } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        35616,
        18512
      ],
      "id": "7434739c-97e7-4d40-a73e-220b4b3dd31b",
      "name": "⏱ Ablauf prüfen"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "alert-check",
              "leftValue": "={{ $json.alert }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        36160,
        18512
      ],
      "id": "0c8a8c22-7023-421f-8f98-61fa283b9988",
      "name": "🔔 Alert nötig?"
    },
    {
      "parameters": {
        "chatId": "-1003592524930",
        "text": "=🚨 F³ Cookie läuft ab!\n\n{{ $('⏱ Ablauf prüfen').item.json.nachricht }}\n\n👉 Bitte erneuern:\n1. browser.f3-events.de öffnen\n2. F12 → Application → Cookies\n3. Werte kopieren\n4. NocoDB → Tabelle Cookies → F3-Events aktualisieren",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        36672,
        18496
      ],
      "id": "d9ef5fe9-8c31-410a-941d-987599c26ac7",
      "name": "⚠️ Telegram: Cookie läuft ab",
      "webhookId": "acd4875e-994e-451e-9b31-696dece4e5d7",
      "credentials": {
        "telegramApi": {
          "id": "K91Kw4YS9fiyGIEL",
          "name": "Chat-Bot"
        }
      }
    },
    {
      "parameters": {
        "source": "database",
        "workflowId": {
          "__rl": true,
          "value": "NACH_IMPORT_ERSETZEN",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        36960,
        18496
      ],
      "id": "cookie-sync-auto-trigger",
      "name": "🔄 Cookie Sync starten"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 6 * * 1-5"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        34464,
        19360
      ],
      "id": "d7a7b083-40bc-4e27-9537-cbf9e6f2bcf1",
      "name": "⏰ Mo-Fr 06:00 Uhr"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        34464,
        19520
      ],
      "id": "e414943e-0883-4cde-a24d-0e3e3b5edf2c",
      "name": "▶ Manuell testen"
    },
    {
      "parameters": {
        "jsCode": "const days = ['So', 'Mo', 'Di', 'Mi', 'Do', 'Fr', 'Sa'];\nconst today = new Date();\nconst dayName = days[today.getDay()];\nconst dateStr = today.toLocaleDateString('de-DE');\nconst isMontag = dayName === 'Mo';\nconsole.log('📅 Heute:', dayName);\nreturn [{ json: { wochentag: dayName, datum: dateStr, isMontag } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        34704,
        19456
      ],
      "id": "8c4a68f7-5d27-4e52-ad4d-b036083335b1",
      "name": "📅 Wochentag ermitteln",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "getAll",
        "projectId": "pu4jkb0uwe4ebev",
        "table": "mmvneegxgeltpav",
        "limit": 1,
        "options": {}
      },
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 3,
      "position": [
        34848,
        19456
      ],
      "id": "248667fb-074b-4fdd-9272-5ad75263f0e3",
      "name": "🍪 Cookie aus NocoDB",
      "credentials": {
        "nocoDbApiToken": {
          "id": "JTFuA8mXBcV97XFf",
          "name": "NocoDB Token"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const cookie = $input.item.json.Cookie || '';\nif (!cookie) throw new Error('Kein Cookie in NocoDB! Tabelle Cookies → Eintrag F3-Events prüfen.');\nconsole.log('✅ Cookie geladen');\nreturn [{ json: { \n  cookie,\n  wochentag: $('📅 Wochentag ermitteln').item.json.wochentag,\n  isMontag: $('📅 Wochentag ermitteln').item.json.isMontag\n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        34992,
        19456
      ],
      "id": "28c64f8c-ff2f-41fb-8516-2c8950672b68",
      "name": "✅ Cookie prüfen"
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "getAll",
        "projectId": "pu4jkb0uwe4ebev",
        "table": "mo0qnkmte1sl1mj",
        "returnAll": true,
        "options": {}
      },
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 3,
      "position": [
        35152,
        19456
      ],
      "id": "82e4969d-aed2-4f7c-826b-33cea7eaac28",
      "name": "📋 Event holen",
      "credentials": {
        "nocoDbApiToken": {
          "id": "JTFuA8mXBcV97XFf",
          "name": "NocoDB Token"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const isMontag = $('✅ Cookie prüfen').item.json.isMontag;\nconst event = $input.item.json;\n\nif (!event || !event.EventName) {\n  throw new Error('Kein aktives Event für heute! NocoDB prüfen: Wochentag + Status=aktiv');\n}\n\nconsole.log('✅ Event:', event.EventName);\n\nlet bildUrl = '';\ntry {\n  const att = event['Event-Bild'];\n  const parsed = typeof att === 'string' ? JSON.parse(att) : att;\n  if (Array.isArray(parsed) && parsed.length > 0) {\n    const path = parsed[0].signedPath || parsed[0].path || parsed[0].url || '';\n    bildUrl = path.startsWith('http') ? path : 'https://nocodb.f3-events.de/' + path;\n  }\n} catch(e) {\n  console.log('⚠ Bild-Fehler:', e.message);\n}\n\nif (!bildUrl) throw new Error('Kein Bild! Event-Bild in NocoDB hochladen.');\n\nconsole.log('🖼 Bild URL:', bildUrl);\nreturn [{ json: { ...event, bildUrl, isMontag } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        35664,
        19440
      ],
      "id": "730a03f7-4ada-4054-9609-5ebb858d5429",
      "name": "✅ Event & Bild prüfen"
    },
    {
      "parameters": {
        "agent": "conversationalAgent",
        "promptType": "define",
        "text": "=Erstelle einen JOYclub Post für folgendes Event.\n\nEvent Name: {{ $('✅ Event & Bild prüfen').item.json.EventName }}\nEvent Link: {{ $('✅ Event & Bild prüfen').item.json.EventLink }}\nEvent Datum: {{ $('✅ Event & Bild prüfen').item.json.EventDatum }}\nEvent Beschreibung: {{ $('✅ Event & Bild prüfen').item.json['Event-Beschreibung'] }}\nAnmeldestand: {{ $('✅ Event & Bild prüfen').item.json.Anmeldestand }}\nZusatzinfos: {{ $('✅ Event & Bild prüfen').item.json.Zusatzinfos }}\nIst Montag: {{ $('✅ Event & Bild prüfen').item.json.isMontag }}\n\nGib NUR den fertigen Post-Text aus.",
        "options": {
          "systemMessage": "Du bist der Text und Kommunikationsassistent für\n🖤 F³ – Friends • Fun • Freedom · The Next Vibe\n\nDu schreibst in der Ich oder Wir Perspektive aus Sicht von Tobi als Host und Veranstalter von F³.\nF³ steht für: Selected Souls. Wild Nights. One Energy.\n\nTONALITÄT: locker, persönlich, per Du, wertschätzend, sexy aber nicht vulgär, humorvoll, immer positiv.\nSPRACHSTIL: Deutsch, kurze Absätze, gut lesbar auf Handy, keine Gedankenstriche, Emojis gezielt.\nFokus auf: Vibe, Atmosphäre, Respekt, Gästemix, Safe Space.\nImmer betonen: handverlesener Gästemix, Respekt, Nein ist Nein, Ladies Voting, Safe Space.\n\nWICHTIG: Orientiere dich an der Event-Beschreibung, formuliere aber IMMER neu und anders.\n\nSTRUKTUR:\n1. ERSTE ZEILE: Nur der Event-Link\n2. Kurzer Hook (1 Satz)\n3. 2-5 kurze Absätze\n4. WENN MONTAG: Hinweis auf Ladies Voting jeden Donnerstag\n5. Call to Action\n6. Signatur:\n🖤 F³ – Friends • Fun • Freedom\nSelected Souls. Wild Nights. One Energy.\n7. LETZTE ZEILE: https://www.joyclub.de/groups/f3_events/\n\nNur Post-Text ausgeben."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        35872,
        19440
      ],
      "id": "e280edbb-1f63-406d-836c-2b3bbb16e03e",
      "name": "🤖 F³ KI Agent"
    },
    {
      "parameters": {
        "model": "gpt-4.1-mini",
        "options": {
          "temperature": 0.85
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        35904,
        19648
      ],
      "id": "57267412-31be-4a24-8345-398b1c430908",
      "name": "OpenAI GPT-4o",
      "credentials": {
        "openAiApi": {
          "id": "pq9OempR8pfDox7p",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const output = $input.item.json.output || $input.item.json.text || '';\nif (!output) throw new Error('Kein Text vom KI Agent!');\n\n// Nur überflüssige Whitespace am Anfang/Ende entfernen\n// Kein manuelles Escaping nötig — JSON.stringify im Post-Node erledigt das\nconst clean = output.trim();\n\nreturn [{ json: { post_text: clean } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        36144,
        19440
      ],
      "id": "27cc1e36-90da-4c73-b6f1-62399efa8164",
      "name": "📝 Post-Text extrahieren"
    },
    {
      "parameters": {
        "amount": 3
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        36384,
        19440
      ],
      "id": "15ab8107-e4c8-44df-9d63-98579e91e512",
      "name": "⏳ Pause 3 Sek",
      "webhookId": "b48e1888-97f7-477c-96af-ad34b570594e"
    },
    {
      "parameters": {
        "url": "={{ $('✅ Event & Bild prüfen').item.json.bildUrl }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        36624,
        19440
      ],
      "id": "ee47a1f0-e207-4079-a3ac-f36edb1fe676",
      "name": "🖼 Bild herunterladen"
    },
    {
      "parameters": {
        "url": "https://www.joyclub.de/webauth/access_token",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "*/*"
            },
            {
              "name": "x-requested-with",
              "value": "XMLHttpRequest"
            },
            {
              "name": "referer",
              "value": "https://www.joyclub.de/my_joy/feed/friends/"
            },
            {
              "name": "user-agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/146.0.0.0 Safari/537.36"
            },
            {
              "name": "cookie",
              "value": "={{ $('✅ Cookie prüfen').item.json.cookie }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        36864,
        19440
      ],
      "id": "58875268-2e23-4e84-9ec4-da727cbe1066",
      "name": "🔑 Token holen",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.item.json;\nconst token = data?.content?.access_token || data?.access_token || '';\nif (!token) throw new Error('❌ Kein Token! Cookie abgelaufen → NocoDB Cookies Tabelle aktualisieren → Eintrag F3-Events');\nreturn [{ json: { access_token: token } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        37104,
        19440
      ],
      "id": "79dbd972-e6a5-413a-99c0-07eb1f4ce2e1",
      "name": "✅ Token prüfen",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "content": "## Trigger",
        "height": 800,
        "width": 496
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        34144,
        19200
      ],
      "typeVersion": 1,
      "id": "a0d100e7-70e9-4f67-8246-b327794cb050",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "content": "## Input",
        "height": 800,
        "width": 1200,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        34640,
        19200
      ],
      "typeVersion": 1,
      "id": "009aa290-14ca-4209-b8a1-649d2e96ac0a",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "content": "## Agent / Automation",
        "height": 800,
        "width": 688,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        35824,
        19200
      ],
      "typeVersion": 1,
      "id": "62e9ddd0-a6ee-4172-8ea7-080f92bd3a5f",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "## Output",
        "height": 800,
        "width": 1200,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        37424,
        19200
      ],
      "typeVersion": 1,
      "id": "94cff70a-5765-4c9c-bdda-80deff2cd804",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "## Trigger",
        "height": 384,
        "width": 496
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        34544,
        18320
      ],
      "typeVersion": 1,
      "id": "ac48d6a0-6e66-4b36-a32c-56497b0f12bd",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Input",
        "height": 384,
        "width": 496,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        35056,
        18320
      ],
      "typeVersion": 1,
      "id": "67f36c41-e446-49be-90a1-1aaa5bac4599",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "content": "## Agent / Automation",
        "height": 384,
        "width": 496,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        35568,
        18320
      ],
      "typeVersion": 1,
      "id": "0b30ee24-7197-48eb-9f49-7f600c317e98",
      "name": "Sticky Note11"
    },
    {
      "parameters": {
        "content": "## Output",
        "height": 384,
        "width": 496,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        36080,
        18320
      ],
      "typeVersion": 1,
      "id": "263250d4-efc8-4159-80f8-d896faa7b917",
      "name": "Sticky Note12"
    },
    {
      "parameters": {
        "content": "## Notification",
        "height": 384,
        "width": 496,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        36592,
        18320
      ],
      "typeVersion": 1,
      "id": "36240325-c984-4115-bd45-2d61dc8856f1",
      "name": "Sticky Note14"
    },
    {
      "parameters": {
        "content": "## 🍪Cookie holen und in Noco-DB abspeichern",
        "height": 672,
        "width": 3024,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        34144,
        18176
      ],
      "typeVersion": 1,
      "id": "f80bb9d0-dfda-46d8-9dd2-f4ec54f77198",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## Input",
        "height": 800,
        "width": 912,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        36512,
        19200
      ],
      "typeVersion": 1,
      "id": "6dc416fa-d1f1-4876-a13a-72ef594addef",
      "name": "Sticky Note15"
    },
    {
      "parameters": {
        "content": "🔀 MERGE FIX\nHier werden Binary (Bild)\nund Slot-Daten zusammengeführt.\n→ Output enthält Binary + imageId\n→ Bild hochladen kann beides nutzen",
        "height": 120,
        "width": 280,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        37776,
        19648
      ],
      "typeVersion": 1,
      "id": "80b41c87-3db8-4e21-bf1a-c8c498e3ede7",
      "name": "Merge Hinweis"
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        37472,
        19440
      ],
      "id": "7a8b1398-fdd9-415f-96c4-4d2545a44bfc",
      "name": "⏳ Pause 2 Sek",
      "webhookId": "81150eee-5c2d-46b5-bf91-aa23202374fa"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://apiv2.joyclub.com/graph/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "=Bearer {{ $json.access_token }}"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "origin",
              "value": "https://www.joyclub.de"
            },
            {
              "name": "referer",
              "value": "https://www.joyclub.de/my_joy/feed/friends/"
            },
            {
              "name": "x-requested-from",
              "value": "https://www.joyclub.de/my_joy/feed/friends/"
            },
            {
              "name": "x-requested-with",
              "value": "APIV2-Client"
            },
            {
              "name": "user-agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/146.0.0.0 Safari/537.36"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"query\": \"mutation createImageUploadSlotList($input: [String!]!) {\\n  imageRegistry {\\n    initialUploadSlot {\\n      createForList(originalFileNameList: $input) {\\n        __typename\\n        ... on ImageRegistryInitialUploadSlotCreateForListSuccessResponse {\\n          imageUploadSlotList {\\n            imageId\\n            fileName\\n            presignedUploadUrl\\n          }\\n        }\\n      }\\n    }\\n  }\\n}\",\n  \"variables\": { \"input\": [\"event-bild.jpg\"] },\n  \"operationName\": \"createImageUploadSlotList\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        37680,
        19440
      ],
      "id": "c945e9da-1c4c-40f6-ba31-e835504eb53e",
      "name": "📤 Upload Slot anfordern",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.item.json;\nconst slot = data?.data?.imageRegistry?.initialUploadSlot?.createForList?.imageUploadSlotList?.[0];\n\nif (!slot) throw new Error('Kein Upload-Slot: ' + JSON.stringify(data));\n\nconsole.log('✅ Slot:', slot.imageId);\n\nreturn [{\n  json: {\n    imageId: slot.imageId,\n    presignedUploadUrl: slot.presignedUploadUrl\n  },\n  binary: $('🖼 Bild herunterladen').item.binary\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        37888,
        19440
      ],
      "id": "3f9f9c07-e0c1-4d4e-a517-29c9eaf2a59c",
      "name": "📦 Slot extrahieren",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ $json.presignedUploadUrl }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "content-type",
              "value": "image/jpeg"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        38096,
        19440
      ],
      "id": "1935c20d-3e39-4f9a-8376-b39caba2135a",
      "name": "☁️ Bild hochladen",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://apiv2.joyclub.com/graph/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "=Bearer {{ $('✅ Token prüfen').item.json.access_token }}"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "origin",
              "value": "https://www.joyclub.de"
            },
            {
              "name": "referer",
              "value": "https://www.joyclub.de/my_joy/feed/friends/"
            },
            {
              "name": "x-requested-from",
              "value": "https://www.joyclub.de/my_joy/feed/friends/"
            },
            {
              "name": "x-requested-with",
              "value": "APIV2-Client"
            },
            {
              "name": "user-agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/146.0.0.0 Safari/537.36"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"operationName\": \"createStatusMessage\",\n  \"variables\": {\n    \"input\": {\n      \"visibility\": \"ALL\",\n      \"content\": {{ JSON.stringify($('📝 Post-Text extrahieren').item.json.post_text) }},\n      \"upload\": null,\n      \"directUpload\": {\n        \"uploadedImageId\": {{ JSON.stringify($('📦 Slot extrahieren').item.json.imageId) }},\n        \"isFsk18\": false\n      }\n    }\n  },\n  \"query\": \"mutation createStatusMessage($input: StatusMessageCreateInput!) { statusMessage { create(input: $input) { __typename ... on StatusMessageCreateResult { id } } } }\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        38304,
        19440
      ],
      "id": "71af7fe9-ba61-4ceb-89b7-66edbc1f632c",
      "name": "📢 Post veröffentlichen"
    },
    {
      "parameters": {
        "chatId": "-1003592524930",
        "text": "=✅ F³ Auto-Post erfolgreich!\n\n📌 Event: {{ $('✅ Event & Bild prüfen').item.json.EventName }}\n📅 Datum: {{ $('✅ Event & Bild prüfen').item.json.EventDatum }}\n🕐 Uhrzeit: {{ new Date().toLocaleTimeString('de-DE') }}\n\n🖤 Der Post ist live auf JOYclub!",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        38720,
        19440
      ],
      "id": "6200dd87-af3b-412b-a86f-02c0312f6386",
      "name": "✅ Telegram: Erfolg",
      "webhookId": "b8785eb3-30d5-4b47-9589-4924122a8f5f",
      "notesInFlow": false,
      "credentials": {
        "telegramApi": {
          "id": "56WQCkpcuw8EcEDL",
          "name": "Joy-Post-Bot"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        38336,
        19888
      ],
      "id": "1527dbfc-50f6-490d-8927-cdd4a1a0ff14",
      "name": "🚨 Fehler abfangen"
    },
    {
      "parameters": {
        "chatId": "-1003592524930",
        "text": "=❌ F³ Auto-Post FEHLER!\n\n🚨 Fehler: {{ $json.message || 'Unbekannter Fehler' }}\n📍 Node: {{ $json.execution?.lastNodeExecuted || 'Unbekannt' }}\n🕐 Uhrzeit: {{ new Date().toLocaleTimeString('de-DE') }}\n📋 Details: {{ ($json.description || '').substring(0, 200) }}\n\n👉 Workflow prüfen:\nhttps://n8n.f3-events.de",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        38720,
        19888
      ],
      "id": "7ac5c87b-57ff-4b02-ac57-e3a8448f96bc",
      "name": "❌ Telegram: Fehler",
      "webhookId": "3730b309-d44b-4a97-9ae5-9bccdcb67ab0",
      "credentials": {
        "telegramApi": {
          "id": "SnB3bT6F4HvHGmGW",
          "name": "Error-Bot"
        }
      }
    },
    {
      "parameters": {
        "content": "## Notification",
        "height": 800,
        "width": 496,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        38624,
        19200
      ],
      "typeVersion": 1,
      "id": "8206234c-f29e-4a53-a431-dd8b4170160c",
      "name": "Sticky Note16"
    },
    {
      "parameters": {
        "content": "## 🛠 Setup-Dokumentation – Was wurde eingerichtet?\n☁️ Hetzner\n\nVPS gemietet (Ubuntu, 8GB RAM)\nFirewall-Regel: Port 3010 für eigene IP freigegeben\nDNS-Eintrag: browser.f3-events.de → 157.90.21.222\nDNS-Eintrag: joyclub-puppeteer.f3-events.de → 157.90.21.222\n\n🐳 Coolify (auf dem VPS)\n\nCoolify installiert & konfiguriert\nGitHub App verbunden (Repo: joyclub-puppeteer)\nChromium Browser deployed (Docker, läuft 24/7)\n→ Erreichbar: https://browser.f3-events.de\n→ Zweck: JOYclub-Session dauerhaft offen halten\nPuppeteer Service deployed (wurde später nicht genutzt)\n\n🍪 JOYclub Session\n\nEinmalig manuell auf browser.f3-events.de eingeloggt\nCookies aus dem Cloud-Browser kopiert\nCookies in N8N Token-Node eingetragen\n\n🗄 NocoDB\n\nTabelle F3_Events angelegt\nFelder: EventName, EventLink, EventDatum, Event-Beschreibung, Event-Bild, Wochentag, Anmeldestand, Zusatzinfos, Status\n\n🤖 N8N Credentials\n\nNocoDB Account\nOpenAI API Key\nTelegram Bot (JoyPost_Bot)\n\n⚠️ Wiederkehrend\n\nCookies erneuern wenn 403-Fehler → browser.f3-events.de",
        "height": 1216
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        33680,
        18912
      ],
      "id": "f50323dd-2a25-466f-ae06-8f54ca3644a0",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "🍪 HIER COOKIES EINTRAGEN!\n\nWenn 403-Fehler:\n→ browser.f3-events.de öffnen\n→ F12 → Application → Cookies\n→ Alle 5 Werte kopieren\n\nFormat:\nFUP_sso_autologin=WERT;\nFUP_vid=WERT;\nFUP_sid=WERT;\nFUPlid=WERT;\n__zlcmid=WERT",
        "height": 428,
        "width": 300,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        34160,
        18304
      ],
      "typeVersion": 1,
      "id": "4218bb43-a2ef-435c-9982-4f3d7bb268fe",
      "name": "Cookie Node Hinweis"
    },
    {
      "parameters": {
        "content": "## Post generieren",
        "height": 672,
        "width": 4976,
        "color": "#C51B1B"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        34144,
        18912
      ],
      "typeVersion": 1,
      "id": "f296b592-b0a1-4477-b7ba-c03abd38c891",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "chatId": "-1003592524930",
        "text": "=⚠️ F³ Auto-Post – Fehler bei: Token holen / prüfen\n\n🚨 {{ $json.error?.message || $json.message || 'Unbekannter Fehler' }}\n🕐 {{ new Date().toLocaleTimeString('de-DE') }}\n\n👉 https://n8n.f3-events.de",
        "additionalFields": {}
      },
      "id": "b246cbf5-1517-4be3-9204-d5496e018450",
      "name": "⚠️ Telegram: Token-Fehler",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        37232,
        19808
      ],
      "webhookId": "004a919d-66be-4f99-9b9a-3bb854dde8c6",
      "credentials": {
        "telegramApi": {
          "id": "SnB3bT6F4HvHGmGW",
          "name": "Error-Bot"
        }
      }
    },
    {
      "parameters": {
        "chatId": "-1003592524930",
        "text": "=⚠️ F³ Auto-Post – Fehler bei: Upload-Slot anfordern\n\n🚨 {{ $json.error?.message || $json.message || 'Unbekannter Fehler' }}\n🕐 {{ new Date().toLocaleTimeString('de-DE') }}\n\n👉 https://n8n.f3-events.de",
        "additionalFields": {}
      },
      "id": "10617a1b-ad03-4425-aa46-eee8734b6db9",
      "name": "⚠️ Telegram: Upload-Slot-Fehler",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        37952,
        19824
      ],
      "webhookId": "6dffa96f-7511-47cf-8231-5e8be3247d63",
      "credentials": {
        "telegramApi": {
          "id": "SnB3bT6F4HvHGmGW",
          "name": "Error-Bot"
        }
      }
    },
    {
      "parameters": {
        "chatId": "-1003592524930",
        "text": "=⚠️ F³ Auto-Post – Fehler bei: Bild hochladen\n\n🚨 {{ $json.error?.message || $json.message || 'Unbekannter Fehler' }}\n🕐 {{ new Date().toLocaleTimeString('de-DE') }}\n\n👉 https://n8n.f3-events.de",
        "additionalFields": {}
      },
      "id": "9355633d-ebd3-4463-a870-eb3537455d74",
      "name": "⚠️ Telegram: Bild-Upload-Fehler",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        38320,
        19680
      ],
      "webhookId": "27c02d4d-59e1-4f7f-9088-e0a39691f7a6",
      "credentials": {
        "telegramApi": {
          "id": "SnB3bT6F4HvHGmGW",
          "name": "Error-Bot"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Prüft ob Event holen überhaupt Items geliefert hat\n// Bei 0 Items: wirft Fehler → wird per Telegram gemeldet\nconst items = $input.all();\n\nif (!items || items.length === 0) {\n  throw new Error(\n    'Kein aktives Event für heute gefunden! '\n    + 'NocoDB prüfen: Wochentag=' + $(\"📅 Wochentag ermitteln\").item.json.wochentag\n    + ' Status=aktiv'\n  );\n}\n\nconst event = items[0].json;\nif (!event || !event.EventName) {\n  throw new Error('Event gefunden, aber kein EventName! NocoDB-Daten prüfen.');\n}\n\nconsole.log('✅ Event gefunden:', event.EventName);\nreturn items;"
      },
      "id": "1c588544-265b-4a14-828f-7329ab77f690",
      "name": "🔍 Event vorhanden?",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        35472,
        19456
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "chatId": "-1003592524930",
        "text": "=⚠️ F³ Auto-Post – Kein Event gefunden!\n\n📅 Wochentag: {{ $(\"📅 Wochentag ermitteln\").item.json.wochentag }}\n🕐 {{ new Date().toLocaleTimeString('de-DE') }}\n\nBitte in NocoDB prüfen:\n→ Event mit passendem Wochentag vorhanden?\n→ Status auf 'aktiv' gesetzt?\n→ Event-Bild hochgeladen?",
        "additionalFields": {}
      },
      "id": "805a3830-fa52-4ed1-a921-21a921b35e46",
      "name": "⚠️ Telegram: Kein Event",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        35008,
        19808
      ],
      "webhookId": "08191ae2-18cc-408b-9d46-1152c49e6d8a",
      "credentials": {
        "telegramApi": {
          "id": "SnB3bT6F4HvHGmGW",
          "name": "Error-Bot"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Filtert Events aus NocoDB nach dem heutigen Wochentag\n// Robuster als NocoDB WHERE-Filter (kein Expression-Problem)\n\nconst wochentag = $('✅ Cookie prüfen').item.json.wochentag;\nconst items = $input.all();\n\nconsole.log(`📅 Suche Event für Wochentag: ${wochentag}`);\nconsole.log(`📊 Alle Events in NocoDB: ${items.length}`);\n\n// Filter: Wochentag-Feld enthält den heutigen Tag\n// Funktioniert mit 'Mo', 'Mo,Fr', 'Mo, Fr' etc.\nconst matching = items.filter(item => {\n  const w = (item.json.Wochentag || '').replace(/\\s/g, '');\n  const tags = w.split(',');\n  return tags.includes(wochentag);\n});\n\nconsole.log(`✅ Passende Events: ${matching.length}`);\n\nif (matching.length === 0) {\n  const alleWochentage = items.map(i => i.json.Wochentag).join(', ');\n  throw new Error(\n    `Kein aktives Event für ${wochentag}! `\n    + `Verfügbare Wochentage: ${alleWochentage}`\n  );\n}\n\n// Nur das erste passende Event zurückgeben\nreturn [matching[0]];"
      },
      "id": "59f39bdd-44e5-4cb3-92e4-acc8530326b4",
      "name": "📅 Event nach Tag filtern",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        35312,
        19456
      ],
      "onError": "continueErrorOutput"
    }
  ],
  "pinData": {},
  "connections": {
    "⏰ Täglich 09:00": {
      "main": [
        [
          {
            "node": "🍪 Alle Cookies holen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🍪 Alle Cookies holen": {
      "main": [
        [
          {
            "node": "⏱ Ablauf prüfen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⏱ Ablauf prüfen": {
      "main": [
        [
          {
            "node": "🔔 Alert nötig?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔔 Alert nötig?": {
      "main": [
        [
          {
            "node": "⚠️ Telegram: Cookie läuft ab",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⚠️ Telegram: Cookie läuft ab": {
      "main": [
        [
          {
            "node": "🔄 Cookie Sync starten",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⏰ Mo-Fr 06:00 Uhr": {
      "main": [
        [
          {
            "node": "📅 Wochentag ermitteln",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "▶ Manuell testen": {
      "main": [
        [
          {
            "node": "📅 Wochentag ermitteln",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📅 Wochentag ermitteln": {
      "main": [
        [
          {
            "node": "🍪 Cookie aus NocoDB",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "⚠️ Telegram: Kein Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🍪 Cookie aus NocoDB": {
      "main": [
        [
          {
            "node": "✅ Cookie prüfen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "✅ Cookie prüfen": {
      "main": [
        [
          {
            "node": "📋 Event holen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Event holen": {
      "main": [
        [
          {
            "node": "📅 Event nach Tag filtern",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "✅ Event & Bild prüfen": {
      "main": [
        [
          {
            "node": "🤖 F³ KI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🤖 F³ KI Agent": {
      "main": [
        [
          {
            "node": "📝 Post-Text extrahieren",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI GPT-4o": {
      "ai_languageModel": [
        [
          {
            "node": "🤖 F³ KI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "📝 Post-Text extrahieren": {
      "main": [
        [
          {
            "node": "⏳ Pause 3 Sek",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⏳ Pause 3 Sek": {
      "main": [
        [
          {
            "node": "🖼 Bild herunterladen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🖼 Bild herunterladen": {
      "main": [
        [
          {
            "node": "🔑 Token holen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔑 Token holen": {
      "main": [
        [
          {
            "node": "✅ Token prüfen",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "⚠️ Telegram: Token-Fehler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "✅ Token prüfen": {
      "main": [
        [
          {
            "node": "⏳ Pause 2 Sek",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "⚠️ Telegram: Token-Fehler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⏳ Pause 2 Sek": {
      "main": [
        [
          {
            "node": "📤 Upload Slot anfordern",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📤 Upload Slot anfordern": {
      "main": [
        [
          {
            "node": "📦 Slot extrahieren",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "⚠️ Telegram: Upload-Slot-Fehler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📦 Slot extrahieren": {
      "main": [
        [
          {
            "node": "☁️ Bild hochladen",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "⚠️ Telegram: Upload-Slot-Fehler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "☁️ Bild hochladen": {
      "main": [
        [
          {
            "node": "📢 Post veröffentlichen",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "⚠️ Telegram: Bild-Upload-Fehler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📢 Post veröffentlichen": {
      "main": [
        [
          {
            "node": "✅ Telegram: Erfolg",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🚨 Fehler abfangen": {
      "main": [
        [
          {
            "node": "❌ Telegram: Fehler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔍 Event vorhanden?": {
      "main": [
        [
          {
            "node": "✅ Event & Bild prüfen",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "⚠️ Telegram: Kein Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📅 Event nach Tag filtern": {
      "main": [
        [
          {
            "node": "🔍 Event vorhanden?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "⚠️ Telegram: Kein Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "errorWorkflow": "RSFIo9kzWL38fS8g",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "4940c60d-3851-4cb3-8c29-2598fbcc6576",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "cc5ca908af439bf72b1e971c93e705a6dc31cb8109485faa69d972d9ddc14d82"
  },
  "id": "yqrgx2LvK6gHSyUx",
  "tags": []
}