f3-automation/n8n/events-api.json
{
  "name": "F3 Events API",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "f3-events-api",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-400, 300],
      "id": "f3api-0001-0001-0001-000000000001",
      "name": "🔗 GET /f3-events-api",
      "webhookId": "f3-events-api"
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "getAll",
        "projectId": "pu4jkb0uwe4ebev",
        "table": "mo0qnkmte1sl1mj",
        "returnAll": true,
        "options": {}
      },
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 3,
      "position": [0, 300],
      "id": "f3api-0002-0002-0002-000000000002",
      "name": "📋 Events aus NocoDB",
      "credentials": {
        "nocoDbApiToken": {
          "id": "JTFuA8mXBcV97XFf",
          "name": "NocoDB Token"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Filter aktive Events und formatiere als sauberes JSON-Array\nconst items = $input.all();\n\nfunction extractISO(datum) {\n  if (!datum) return '';\n  // \"04.04.2026 · Wülfrath\" → \"2026-04-04\"\n  const m = datum.match(/(\\d{2})\\.(\\d{2})\\.(\\d{4})/);\n  if (m) return `${m[3]}-${m[2]}-${m[1]}`;\n  // Multi-day \"18.–23.07.2026\" → \"2026-07-23\" (End-Datum für Archiv-Logik)\n  const multi = datum.match(/[–-](\\d{2})\\.(\\d{2})\\.(\\d{4})/);\n  if (multi) return `${multi[3]}-${multi[2]}-${multi[1]}`;\n  return '';\n}\n\n// Nur aktive Events (Status = 'aktiv')\nconst aktiv = items.filter(i => i.json.Status === 'aktiv');\n\n// Sortierung nach Datum\naktiv.sort((a, b) => {\n  const dA = extractISO(a.json.EventDatum);\n  const dB = extractISO(b.json.EventDatum);\n  return dA.localeCompare(dB);\n});\n\nconst events = aktiv.map(i => ({\n  name: i.json.EventName || '',\n  link: i.json.EventLink || '',\n  datum: i.json.EventDatum || '',\n  isoDatum: extractISO(i.json.EventDatum),\n  beschreibung: i.json['Event-Beschreibung'] || '',\n  wochentag: i.json.Wochentag || '',\n  anmeldestand: i.json.Anmeldestand || '',\n  zusatz: i.json.Zusatzinfos || ''\n}));\n\nreturn [{ json: { events } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [400, 300],
      "id": "f3api-0003-0003-0003-000000000003",
      "name": "✅ Events formatieren"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json.events) }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Content-Type",
                "value": "application/json; charset=utf-8"
              },
              {
                "name": "Cache-Control",
                "value": "max-age=900"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [800, 300],
      "id": "f3api-0004-0004-0004-000000000004",
      "name": "📤 JSON Response"
    }
  ],
  "connections": {
    "🔗 GET /f3-events-api": {
      "main": [
        [{ "node": "📋 Events aus NocoDB", "type": "main", "index": 0 }]
      ]
    },
    "📋 Events aus NocoDB": {
      "main": [
        [{ "node": "✅ Events formatieren", "type": "main", "index": 0 }]
      ]
    },
    "✅ Events formatieren": {
      "main": [
        [{ "node": "📤 JSON Response", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": ["f3-automation"],
  "triggerCount": 1
}
