f3-automation/n8n/lv-0-auto-login.json
{
  "name": "lv-0-auto-login",
  "nodes": [
    {
      "parameters": {
        "content": "## lv-0 Auto-Login\n\n**Was passiert hier:**\n1. Prüft ob Session noch gültig ist (`/benachrichtigung/` → Login-Seite?)\n2. Falls abgelaufen: automatischer Login via CDP (`/login`)\n3. Cookie-Sync triggern → speichert neue Cookies in NocoDB\n\n**Voraussetzung:**\n- `JOYCLUB_USERNAME` + `JOYCLUB_PASSWORD` in Coolify als Env-Variablen setzen",
        "height": 220,
        "width": 500
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-200, -80],
      "id": "note-lv0",
      "name": "Info"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 4 * * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [-480, 300],
      "id": "schedule-lv0",
      "name": "⏰ Täglich 04:00"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [-480, 460],
      "id": "manual-lv0",
      "name": "▶️ Manuell"
    },
    {
      "parameters": {
        "url": "https://www.joyclub.de/benachrichtigung/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Cookie",
              "value": "={{ $json.Cookie || '' }}"
            }
          ]
        },
        "options": { "timeout": 15000, "redirect": { "redirect": { "followRedirects": false } } }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-100, 380],
      "id": "check-session",
      "name": "🔍 Session prüfen"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false },
          "conditions": [
            {
              "id": "check-login",
              "leftValue": "={{ $json.data || '' }}",
              "rightValue": "JOYclub Login",
              "operator": { "type": "string", "operation": "contains" }
            }
          ],
          "combinator": "or"
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [120, 380],
      "id": "if-logged-out",
      "name": "🤔 Ausgeloggt?"
    },
    {
      "parameters": {
        "url": "http://f3-cookie-crawler:3000/login",
        "options": { "timeout": 50000 }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [340, 300],
      "id": "do-login",
      "name": "🔐 Auto-Login via CDP"
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "id": "check-success",
              "leftValue": "={{ $json.success }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ],
          "combinator": "and"
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [560, 300],
      "id": "if-login-ok",
      "name": "✅ Login OK?"
    },
    {
      "parameters": {
        "url": "http://f3-cookie-crawler:3000/cookies",
        "options": { "timeout": 15000 }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [780, 240],
      "id": "get-cookies",
      "name": "🍪 Cookies holen"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "https://nocodb.f3-events.de/api/v1/db/data/noco/pu4jkb0uwe4ebev/mmvneegxgeltpav/1",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "xc-token", "value": "2l1BhPzXFj_Bb4pv9rKGpBMPZDkzpnKik7biab9-" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify({ Cookie: $json.cookieString }) }}",
        "options": { "timeout": 10000 }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1000, 240],
      "id": "save-cookies",
      "name": "💾 Cookies in NocoDB"
    },
    {
      "parameters": {
        "chatId": "-1003592524930",
        "text": "=✅ JOYclub Auto-Login erfolgreich!\n\n🍪 Neue Session-Cookies gespeichert\n🕐 {{ new Date().toLocaleTimeString('de-DE') }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1220, 240],
      "id": "tg-success",
      "name": "📨 Telegram: Erfolg",
      "credentials": {
        "telegramApi": { "id": "", "name": "Telegram" }
      }
    },
    {
      "parameters": {
        "chatId": "-1003592524930",
        "text": "=❌ JOYclub Auto-Login fehlgeschlagen!\n\nFehler: {{ $json.error || 'Unbekannt' }}\n\n👉 Bitte manuell in browser.f3-events.de einloggen",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [780, 380],
      "id": "tg-fail",
      "name": "📨 Telegram: Fehler",
      "credentials": {
        "telegramApi": { "id": "", "name": "Telegram" }
      }
    },
    {
      "parameters": {
        "chatId": "-1003592524930",
        "text": "=ℹ️ JOYclub Session noch aktiv – kein Login nötig.",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [340, 460],
      "id": "tg-ok",
      "name": "📨 Telegram: Session OK",
      "credentials": {
        "telegramApi": { "id": "", "name": "Telegram" }
      }
    }
  ],
  "connections": {
    "⏰ Täglich 04:00": { "main": [[{ "node": "🔍 Session prüfen", "type": "main", "index": 0 }]] },
    "▶️ Manuell":        { "main": [[{ "node": "🔍 Session prüfen", "type": "main", "index": 0 }]] },
    "🔍 Session prüfen": { "main": [[{ "node": "🤔 Ausgeloggt?",    "type": "main", "index": 0 }]] },
    "🤔 Ausgeloggt?": {
      "main": [
        [{ "node": "🔐 Auto-Login via CDP", "type": "main", "index": 0 }],
        [{ "node": "📨 Telegram: Session OK", "type": "main", "index": 0 }]
      ]
    },
    "🔐 Auto-Login via CDP": { "main": [[{ "node": "✅ Login OK?", "type": "main", "index": 0 }]] },
    "✅ Login OK?": {
      "main": [
        [{ "node": "🍪 Cookies holen",      "type": "main", "index": 0 }],
        [{ "node": "📨 Telegram: Fehler",   "type": "main", "index": 0 }]
      ]
    },
    "🍪 Cookies holen":    { "main": [[{ "node": "💾 Cookies in NocoDB", "type": "main", "index": 0 }]] },
    "💾 Cookies in NocoDB": { "main": [[{ "node": "📨 Telegram: Erfolg", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "meta": { "templateCredsSetupCompleted": false }
}
