f3-automation/n8n/lv-3-telegram-sender.json
{"updatedAt":"2026-03-27T16:25:49.434Z","createdAt":"2026-03-27T15:22:25.105Z","id":"WftVmeL20Kgu2d9y","name":"lv-3-telegram-sender","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"content":"## Schritt 3 von 4: Fotos + Link an Voting-Gruppe senden\n\n**Was passiert hier:**\n1. Alle Kandidaten mit Status=`fotos_geladen` laden\n2. Pro Kandidat: sendMediaGroup (Foto-Album) oder sendMessage (kein Foto)\n3. NocoDB updaten: Status → `gesendet`, TelegramMsgId speichern\n4. Zusammenfassung in Admin-Gruppe senden\n\n**⚠️ Einmalig eintragen:**\n- `VOTING_GRUPPE_CHAT_ID` → Chat-ID der Telegram Voting-Gruppe-Liste\n- Umgebungsvariable `TELEGRAM_BOT_TOKEN` in n8n Settings setzen","height":200,"width":540},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,0],"id":"34a905c6-7981-4405-86f2-d3540c5eccb9","name":"Info"},{"parameters":{"httpMethod":"POST","path":"lv-telegram-sender","responseMode":"lastNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,384],"id":"8f83b69d-2c40-4624-be6d-c72b54151829","name":"🔗 Webhook Trigger","webhookId":"lv-telegram-sender"},{"parameters":{"url":"=https://nocodb.f3-events.de/api/v1/db/data/noco/pu4jkb0uwe4ebev/m9qmqh26mhpnlld?where=(Status,eq,fotos_geladen)&limit=50","sendHeaders":true,"headerParameters":{"parameters":[{"name":"xc-token","value":"2l1BhPzXFj_Bb4pv9rKGpBMPZDkzpnKik7biab9-"}]},"options":{"timeout":10000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[208,384],"id":"ac3964f2-6acf-41ae-971f-a3964a7cb8ad","name":"📋 Kandidaten fotos_geladen laden"},{"parameters":{"jsCode":"const records = $input.first().json.list || [];\n\nif (records.length === 0) {\n  console.log('Keine Kandidaten mit Status=fotos_geladen.');\n  return [];\n}\n\n// ⚠️ Chat-ID der Voting-Gruppe-Liste eintragen:\nconst chatId = '811831595';\n\nreturn records.map(r => {\n  const photos = (() => { try { return JSON.parse(r.Fotos || '[]'); } catch(e) { return []; } })();\n  const caption = `👤 <b>${r.Username || 'Unbekannt'}</b>`\n    + (r.Alter ? ` · ${r.Alter} J.` : '')\n    + (r.Stadt ? ` · ${r.Stadt}`    : '')\n    + `\\n🔗 ${r.ProfilUrl}`;\n\n  if (photos.length > 0) {\n    const media = photos.map((url, i) => ({\n      type: 'photo',\n      media: url,\n      ...(i === 0 ? { caption, parse_mode: 'HTML' } : {})\n    }));\n    return { json: {\n      _nocodb_id:  r.Id,\n      _apiMethod:  'sendMediaGroup',\n      _body:       JSON.stringify({ chat_id: chatId, media })\n    }};\n  } else {\n    return { json: {\n      _nocodb_id:  r.Id,\n      _apiMethod:  'sendMessage',\n      _body:       JSON.stringify({ chat_id: chatId, text: caption, parse_mode: 'HTML' })\n    }};\n  }\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[400,384],"id":"45725689-bd1a-4bb9-b0bd-0670fe8dd41d","name":"📦 Telegram Payload bauen"},{"parameters":{"method":"POST","url":"=https://api.telegram.org/bot8756516773:AAE60Mz135KW8C3gZUqIgrRl8avyXjvJHW8/{{ $json._apiMethod }}","sendBody":true,"options":{"timeout":15000},"contentType":"raw","rawContentType":"application/json","body":"={{ $json._body }}"},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[608,384],"id":"a3255c59-5f32-4a9f-bc1a-e3fd2bbb26ea","name":"✈️ An Voting-Gruppe senden"},{"parameters":{"jsCode":"// Telegram Message-ID aus der API-Antwort extrahieren\nconst result   = $input.item.json.result || {};\nconst nocodb_id = $('📦 Telegram Payload bauen').item.json._nocodb_id;\n\n// sendMediaGroup gibt Array zurück, sendMessage ein Objekt\nconst isArray = Array.isArray(result);\nconst msgId = isArray\n  ? (result[0]?.message_id || '')\n  : (result.message_id || '');\n\nreturn [{ json: { _nocodb_id: nocodb_id, msgId: String(msgId) } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[800,384],"id":"352e038d-57de-4e73-84f3-2db46a3fcc2d","name":"🔢 Message-ID extrahieren"},{"parameters":{"method":"PATCH","url":"=https://nocodb.f3-events.de/api/v1/db/data/noco/pu4jkb0uwe4ebev/m9qmqh26mhpnlld/{{ $json._nocodb_id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"xc-token","value":"2l1BhPzXFj_Bb4pv9rKGpBMPZDkzpnKik7biab9-"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"options":{"timeout":10000},"contentType":"raw","rawContentType":"application/json","body":"={{ JSON.stringify({ Status: 'gesendet', TelegramMsgId: $json.msgId }) }}"},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1008,384],"id":"a7630d06-b21b-42c6-9e35-3d9efc0a1ec9","name":"💾 NocoDB updaten (gesendet)"},{"parameters":{"chatId":"811831595","text":"=🗳 <b>Ladies Voting</b> – Sync abgeschlossen\n\n📨 {{ $('📋 Kandidaten fotos_geladen laden').first().json.list.length }} Kandidaten an Voting-Gruppe gesendet\n🕐 {{ new Date().toLocaleTimeString('de-DE', { hour: '2-digit', minute: '2-digit' }) }}","additionalFields":{"parse_mode":"HTML"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1200,384],"id":"439af4b3-ff8d-48a8-99dc-1b967e79544b","name":"📊 Zusammenfassung (Admin)","executeOnce":true,"webhookId":"6abcc7fb-dfef-495e-903b-bb0a3119dad7","credentials":{"telegramApi":{"id":"56WQCkpcuw8EcEDL","name":"Joy-Post-Bot"}}}],"connections":{"🔗 Webhook Trigger":{"main":[[{"node":"📋 Kandidaten fotos_geladen laden","type":"main","index":0}]]},"📋 Kandidaten fotos_geladen laden":{"main":[[{"node":"📦 Telegram Payload bauen","type":"main","index":0}]]},"📦 Telegram Payload bauen":{"main":[[{"node":"✈️ An Voting-Gruppe senden","type":"main","index":0}]]},"✈️ An Voting-Gruppe senden":{"main":[[{"node":"🔢 Message-ID extrahieren","type":"main","index":0}]]},"🔢 Message-ID extrahieren":{"main":[[{"node":"💾 NocoDB updaten (gesendet)","type":"main","index":0}]]},"💾 NocoDB updaten (gesendet)":{"main":[[{"node":"📊 Zusammenfassung (Admin)","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false,"callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"f36a81eb-72f7-4d55-b263-317f2f941b83","activeVersionId":null,"versionCounter":6,"triggerCount":0,"shared":[{"updatedAt":"2026-03-27T15:22:25.105Z","createdAt":"2026-03-27T15:22:25.105Z","role":"workflow:owner","workflowId":"WftVmeL20Kgu2d9y","projectId":"XukWgY1K98HyiBd3","project":{"updatedAt":"2026-03-23T08:24:01.303Z","createdAt":"2026-03-03T08:09:28.635Z","id":"XukWgY1K98HyiBd3","name":"Tobias Kuschel <kuschel190190@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"ccf2cf04-ab03-4a3c-be8b-c898907df6eb"}}],"tags":[],"activeVersion":null}