f3-automation/n8n/lv-3-profil-scraper.json
{
  "updatedAt": "2026-03-28T10:27:04.883Z",
  "createdAt": "2026-03-27T15:19:55.986Z",
  "id": "pcqVgwCQlLC8JhdS",
  "name": "lv-3-profil-scraper",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "content": "## Schritt 2 von 4: Profil-Daten + Fotos extrahieren\n\n**Was passiert hier:**\n1. Alle Kandidaten mit Status=`neu` aus NocoDB laden\n2. Pro Kandidat: JOYclub Profil-Seite mit Cookie abrufen\n3. Username, Alter, Stadt + bis zu 3 CDN-Fotos extrahieren\n4. NocoDB updaten: Status ? `fotos_geladen`\n5. Workflow 3 triggern\n\n**Wird getriggert von:** Workflow 1 (automatisch) oder manuell",
        "height": 308,
        "width": 500
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "078338f6-ff6c-4ffb-a316-685653c1f801",
      "name": "Info"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "lv-profil-scraper",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        384
      ],
      "id": "229e82cf-9178-430b-a9bd-88ea7eb5e03f",
      "name": "?? Webhook Trigger",
      "webhookId": "lv-profil-scraper"
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "getAll",
        "projectId": "pu4jkb0uwe4ebev",
        "table": "mmvneegxgeltpav",
        "limit": 1,
        "options": {}
      },
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 3,
      "position": [
        208,
        384
      ],
      "id": "a14756e5-3837-41f6-a57e-a19be8ba5ef7",
      "name": "?? Cookies aus NocoDB",
      "credentials": {
        "nocoDbApiToken": {
          "id": "JTFuA8mXBcV97XFf",
          "name": "NocoDB Token"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://nocodb.f3-events.de/api/v1/db/data/noco/pu4jkb0uwe4ebev/m9qmqh26mhpnlld?where=(Status,eq,neu)&limit=50",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "xc-token",
              "value": "2l1BhPzXFj_Bb4pv9rKGpBMPZDkzpnKik7biab9-"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        400,
        384
      ],
      "id": "0a7ed272-cddb-4f40-8f3e-79914e44c01f",
      "name": "?? Kandidaten Status=neu laden"
    },
    {
      "parameters": {
        "jsCode": "// Kandidaten-Liste aus NocoDB aufbereiten\nconst cookieStr = $('?? Cookies aus NocoDB').first().json.Cookie || '';\nconst records = $input.first().json.list || [];\n\nif (records.length === 0) {\n  console.log('Keine Kandidaten mit Status=neu gefunden.');\n  return [];\n}\n\nreturn records.map(r => ({ json: {\n  _nocodb_id: r.Id,\n  profileUrl:  r.ProfilUrl,\n  _cookie:     cookieStr\n}}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        608,
        384
      ],
      "id": "4ee2e548-0c05-40bd-9b9a-82905df3636d",
      "name": "?? Kandidaten aufbereiten"
    },
    {
      "parameters": {
        "url": "={{ $json.profileUrl }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Cookie",
              "value": "={{ $json._cookie }}"
            },
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36"
            },
            {
              "name": "Accept",
              "value": "text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8"
            }
          ]
        },
        "options": {
          "timeout": 20000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        800,
        384
      ],
      "id": "e445a35c-9a42-4d1a-91e6-eec04eb7e7ee",
      "name": "?? Profil-Seite abrufen"
    },
    {
      "parameters": {
        "jsCode": "const html   = $input.item.json.data || '';\nconst prev   = $('📂 Kandidaten aufbereiten').item.json;\nconst profUrl = prev.profileUrl || '';\n\n// Benutzername aus URL: /profile/12345678.username.html\nconst usernameMatch = profUrl.match(/\\/profile\\/\\d+\\.([^.]+)\\.html/);\nconst username = usernameMatch ? usernameMatch[1] : '';\n\n// Galeriefotos aus JOYclub CDN (öffentlich, kein Auth nötig)\nconst cdnRx = /https?:\\/\\/(?:cdn\\d*|img)\\.joyclub\\.de\\/[^\"'<>\\s]+\\.(?:jpg|jpeg|png|webp)/gi;\nconst rawPhotos = [...html.matchAll(cdnRx)].map(m => m[0]);\nconst photos = [...new Set(rawPhotos)]\n  .filter(u => !u.includes('_thumb') && !u.includes('_small') && !u.includes('icon') && !u.includes('logo'))\n  .slice(0, 3);\n\nconst patch = { Username: username, Fotos: JSON.stringify(photos), Status: 'fotos_geladen' };\nreturn [{ json: {\n  _nocodb_id:  prev._nocodb_id,\n  _patchBody:  JSON.stringify(patch)\n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1008,
        384
      ],
      "id": "6fbbf01f-31f9-4ec6-bc1c-d2f780412626",
      "name": "?? Fotos + Info extrahieren"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://nocodb.f3-events.de/api/v1/db/data/noco/pu4jkb0uwe4ebev/m9qmqh26mhpnlld/{{ $json._nocodb_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "xc-token",
              "value": "2l1BhPzXFj_Bb4pv9rKGpBMPZDkzpnKik7biab9-"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "options": {
          "timeout": 10000
        },
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json._patchBody }}"
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1200,
        384
      ],
      "id": "8cf8c009-cf1b-4400-88a3-f3f50899335e",
      "name": "?? NocoDB updaten (fotos_geladen)"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n.f3-events.de/webhook/lv-telegram-sender",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1408,
        384
      ],
      "id": "ec88bd95-72e4-42f3-be7b-dfbfdf4ee6ad",
      "name": "?? Workflow 3 triggern",
      "executeOnce": true
    }
  ],
  "connections": {
    "?? Webhook Trigger": {
      "main": [
        [
          {
            "node": "?? Cookies aus NocoDB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "?? Cookies aus NocoDB": {
      "main": [
        [
          {
            "node": "?? Kandidaten Status=neu laden",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "?? Kandidaten Status=neu laden": {
      "main": [
        [
          {
            "node": "?? Kandidaten aufbereiten",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "?? Kandidaten aufbereiten": {
      "main": [
        [
          {
            "node": "?? Profil-Seite abrufen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "?? Profil-Seite abrufen": {
      "main": [
        [
          {
            "node": "?? Fotos + Info extrahieren",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "?? Fotos + Info extrahieren": {
      "main": [
        [
          {
            "node": "?? NocoDB updaten (fotos_geladen)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "?? NocoDB updaten (fotos_geladen)": {
      "main": [
        [
          {
            "node": "?? Workflow 3 triggern",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "4b239133-10ba-4e04-9f55-97bf5da96f69",
  "activeVersionId": "4b239133-10ba-4e04-9f55-97bf5da96f69",
  "versionCounter": 34,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-03-27T15:19:55.986Z",
      "createdAt": "2026-03-27T15:19:55.986Z",
      "role": "workflow:owner",
      "workflowId": "pcqVgwCQlLC8JhdS",
      "projectId": "XukWgY1K98HyiBd3",
      "project": {
        "updatedAt": "2026-03-23T08:24:01.303Z",
        "createdAt": "2026-03-03T08:09:28.635Z",
        "id": "XukWgY1K98HyiBd3",
        "name": "Tobias Kuschel <kuschel190190@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "ccf2cf04-ab03-4a3c-be8b-c898907df6eb"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-03-28T10:27:04.887Z",
    "createdAt": "2026-03-28T10:27:04.887Z",
    "versionId": "4b239133-10ba-4e04-9f55-97bf5da96f69",
    "workflowId": "pcqVgwCQlLC8JhdS",
    "nodes": [
      {
        "parameters": {
          "content": "## Schritt 2 von 4: Profil-Daten + Fotos extrahieren\n\n**Was passiert hier:**\n1. Alle Kandidaten mit Status=`neu` aus NocoDB laden\n2. Pro Kandidat: JOYclub Profil-Seite mit Cookie abrufen\n3. Username, Alter, Stadt + bis zu 3 CDN-Fotos extrahieren\n4. NocoDB updaten: Status ? `fotos_geladen`\n5. Workflow 3 triggern\n\n**Wird getriggert von:** Workflow 1 (automatisch) oder manuell",
          "height": 308,
          "width": 500
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          0,
          0
        ],
        "id": "078338f6-ff6c-4ffb-a316-685653c1f801",
        "name": "Info"
      },
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "lv-profil-scraper",
          "responseMode": "lastNode",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          0,
          384
        ],
        "id": "229e82cf-9178-430b-a9bd-88ea7eb5e03f",
        "name": "?? Webhook Trigger",
        "webhookId": "lv-profil-scraper"
      },
      {
        "parameters": {
          "authentication": "nocoDbApiToken",
          "operation": "getAll",
          "projectId": "pu4jkb0uwe4ebev",
          "table": "mmvneegxgeltpav",
          "limit": 1,
          "options": {}
        },
        "type": "n8n-nodes-base.nocoDb",
        "typeVersion": 3,
        "position": [
          208,
          384
        ],
        "id": "a14756e5-3837-41f6-a57e-a19be8ba5ef7",
        "name": "?? Cookies aus NocoDB",
        "credentials": {
          "nocoDbApiToken": {
            "id": "JTFuA8mXBcV97XFf",
            "name": "NocoDB Token"
          }
        }
      },
      {
        "parameters": {
          "url": "=https://nocodb.f3-events.de/api/v1/db/data/noco/pu4jkb0uwe4ebev/m9qmqh26mhpnlld?where=(Status,eq,neu)&limit=50",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "xc-token",
                "value": "2l1BhPzXFj_Bb4pv9rKGpBMPZDkzpnKik7biab9-"
              }
            ]
          },
          "options": {
            "timeout": 10000
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          400,
          384
        ],
        "id": "0a7ed272-cddb-4f40-8f3e-79914e44c01f",
        "name": "?? Kandidaten Status=neu laden"
      },
      {
        "parameters": {
          "jsCode": "// Kandidaten-Liste aus NocoDB aufbereiten\nconst cookieStr = $('?? Cookies aus NocoDB').first().json.Cookie || '';\nconst records = $input.first().json.list || [];\n\nif (records.length === 0) {\n  console.log('Keine Kandidaten mit Status=neu gefunden.');\n  return [];\n}\n\nreturn records.map(r => ({ json: {\n  _nocodb_id: r.Id,\n  profileUrl:  r.ProfilUrl,\n  _cookie:     cookieStr\n}}));"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          608,
          384
        ],
        "id": "4ee2e548-0c05-40bd-9b9a-82905df3636d",
        "name": "?? Kandidaten aufbereiten"
      },
      {
        "parameters": {
          "url": "={{ $json.profileUrl }}",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Cookie",
                "value": "={{ $json._cookie }}"
              },
              {
                "name": "User-Agent",
                "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36"
              },
              {
                "name": "Accept",
                "value": "text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8"
              }
            ]
          },
          "options": {
            "timeout": 20000
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          800,
          384
        ],
        "id": "e445a35c-9a42-4d1a-91e6-eec04eb7e7ee",
        "name": "?? Profil-Seite abrufen"
      },
      {
        "parameters": {
          "jsCode": "const html   = $input.item.json.data || '';\nconst prev   = $('📂 Kandidaten aufbereiten').item.json;\nconst profUrl = prev.profileUrl || '';\n\n// Benutzername aus URL: /profile/12345678.username.html\nconst usernameMatch = profUrl.match(/\\/profile\\/\\d+\\.([^.]+)\\.html/);\nconst username = usernameMatch ? usernameMatch[1] : '';\n\n// Galeriefotos aus JOYclub CDN (öffentlich, kein Auth nötig)\nconst cdnRx = /https?:\\/\\/(?:cdn\\d*|img)\\.joyclub\\.de\\/[^\"'<>\\s]+\\.(?:jpg|jpeg|png|webp)/gi;\nconst rawPhotos = [...html.matchAll(cdnRx)].map(m => m[0]);\nconst photos = [...new Set(rawPhotos)]\n  .filter(u => !u.includes('_thumb') && !u.includes('_small') && !u.includes('icon') && !u.includes('logo'))\n  .slice(0, 3);\n\nconst patch = { Username: username, Fotos: JSON.stringify(photos), Status: 'fotos_geladen' };\nreturn [{ json: {\n  _nocodb_id:  prev._nocodb_id,\n  _patchBody:  JSON.stringify(patch)\n}}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1008,
          384
        ],
        "id": "6fbbf01f-31f9-4ec6-bc1c-d2f780412626",
        "name": "?? Fotos + Info extrahieren"
      },
      {
        "parameters": {
          "method": "PATCH",
          "url": "=https://nocodb.f3-events.de/api/v1/db/data/noco/pu4jkb0uwe4ebev/m9qmqh26mhpnlld/{{ $json._nocodb_id }}",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "xc-token",
                "value": "2l1BhPzXFj_Bb4pv9rKGpBMPZDkzpnKik7biab9-"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "options": {
            "timeout": 10000
          },
          "contentType": "raw",
          "rawContentType": "application/json",
          "body": "={{ $json._patchBody }}"
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1200,
          384
        ],
        "id": "8cf8c009-cf1b-4400-88a3-f3f50899335e",
        "name": "?? NocoDB updaten (fotos_geladen)"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://n8n.f3-events.de/webhook/lv-telegram-sender",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {}
            ]
          },
          "options": {
            "timeout": 10000
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1408,
          384
        ],
        "id": "ec88bd95-72e4-42f3-be7b-dfbfdf4ee6ad",
        "name": "?? Workflow 3 triggern",
        "executeOnce": true
      }
    ],
    "connections": {
      "?? Webhook Trigger": {
        "main": [
          [
            {
              "node": "?? Cookies aus NocoDB",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "?? Cookies aus NocoDB": {
        "main": [
          [
            {
              "node": "?? Kandidaten Status=neu laden",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "?? Kandidaten Status=neu laden": {
        "main": [
          [
            {
              "node": "?? Kandidaten aufbereiten",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "?? Kandidaten aufbereiten": {
        "main": [
          [
            {
              "node": "?? Profil-Seite abrufen",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "?? Profil-Seite abrufen": {
        "main": [
          [
            {
              "node": "?? Fotos + Info extrahieren",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "?? Fotos + Info extrahieren": {
        "main": [
          [
            {
              "node": "?? NocoDB updaten (fotos_geladen)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "?? NocoDB updaten (fotos_geladen)": {
        "main": [
          [
            {
              "node": "?? Workflow 3 triggern",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Tobias Kuschel",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-03-28T10:27:04.961Z",
        "id": 107,
        "workflowId": "pcqVgwCQlLC8JhdS",
        "versionId": "4b239133-10ba-4e04-9f55-97bf5da96f69",
        "event": "deactivated",
        "userId": "ccf2cf04-ab03-4a3c-be8b-c898907df6eb"
      },
      {
        "createdAt": "2026-03-28T10:27:04.979Z",
        "id": 108,
        "workflowId": "pcqVgwCQlLC8JhdS",
        "versionId": "4b239133-10ba-4e04-9f55-97bf5da96f69",
        "event": "activated",
        "userId": "ccf2cf04-ab03-4a3c-be8b-c898907df6eb"
      }
    ]
  }
}