f3-automation/n8n/lv-5-status-api.json
{
  "updatedAt": "2026-03-27T16:13:18.010Z",
  "createdAt": "2026-03-27T15:25:58.774Z",
  "id": "JVfVCBdfj7VH3Bbh",
  "name": "lv-5-status-api",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "content": "## Schritt 4 von 4: Status ans Dashboard liefern\n\n**Was passiert hier:**\n- Dashboard ruft diesen Webhook live ab\n- Berechnet ob heute Donnerstag (Voting-Tag) ist\n- Liest letzten Sync-Zeitpunkt aus NocoDB\n- Gibt JSON für Dashboard-Karte zurück\n\n**Webhook URL:** `https://n8n.f3-events.de/webhook/f3-ladies-voting-api`",
        "width": 460
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "bee6cfa8-bb8a-4f31-a47a-d82e47a90cc2",
      "name": "Info"
    },
    {
      "parameters": {
        "path": "f3-ladies-voting-api",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        352
      ],
      "id": "fe146cf8-d0b8-4241-b48a-0fd0a4313699",
      "name": "🗳 GET /f3-ladies-voting-api",
      "webhookId": "f3-ladies-voting-api"
    },
    {
      "parameters": {
        "url": "=https://nocodb.f3-events.de/api/v1/db/data/noco/pu4jkb0uwe4ebev/m9qmqh26mhpnlld?where=(Status,eq,gesendet)&sort=-CreatedAt&limit=1",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "xc-token",
              "value": "2l1BhPzXFj_Bb4pv9rKGpBMPZDkzpnKik7biab9-"
            }
          ]
        },
        "options": {
          "timeout": 8000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        208,
        352
      ],
      "id": "61ecb5e8-e161-422b-88b0-c477fe5f3ca5",
      "name": "📋 Letzten gesendeten Kandidat laden"
    },
    {
      "parameters": {
        "jsCode": "// Voting-Tag (Donnerstag) berechnen\nconst now = new Date();\nconst day = now.getDay(); // 0=So, 4=Do\nconst isVotingDay = day === 4;\nconst daysUntil = isVotingDay ? 0 : ((4 - day + 7) % 7) || 7;\n\nconst next = new Date(now);\nnext.setDate(now.getDate() + daysUntil);\n\nconst fmt = d => d.toLocaleDateString('de-DE', {\n  day: '2-digit', month: '2-digit', year: 'numeric'\n});\n\n// Letzten Sync-Zeitpunkt aus NocoDB (CreatedAt des letzten gesendeten Eintrags)\nconst lastRecord = $input.first().json.list?.[0];\nlet lastSyncAt = '—';\nif (lastRecord?.CreatedAt) {\n  try {\n    lastSyncAt = new Date(lastRecord.CreatedAt).toLocaleString('de-DE', {\n      day: '2-digit', month: '2-digit', year: 'numeric',\n      hour: '2-digit', minute: '2-digit'\n    });\n  } catch(e) {}\n}\n\nreturn [{ json: {\n  isVotingDay,\n  daysUntil,\n  nextVotingDate: fmt(next),\n  lastSyncAt\n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        352
      ],
      "id": "86e4614a-f425-45c8-bcd9-841cb4c21804",
      "name": "📅 Voting-Status berechnen"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Content-Type",
                "value": "application/json; charset=utf-8"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        608,
        352
      ],
      "id": "ec4b6a4a-eb84-4425-bd33-a30124902636",
      "name": "📤 JSON Response"
    }
  ],
  "connections": {
    "🗳 GET /f3-ladies-voting-api": {
      "main": [
        [
          {
            "node": "📋 Letzten gesendeten Kandidat laden",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Letzten gesendeten Kandidat laden": {
      "main": [
        [
          {
            "node": "📅 Voting-Status berechnen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📅 Voting-Status berechnen": {
      "main": [
        [
          {
            "node": "📤 JSON Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "b3b64bba-4749-4ab3-b492-80148142ef18",
  "activeVersionId": null,
  "versionCounter": 5,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-03-27T15:25:58.774Z",
      "createdAt": "2026-03-27T15:25:58.774Z",
      "role": "workflow:owner",
      "workflowId": "JVfVCBdfj7VH3Bbh",
      "projectId": "XukWgY1K98HyiBd3",
      "project": {
        "updatedAt": "2026-03-23T08:24:01.303Z",
        "createdAt": "2026-03-03T08:09:28.635Z",
        "id": "XukWgY1K98HyiBd3",
        "name": "Tobias Kuschel <kuschel190190@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "ccf2cf04-ab03-4a3c-be8b-c898907df6eb"
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}